[2020-01-12 00:00] mplanchard commented on #259
I've opened a GH issue w/RTD to see if we can get this resolved

[2020-01-12 05:32] #257 closed

[2020-01-12 09:27] Helveg commented on #288
A callable function with 2 arguments that would validate a JWT token that was sent as the password, lacking access to the `request` and its headers.

[2020-01-12 12:39] ror6ax commented on #259
Hi I will try to reassign ownership to you later today when I get back
home.

On Sun, 12 Jan 2020, 01:00 Matthew Planchard, <notifications@github.com>
wrote:

[2020-01-14 02:52] mplanchard commented on #259
@ror6ax I think if you comment in the linked issue (readthedocs/readthedocs.org#6516), they might be able to transfer also

[2020-01-14 08:56] ror6ax commented on #259
Done

On Tue, 14 Jan 2020 at 03:52, Matthew Planchard <notifications@github.com>
wrote:

--
<https://about.me/gregory.reshetniak?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=edit_panel&utm_content=thumb>
Gregory Reshetniak
about.me/gregory.reshetniak
<https://about.me/gregory.reshetniak?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=edit_panel&utm_cont

[2020-01-14 17:36] skruger commented on #246
I think this is an inevitable part of how pypi server works. I had similar problems with mine and I ended up solving it by decorating digest_file, listdir, and find_packages in pypiserver.core and implementing some caching in my custom decorators.

Because pypiserver doesn't have a metadata database it has to scan the filesystem for every request.

[2020-01-15 18:51] ric79 commented on #286
Hello, I just noticed that the server hangs after browsing http://XXXX:8082/packages/

Here there is my docker run

[code]
Logs are ok:

[code]

and `python3 setup.py sdist upload -r local` works.
However after browsing packages it hangs:
[code]

[2020-01-15 19:19] Qblack commented on #286
@ric79 Any chance its only chrome where browsing breaks it?

[2020-01-16 07:11] ric79 commented on #286
No. The hang is not during browsing. It happens after browsing the /packages and it becomes impossible to upload (ie 'python3 setup.py sdist upload -r local')

[2020-01-17 08:32] deemetree-at-satelligence commented on #253
@mplanchard I have created a simple solution for the time being as a plugin to manage files between App Engine and Cloud Storage and would then submit it as a pull request if you are interested! Would much appreciate comments and collaboration on that further.

[2020-01-17 19:29] Qblack commented on #286
Ok. We just discovered that after going to the server page in chrome we can no longer pip install from the server with out a restart. None of the other browsers are affected.

[2020-01-17 20:54] ric79 commented on #286
Browsing /packages using Firefox does not raise the issue at all. Using the Chrome and Firefox debugging tools I've seen that the former uses HTTP/1.1 and the latter HTTP/1.0

FIREFOX
[code]
CHROME
[code]

[2020-01-20 00:33] mplanchard commented on #286
Wow, this is super weird. I have no idea offhand what might be causing this. I will find some time this week to dig in and see if I can replicate. Just to clarify, have y'all seen this behavior with both the docker image and local runs?

[2020-01-20 00:36] mplanchard commented on #253
@deemetree-at-satelligence yep, I'd love to work on incorporating that into pypiserver and am happy to collaborate w/you on that! If more discussion is needed before opening a PR, feel free to open a new issue to discuss it, or go ahead and open a PR if you'd like 🎉

[2020-01-20 00:42] mplanchard commented on #259
Thanks! I'll leave this issue open to remind me to get around to updating them or deleting them

[2020-01-20 00:45] mplanchard commented on #246
Have y'all tried the caching solution described in the README? https://github.com/pypiserver/pypiserver#serving-thousands-of-packages

[2020-01-20 03:47] Qblack commented on #286
I have only seen it on local runs. I have not tried docker.
I set up a fresh install of the server (have tried latest and previously latest version) and initially i did not have the problem again. However after refreshing http://localhost:8080/simple/requests/ in chrome the issue appeared and then was reproducible with only a single page visit.

Here are some log files from  -v let me know if ther

[2020-01-20 07:59] ric79 commented on #286
Qblack verified the issue on local server. I had the same issue on Docker v1.3.2

[2020-01-21 22:55] npwolf opened #296 "Does not support PEP 503 and allows incompatible versions to be downloaded"
In light of setuptools 45 now supporting Python 2.7, I noticed the behavior of pypiserver causes pip to download and error. I believe supporting PEP 503 and propagating to a data-requires-python attribute in the file links would stop this. See https://github.com/pypa/pip/issues/7586#issuecomment-573460206

Here is a log that shows the behavior of pypiserver vs the official pypi:

pypiserver instal

[2020-01-24 17:15] ostefano commented on #296
This is even more critical when creating a new virtual environment for python 2.7, since `virtualenv` would download `setuptools-45.0.0`, and no upgrade (downgrade via pip) would actually remove it. Only solution is to download the wheel manually.

[2020-02-03 01:18] asabbagh commented on #256
- Can you clarify where the 2 commands in option 3 would be executed? Inside the docker container, or on the host? Do you need to also create a user, or will the group suffice?
- What is the difference between option 3 and option 4? I thought option 3 was also "adjusting the ownerhsip of the directory". Or are you referring to the `98989` (in which case I believe that might just have been a typo i

[2020-02-17 01:40] mplanchard commented on #256
These would need to be run on the host.

The issue is that the `package` directory being mounted in the container retains the same UID/GID settings as on the host. So if your host user is user 1000, and your user owns the `packages` directory, it'll still be owned by user 1000 inside the docker container, even though that user does not exist. You do not need to create the user, because the `pypise

[2020-02-17 17:37] Hedgehogues opened #297 "Not found any packages"
I do next things

```pip install --extra-index-url http://1.2.3.4:8081/ grader_v2_storage --trusted-host 1.2.3.4```

After that, I get

[code]

I have next config on ~/.pip/pip.conf:

[code]

Notice: I have login as **login** and password as **pass\\word** (warning)!

If I remove config above, I can login with handle login and password:

[code]

[2020-02-17 17:37] Hedgehogues commented on #297
How I fix it?

[2020-02-17 17:59] Hedgehogues commented on #297
This is problem with password

[2020-02-17 17:59] #297 closed

[2020-02-18 11:13] deemetree-at-satelligence commented on #253
@mplanchard sorry, was a bit swamped this month with other tasks, but am picking it up! I will open up a WIP pull request soon

[2020-02-18 16:53] mplanchard commented on #253
Hey, no rush at all. I'm in the same boat 99.9% of the time 😄

[2020-02-18 16:54] mplanchard commented on #297
Glad you figured it out! Thanks for following up & closing the issue

[2020-03-03 04:54] JulianFerry opened #299 "docker container's pypi-server command not displaying mounted packages"
### Setup:

I'm on Mac OSX. My folder structure is:
[code]

`docker-run.zsh` is just one line:
```docker run -p 80:8080 -v ~/pypi/packages:/data/packages pypiserver/pypiserver:latest```

I run the docker container with `source docker-run.zsh`.

### Problem:

When I open http://localhost:80 I get a response from the server, but it displays "This is a PyPI compatible package index serving 0 packages

[2020-03-03 14:04] pitthecat commented on #286
We also have some problems with random server hanging.

Our setup is:
- CentOS 7.6.1810
- Python 2.7.5
- pypi server installed via pip
- Running the server as systemd service

Sometimes PyPi seems to hang randomly. In such a case the systemd process is still active, but you cannot reach or curl the webserver from outside or localhost.

A simple sudo systemctl restart pypi solves the problem and th

[2020-03-04 06:12] JulianFerry commented on #299
### Update:

I was running a homebrew installation of `docker-machine`, using driver `docker-machine-driver-xhyve`. I think that it was applying some firewall restrictions since I was also unable to get docker containers to talk to each other through a docker network.

I have since moved to Docker for Mac and it resolved the issue.

[2020-03-04 06:12] #299 closed

[2020-03-06 11:44] mekza commented on #282
@HenrryVargas there is a missing space after `:` in your credentials map.

[code]

[2020-03-13 10:13] 6e656d6d61 commented on #286
Same here, the server randomly hang (sometimes during an upload), and it need to be restart through systemd. Is there any explanation ? Fix ?

[2020-03-17 16:28] davidt99 commented on #286
After some investigation, It seems that the server is stuck on CPU operation and the default server configuration is to have only one thread. Initially, I thought it was a regex but eventually, it was the hashing algorithm that I set it to off.

[2020-03-22 08:14] davidt99 commented on #286
The last thing I did was to switch the server implementation to gunicorn and gevent, which sorted everything for me.

[2020-03-22 11:11] 6e656d6d61 commented on #286
I also switched to gunicorn, so far I no crash.

[2020-03-24 08:47] ric79 commented on #286
Hello guys, could you provide me how to switch to gunicorn and gevent?

[2020-03-24 21:36] davidt99 commented on #286
The docker image is poorly configured - there are no dependencies for other server implementations.
I had a problem to run gunicorn since gunicorn reads the `sys.args` and doesn't recognize pypiserver args.
I've created a [branch on my fork ](https://github.com/intezer/pypiserver/tree/hang-fix) with some fixes so you can build it from there or until we fix this up, use my docker image: `intezer/py

[2020-03-24 21:37] davidt99 commented on #286
@mplanchard let me know if you want me to open a PR for those changes.

[2020-03-25 16:30] AlexGustafsson commented on #267
Hi, @mplanchard. Sorry for sort of hijacking this issue. I depend on the feature fixed in https://github.com/pypiserver/pypiserver/pull/273. Any idea of when the next release containing the fix will happen?

[2020-03-27 06:10] ric79 commented on #286
Thanks. What is the watchdog feature?

[2020-03-28 19:03] davidt99 commented on #286
https://github.com/pypiserver/pypiserver#serving-thousands-of-packages

[2020-03-29 14:04] TiemenSch opened #302 "Path prefix with bottle.default_app.mount()"
I was wondering why serving the pypiserver under a host path prefix is rather difficult. I read #155, but cannot quite understand why I would have to resort to nginx proxy setups right away.

I looked through some bottle snippets, and came across the following:

[code]

Now given that the other issue was deliberately labeled as ``wontfix``, I was wondering if there are potential dangers that I'm o

[2020-04-06 22:46] vEpiphyte commented on #223
@mplanchard Have you had any further thoughts on this? I'm looking at a similar issue as @lukasz-madon mentioned.

[2020-04-15 13:24] LordEvron commented on #268
@mplanchard  This bug seems to be still present in v1.3.2 running on latest docker image.
curl --form ":action=remove_pkg" --form "name=$mypackage" --form "version=0.0.0" $PYPIURL
Still remove only the tar.gz file and not the .whl.

[2020-04-17 19:00] Hedgehogues opened #304 "deadlock server"
Hello. I run docker-compose with auth. Sometimes, I open browser with server and after that, my pypi-server goes to deadlock and it doesn't response anymore. I need to wait a lot and close the page with pypiserver or reboot docker container. What reasons this case?

[2020-04-28 01:59] CatsNipYummy opened #305 "Setting password for docker image"
How do I set the username and password while running pypiserver docker image? Or is there a default username and password set? I am not able to upload using twine cause I am not sure about the username and password.

[2020-04-29 06:21] jiayu-hotstar commented on #286
same issue here! any update?

I also notice that when one request hangs, I can open another request to access the same url, and both request are processed suddenly.

[2020-04-30 09:29] CCyutaotao commented on #212
[code]
I have the same problem as well. but only happend where i use supervisor
[code]

when i run `/home/work/project/ven3.7/bin/pypi-server -P . -a .  -p 6666` in terminal, it runs well

[2020-05-07 20:19] olefemmy opened #306 "Permission for /data/auth"
The permission for authentication does not seem to work as expected, and this seems to be due to the fact that `/data/auth` is not owned by `pypiserver user`.

If what was done for `/data/packages` is done for `/data/auth`, then it works.

So, something like `mkdir -p /data/auth  && chmod g+s /data/auth` should work in your image.

[2020-05-07 20:35] olefemmy commented on #305
You might need to use docker volume and reference it in the `pypiserver` command on startup like ` -P /data/auth/.htpasswd -v -a update,download /data/packages`. In other words, you should have mounted `/data/auth` to a local folder where you have created a `.htpasswd` file containing the user/password credentials. I don't think the permission is correct within the docker image though, which I hav

[2020-05-07 21:18] CatsNipYummy commented on #305
Thanks. Referencing issue here #306

[2020-05-10 18:54] Julian opened #307 "Consider further clarification about the relationship to PyPI"
Hi -- (thanks for making this!)

Would you possibly consider language at the start of the README making it even more clear that this project is not related to PyPI / PyPI.org itself, nor is it what PyPI.org runs?

I've unfortunately seen multiple different folks confused by it and had to explain to them that this project is unrelated (I suspect mostly by the name of the package and not knowing muc

[2020-05-10 23:28] mplanchard commented on #307
Yeah, absolutely! Always happy to update the docs to make things more clear. The company where I work has been super busy due to the COVID-19 situation, so I've been a bit lax about doing updates here, but I'm happy to review a PR to make it clear that we're not directly associated with PyPI or the Python Packaging Authority. Alternatively, I can get a wording change in when things calm down a bit

[2020-05-11 12:13] Julian commented on #307
Thanks for the quick response, that's great! Will try to put something together for comments.

(And of course no worries on the business, trust me I understand...)

[2020-05-17 10:30] Hedgehogues opened #309 "[BUG] Upload failed (500): with volume"
I start such configuration of docker-compose
[code]

I have a problem with volume of packages: ` - ./packages:/data/packages`. If I forgot about packages volume, it's all right. But with this line, I have next line while I upload my test package with next command:

`python setup.py bdist_wheel upload -r test`

I have next log:

[code]

**Notice**
If you want try my example completely, you can do n

[2020-05-24 09:25] rozsasarpi opened #311 "pip install <...> does not download files hence ERROR: Cannot determine archive format is thrown"
I set up a pypiserver on Ubuntu 18.04 LTS (you should also be able to see it):
http://pypi-server-ubuntu-2.westeurope.cloudapp.azure.com/

 Adding new packages with `twine` does work, you can see the available packages by clicking on the above link.

However, when I try to `pip install` a package, e.g.
[code]

I get the following error message (the same error message on Windows and Ubuntu as well)

[2020-05-24 13:22] rozsasarpi commented on #311
I turns out that `--trusted-host` should also have a value, with this command it works:
[code]

Maybe there could be a more descriptive error message or catching if no value is provided for a named input argument.

[2020-05-24 13:22] #311 closed

[2020-05-27 21:14] mgorny opened #312 "A few tests fail when Internet isn't available"
When running the test suite in an environment isolated from Internet, 5 tests fail. FWICS, pip is trying to connect to pypi.org for some reason. Maybe it's expected but since the vast majority of tests work using the local server, and the package doesn't seem like the thing you'd expect from pypi.org...

That's with pip-20.1.1. I'm attaching test results using Python 3.7.7 but I can reproduce it w

[2020-05-28 06:43] mgorny commented on #312
Hmm, apparently `fallback_url` is the culprit. However, the tests still fail if I disabled the fallback. So there could be some hidden issue beneath.

[2020-06-02 14:08] kodaman2 opened #313 "Question: Any suggestions for running on Windows as service"
Any suggestions on running on windows as a service? I don't seem to find any info online. Is there such solution other than a full blown apache server?

My needs are very small, and works great with the quickstart commands.

[2020-06-02 14:30] kodaman2 commented on #313
Nevermind just tried NSSM https://nssm.cc/ for anyone looking for how to do it:

create a batch file such as start_pypiserver.bat, I made the bat inside my Packages folder but it can be anywhere:

start_pypiserver.bat:
[code]

Download nssm, and place in Program Directories, and also in environment PATH.

[code]

This will launch a small window, on path browse to the bat. Then change service name

[2020-06-02 14:30] #313 closed

[2020-06-02 16:41] kodaman2 opened #314 "Question: How to avoid fetching from pypi.python.org"
I have pypiserver running behind a firewall for internal packages. Is there a way to configure it so it won't try to connect to `pypi.python.org`.

Related question how can I silence the insecure transport scheme warning?

[2020-06-02 17:11] kodaman2 commented on #314
I figured out this are pip configuration issues not pypiserver.

[2020-06-02 17:11] #314 closed

[2020-06-04 23:56] mplanchard commented on #313
Super glad you found a way to do this, and thanks for following up with implementation details! Feel free, if you feel like it, to open a PR to add these instructions to the README for anyone else working on windows. Otherwise I'll make a note to include this in the next update

[2020-06-05 00:19] mplanchard commented on #312
This is interesting, thanks for the report! I agree there's no reason we shouldn't be able to run the test suite sans internet. Might be some way we can configure pip for those tests to prevent it from reaching out to the world.

[2020-06-05 00:27] kodaman2 commented on #313
@mplanchard No problem, I'll submit PR here in the next few days. That will definitely help windows users for sure.

[2020-06-05 00:39] #307 closed

[2020-06-05 00:40] mplanchard commented on #305
Going to go ahead and close this. Feel free to respond if you need any more help or would like to reopen the issue 👍

[2020-06-05 00:40] #305 closed

[2020-06-05 02:07] tirkarthi opened #315 "Deprecation warning due to invalid escape sequences"
Deprecation warnings are raised due to invalid escape sequences. This can be fixed by using raw strings or escaping the literals. pyupgrade also helps in automatic conversion : https://github.com/asottile/pyupgrade/

[code]

[2020-06-05 16:32] mplanchard commented on #315
Thanks for raising this issue! I'll get these updated for the next version 👍. Also happy to accept a patch if you've got the time.

[2020-06-19 14:47] davidt99 commented on #304
Use gunicorn as a server instead of the default one

[2020-06-23 16:55] dm-intropic opened #318 "different credentials for upload / download"
More a question than issue - it is possible to have one set of credentials for uploading packages to the server, and different credentials for downloading?
Would like to restrict who can upload to a smaller set than who can download, but unsure if this functionality is here / on the roadmap.

[2020-06-23 22:25] mplanchard commented on #318
Unfortunately it's not currently possible to have different credentials per authenticated user. This is something we're interested in adding eventually, but for now, if you need this functionality, you might want to check out [an alternative](https://github.com/pypiserver/pypiserver#similar-projects) server.

[2020-07-02 07:05] kokare-darshan opened #319 "pip install --pre is not working while install version 1.5.3rc1 or even 1.5.3.rc1 packages"

[2020-07-03 06:10] #319 closed

[2020-07-10 03:04] #315 closed

[2020-07-10 03:14] mplanchard commented on #309
Were you able to figure this out? If not, could you run pypiserver in verbose mode (with a `-vvv` argument) and paste the output?

[2020-07-10 03:27] mplanchard commented on #302
I'm definitely not against adding something like this in. Things very well may have changed in bottle since #155.

[2020-07-10 03:32] mplanchard commented on #306
Are you running the container on linux?

[2020-07-10 08:51] olefemmy commented on #306
Yes, on Linux...

[2020-07-11 00:56] mplanchard commented on #306
The issue w/volumes in Linux is that the docker engine doesn't automatically run the container as the host user, so accessing things within the volume is problematic. I'm a little more hesitant to run `chmod` on users' auth stuff than on the package directory by default. I think it might be okay, but I'd like to think about it a bit more. In the meantime, I think the workarounds described [here](h

[2020-07-13 15:23] olefemmy commented on #306
Oh no, I have fixed the problem locally like I suggested. I was only suggesting improvements.

[2020-07-14 14:28] Luttik commented on #253
Any news on this? I would love this functionality.

[2020-07-14 18:20] mplanchard commented on #253
- @Luttik not sure where the others are at, but this is far from a simple thing to implement. Particularly with incoming changes that require unzipping and introspecting package metadata to provide the "requires-python" data for pip (see #320), we're going to need to figure out some kind of robust caching strategy to support remote stores with anything like acceptable latency. This of course becom

[2020-07-14 18:25] Luttik commented on #253
@mplanchard thanks for the info that is really insightful. Maybe we can learn something from PyPiCloud in this regard. Since they have already implemented bucket support. (PyPiCloud has other issues though; mediocre documentation, an unintuitive interface and unexpected errors or inconsistencies).

[2020-07-14 18:51] deemetree-at-satelligence commented on #253
@mplanchard @Luttik hello! sorry for my afk for a while, but coincidentally I am picking it up from the planned list and started working on finalizing it again as of last week. I am planning to be ready with a some minimal example integrated to Pypiserver next week, I forked the project here (it's been a bit stale for a while...) [https://github.com/deemetree-at-satelligence/pypiserver/](https://g

[2020-07-14 19:01] deemetree-at-satelligence opened #322 "pypiserver on AppEngine with Google Storage"
# What

Branching off from https://github.com/pypiserver/pypiserver/issues/253 to coordinate this specific idea.

## Proposal

I've forked the repository to add a basic setup allowing to host the package manager on `Google AppEngine` with `Google Storage` as the persistence: https://github.com/deemetree-at-satelligence/pypiserver/tree/deemetree-appengine-plugin

I have it running already in own en

[2020-07-14 19:02] deemetree-at-satelligence commented on #253
I opened a separate issue here: https://github.com/pypiserver/pypiserver/issues/322, let me know if anything should be adjusted

[2020-07-14 19:07] mplanchard commented on #322
Thanks for opening this ticket and helping dive in on the details! I'm at work for a bit yet today, but I'll pop back in tonight with feedback 👍

[2020-07-14 19:50] Luttik commented on #322
@deemetree-at-satelligence you mentioned in #253 that the branch you mentioned is working fine for your team right now. For us it is also not mission critical (yet), but I'd love to give it a try already. Could you add a section to the readme that specifies what you need to configure (asside from the normal pypiserver config) to get this to run?

That would be awesome.

PS. I totally get it if you

[2020-07-15 01:52] mplanchard commented on #322
@deemetree-at-satelligence, I went and took a look at your branch, and I dig it. It's well organized and clean. I'm not super familiar with AppEngine (I believe I used it once at a job maybe 5 years ago), but it seems clear enough what's going on.

I particularly like how you've gotten it to sit right on top of all of the existing functionality using the bottle hooks. We've had a sort of standing

[2020-07-15 13:07] deemetree-at-satelligence commented on #322
hey @mplanchard @Luttik, thanks a lot, that actually is amazing to hear! Very glad to read such a review, thanks a lot!

wow, I was actually thinking about that because originally I developed it as an extension on top of pypiserver, so I am very glad to hear, but I think I would actually indeed prefer it to become a part of this project. For a combination of reasons - objectively at this point I w

[2020-07-15 18:33] Luttik commented on #322
@deemetree-at-satelligence I'd also love to have a docker for this... Id also wonder if it would be possible to not only host the packages but also the .htaccessfile in a bucket. That way you would have to deal with the whole persistent volume hassle in kubernetes.

[2020-07-16 00:58] mplanchard commented on #322
Sounds good! I'll go ahead and add that account.

Excellent. Feel free to post here if you run into any issues that I might be able to help with

[2020-07-17 15:05] simingy opened #324 "Cache - not working"
- running pypiserver with cache in a container
- volume mounted an NFS directory where the package wheel files (package_root)

we ended up in a situation where the files we put into the directory was not being seen - due to cache.

the same hosting system without the cache works - all files are seen, albeit a bit slower.

[2020-07-17 15:10] simingy commented on #324
restarting the service works - which clears the cache

[2020-07-17 15:18] simingy commented on #324
it seems two files were copied to a directory that's being watched one after another
since it's NFS, it could be a bit slower - is it possible that the watchdog picked up the first file, and while it's refreshing the cache, didn't see the 2nd one (in-flight-copy), and the subsequent event was dropped for the 2nd file?

[2020-07-20 21:58] deemetree-at-satelligence commented on #322
@mplanchard thanks! that's great to hear, I have tried to tidy it up a little today, I will be trying to simplify it a bit more, also tried running it on my own AppEngine but that didn't work in the beginning, I will look into it later this week.

@Luttik, I've added a few sentences in the README, so please feel free to try it out (keep in mind the code is not tested and since it diverged a bit fr

[2020-07-21 06:38] Luttik commented on #322
@deemetree-at-satelligence the added docs are super clear 👍. I'd love to find some time to test it manually (or help write tests) but I think I'll have a hard time finding spare time this week...

[2020-07-28 14:24] Luttik commented on #322
@deemetree-at-satelligence another question. Have you changed anything about the .htaccess file? Can that also be stored in the bucket, or is that a bad idea?

[2020-07-29 14:27] Luttik commented on #322
I tried to build a docker based on @deemetree-at-satelligence form see my [new fork here](https://github.com/Luttik/pypiserver/tree/deemetree-appengine-plugin). I have the issue that the build process seems to exclude the `community` module that @deemetree-at-satelligence added. Hence, the resulting docker will always result in a `ModuleNotFoundError: No module named 'pypiserver.community'`

I hav

[2020-07-30 14:14] Luttik commented on #322
For those coming here just to get PyPiServer to work with GCS buckets (to get some nice multi-read-write persistent storage) this code worked for me: [gist](https://gist.github.com/Luttik/ec8aad6ce43a26d81081c6f9df758452)

Of course, you need to add your own `.htpasswd` and google cloud service account credentials (`pypi-bucket-editor-credentials.json` the service account needs at least google clo

[2020-07-30 16:38] deemetree-at-satelligence commented on #322
@Luttik hello! Hey, great, thanks for picking it up!
I am still working on cleaning up the code in this fork, hence indeed it might be (unfortunately) possible that the build fails (I was getting to investigate that too last time and was exactly the moment I called it a day). Nice, nice to see you got something working with the docker, that's great :+1:

I will be aiming at testing the setup with

[2020-07-30 18:27] Luttik commented on #322
@deemetree-at-satelligence are you open to a call about the current status and potential next steps? We both live in the Netherlands so it should be easy to setup. You can email me your preferred method of communication (dtluttik@gmail.com).

[2020-07-30 19:27] Luttik opened #325 "On modernization, code quality and contributions."
Let me start by saying that it is amazing that after almost 10 years this library is still the most popular (if you look at the github stars at least) way of hosting your own pypiserver.

That said it does scare me that at this point @mplanchard is the only active maintainer to this project. Especially since the only comparable system that is actively maintained, devpi, is in a similar position wi

[2020-07-30 19:52] aadith-pm commented on #325
I'd certainly like to help out if there is going to be a push for any of these. We've been setting up pypiserver and it's helped a lot so far. Surely want to contribute and give back.

[2020-07-30 19:55] aadithpm commented on #325
I'd certainly like to help out if there is going to be a push for any of these. We've been setting up pypiserver and it's helped a lot so far. Surely want to contribute and give back.

Personally think this is a great starting point because this doesn't seem like good practise in my limited experience, but I can see why this was done initially.

[2020-07-31 13:36] deemetree-at-satelligence commented on #322
@Luttik hello! To be honest at this point I am rather busy and don't see a lot of added value in the call. I am sorry this process is going so slow but I really don't have that much free time on my side... So. Could you please explain what you are trying to achieve? If you are impatient to get it running, I have created a [gist](https://gist.github.com/deemetree-at-satelligence/793ca96bd571bba40ce

[2020-07-31 14:17] Luttik commented on #322
@deemetree-at-satelligence no rush. I just think that if we want to make a real effort to get this onto the main branch I think it is good to make it a coordinated effort and keep each other up to date on the architectural choices and our thought process. I don't believe github issues is the best medium for that type of communication.

I don't have a rush since I have a working pypiserver myself (

[2020-07-31 18:22] jacek-jablonski opened #328 "access log printed to stderr"
Hi,

I've noticed that access log messages like:
`[31/Jul/2020 18:13:23] "GET / HTTP/1.1" 200 1009`
are printed to stderr. Cloud monitoring systems like stackdriver qualifies these messages as errors, so as you may presume error reports list is polluted.

I've also noticed that there is no simple way to change this behavior. Docs mention `--log-conf` cli parameter, but it isn't used anywhere in co

[2020-08-20 18:51] usmcamp0811 opened #329 "Unable to Upload"
Just spent a couple hours trying to upload packages to my `pypiserver` with zero luck. Am I doing something wrong.. or is there a legit bug? Below are all the things I've looked at and configured. My current best guess is that something isn't happen I am trying to do this over HTTP.

[code]

I have tried to upload with Poetry and Twine both return

[code]

I've search high and low and I've seen ot

[2020-08-26 15:06] dee-me-tree-or-love commented on #322
Hello everyone, back from the holidays (@deemetree-at-satelligence original-self).

@Luttik thanks for your comments, so what I wanted to come back to before the vacation and now.
I fully agree and actually support your enthusiasm for making this project more lively but would ask to move this discussion away from this issue as it is out of the scope of this specific proposal.

It would be great in

[2020-08-26 15:10] dee-me-tree-or-love commented on #325
That's nice, all hands up for it. However, let's keep in mind the feasibility and urgency of this in the light of increased possibilities of package hostings provided as a service (e.g. GitLab made their PyPi server also available for users https://gitlab.com/help/user/packages/pypi_repository/index.md).

If you could transform your changes into todo items:
- [ ] like this: `- [ ] Dropping support

[2020-08-26 15:27] dee-me-tree-or-love commented on #328
Oh, nice catch, thanks, I will try to take a closer look in the near time!

[2020-09-01 06:14] normoes commented on #309
The problem is that - in the Dockerfile - the permissions for `/data/packages` are set and the ownership as well.

However, as soon as the directory isdeclared as `VOLUME` and mounted as such, the ownerships switchesbacke to`root`.

I addressed this here: https://github.com/pypiserver/pypiserver/pull/330

[2020-09-02 07:56] g3n35i5 opened #331 "Running pypiserver from script"
PyPiServer works perfectly, thank you very much for the great work! I would like to know if it is intended that the server can also be started from a script, something like

[code]

[2020-09-08 01:59] variable opened #332 "Is it possible to authenticate by private key?"
I am trying to setup CI/CD to upload to pypi server, just wondering if there is a way to authenticate via a private key instead of username/password?

[2020-09-08 06:59] dee-me-tree-or-love commented on #328
@jacek-jablonski I've checked out the code base and indeed, logging is not very well managed yet. Related to your question I found that the access logs are handled by `bottle` package itself and there is a [related discussion on StackOverflow](https://stackoverflow.com/questions/28984752/python-flask-writes-access-log-to-stderr). I'll try to check it out and fix up the configuration and the loggin

[2020-09-08 09:08] tonglei100 opened #333 "Feature Request: cache packages from pypi.org"
In the internal network, all hosts is blocked. Only the pypiserver can access to the internet.
When the package is not found, we need the pypiserver auto download from pypi.org, thank you!

[2020-09-08 10:38] jacek-jablonski commented on #328
Thanks for information. I'll of course help in testing and reviewing.

[2020-09-08 16:51] dee-me-tree-or-love commented on #331
yes, that can work too. What you would need to do is:
[code]
and then run it with python:
[code]

You can also use this approach to run it with [`gunicorn`](https://gunicorn.org/) or other servers, e.g. `gunicorn -w 4 my_pypiserver:app`

[2020-09-09 07:26] g3n35i5 commented on #331
Awesome, thank you very much! I'll close this issue.

[2020-09-09 07:26] #331 closed

[2020-09-09 12:38] elfjes commented on #328
It's actually not that difficult. The thing is that when calling `logging.basicConfig()`, a default `StreamHandler` is added to the root logger. by default, a `StreamHandler` logs to `stderr`. Luckily, it's really easy to tell `basicConfig` to use `stdout` instead. PR is coming up.

Testing it is harder though, since pytest messes with the root logger, so `basicConfig` behaves differently during t

[2020-09-09 13:45] usmcamp0811 commented on #329
That worked! Thanks!!!

[2020-09-09 13:45] #329 closed

[2020-09-14 14:32] dee-me-tree-or-love commented on #328
@elfjes that's really nice, thanks for the quick fix!
I've checked the merge request, that's indeed a nice find, to make it though compliant with @jacek-jablonski request, could you look into setting it to `stdout` only when specified so in the configs? Otherwise, it will print to stdout at all times, not sure if that's the right approach, right? Correct me if I am wrong of course.

Also have a su

[2020-09-14 21:34] elfjes commented on #328
@dee-me-tree-or-love I've added a configuration option for it and some tests. I've also removed the non-implemented `--log-conf` option from the docs so as to not confuse future people.

Looking further into the logging though, I'm not 100% sure this catches all log messages from all supported wsgi servers. Some of them, like stdlibs `wsgi_ref` seem to write to `stderr` directly, although this sho

[2020-09-15 02:29] mplanchard commented on #333
Hi!

The combination of these two config values determine the fallback behavior for pypiserver:

[code]

Unless you're setting `--disable-fallback`, pypiserver should automatically look for packages on `pypi.org` if your requested package is not found.

[2020-09-15 02:32] mplanchard commented on #332
This is not currently possible, no. For a CD context, you could set up an htpasswd file for a "machine account", and include the credentials in your pipeline.

[2020-09-15 03:13] mplanchard commented on #325
Hey there!

Yes, indeed, I have been the only maintainer for a while now, up until @dee-me-tree-or-love joined and started helping out, for which I am very thankful.

I agree the project could be easier to extend, and I have started a number of "modernization" branches over the years. It's a lot of work, though, and it's difficult to find the time. What spare time I have often seems better put to

[2020-09-15 06:29] tonglei100 commented on #333
thank you for your replay.
I'm not sure that, if the pypiserver‘s host will download the packages or the user's PC will download from pypi.org?
if it's pypiserver's host, it's OK for me. or it's user's PC, it will fail, because the user's PC is not connect to the internet.

[2020-09-16 15:39] minamaged113 commented on #256
I have faced the problem when my docker volume, which was used by another container, got attached to the server.
However, I have created a new docker volume and attached it to PyPIserver and it worked.

[2020-09-18 00:57] mplanchard commented on #333
pypiserver does not download the package itself. Instead it returns a redirect, and pip will then follow the redirect to the regular pypi, so the users' computers would need to be able to connect to the internet.

I think the best you can do at the moment would be, if there are a set of packages you know you need, downloading those packages and then uploading them to pypiserver. However, it seems

[2020-09-18 00:58] #332 closed

[2020-09-18 01:02] tonglei100 commented on #333
OK, thank you very much!

[2020-09-21 15:52] Luttik commented on #325
Maybe we need to split this up into multiple issues but for now, I'll respond to the topics one by one, in a concise manner.

**Storage**: I have found that doing persistent storage well is one of the hardest things when running a Kubernetes cluster (I'm not an expert though) the standard for GCP and Azure (and probably AWS) does not support the readwritemany option which you probably want to supp

[2020-09-21 15:58] Luttik commented on #322
As you have seen there is now a topic for the discussion that you mentioned https://github.com/pypiserver/pypiserver/issues/325. Let's continue the off-topic conversation there.

And I think you are totally correct that the solution that I use will not work in a PAAS environment. I would not even provide this as an official solution since it is a bit of a hack (the docker needs more privileges tha

[2020-09-26 14:48] elfjes opened #335 "Use black as a code formatter"
After reading #325 I think implementing black as a code formatter is maybe the lowest hanging fruit here. I think a MR for this would consist of the following:
- [ ] determine the max line lenght, or just stick to the default
- [ ] run black on the whole code base
- [ ] run a travis job `black --check` to ensure all commits are properly formatted

What do you think of this idea?

[2020-09-26 22:01] elfjes commented on #325
I would like to help out bringing pypiserver to the 20's. I have the following thoughts about it:

**Storage** I would love to see an api/interface for handling different storage backends, especially cloud storage. I agree with @Luttik that avoiding PersistentVolumes as much as possible in Kubernetes is a good idea. My own use case would be running in Kubernetes with GCS buckets. We're currently r

[2020-10-02 15:24] 1ace opened #337 "How to make the server read-only?"
Hi! I'm currently evaluating ways to provide in-house packages and this looks like a good option, but having any of the employees able to upload packages doesn't sound very good (a mistake happens easily).

I would like `pypiserver` to serve the contents but disallow uploads, and we'll simply `scp` the packages we want to upload (and reload/restart the server if that's necessary). The documentatio

[2020-10-03 20:37] mplanchard commented on #337
Sure, yeah, I think so.

If you want to allow unauthenticated downloads and restrict uploads, you can run with `pypi-server --authenticate update <path>`. If you don't provide a password file, there are no users for it to auth against, and so there's no way to successfully authenticate for updates.

If you need to restrict downloads to authenticated users while _also_ disallowing uploads, unfortun

[2020-10-03 20:39] mplanchard commented on #325
Hi y'all, I've created a zulip instance so that we can have have conversations about the design and implementation of these and other efforts, as well as to provide a place for the community to have conversations. It's at https://pypiserver.zulipchat.com. I've already created a `modernization` topic in the `#general` stream, so feel free to pop in and start chatting.

[2020-10-03 21:07] mplanchard commented on #325
Responding to the modernization topics from @Luttik:

* **Storage:** I agree that we should implement a general interface for storage backends, initially wrapping the current directory-oriented FS approach and then expanding to add other options.
  * One significant thing to consider for any of these integrations is that we've seen recently (#320) that in order to properly support some PEPs, we wi

[2020-10-03 21:29] mplanchard commented on #324
It looks like watchdog [requires use of the polling observer](https://github.com/gorakhargosh/watchdog/issues/504) in order to properly observe NFS filesystems. The [watchdog docs](https://pythonhosted.org/watchdog/api.html#watchdog.observers.Observer) don't give a good overview of why you'd want to choose one observer over the other, although I'm going to guess that the default InotifyObserver is

[2020-10-03 21:30] mplanchard commented on #318
Closing this for now. Please feel free to reopen if you have further questions.

[2020-10-03 21:30] #318 closed

[2020-10-03 21:30] #328 closed

[2020-10-03 21:34] mplanchard commented on #259
Finally got around to deleting that project. Closing this issue now.

[2020-10-03 21:34] #259 closed

[2020-10-04 03:26] mplanchard commented on #325
#338 drops support for 2.7 and 3.5 in preparation for the next version, so we can now accept code with python 3.6+ syntax and slowly get rid of python 2 compatibility shims.

[2020-10-05 03:17] mplanchard commented on #325
See #339 for an argparse config solution that retains backwards compatibility with current args (not easy, given the weird use of the `-U` option to trigger a subcommand).

This also adds a black config, which you can pull in for your black PR @elfjes, a mypy config, and runs mypy for the set of known good files (currently just the one new file I added).

The next step will be actually _using_ tha

[2020-10-05 06:00] fschulze commented on #325
Welcome to https://devpi.net 😉 We already have most of that, except external storage and worked out most of the kinks that come with the territory. Our storage abstraction would allow external storage already. The devil is in the details though if you want to keep ACID working and need to consider eventual consistency with some of the proposed storage backends. Also see https://github.com/devpi/de

[2020-10-05 10:15] jacek-jablonski opened #340 "damaged docker image pypiserver/pypiserver:v.1.4.0"
Hello,
image v1.4.0 on docker hub image seems to be damaged.

[code]

Please check if everything is ok with this docker image.

[2020-10-05 12:21] mplanchard commented on #340
Thanks very much for the report! I'm not sure what happened there. I went ahead and rebuilt the images for the `v1.4.0` and `latest` tags and confirmed I'm able to pull them down successfully. Let me know if that resolves things for you.

[2020-10-05 12:22] jacek-jablonski commented on #340
It's now ok. Thank you!

[2020-10-05 12:22] #340 closed

[2020-10-05 13:53] stephen-dexda opened #341 "Container fails with a volume read-only mounted to a subdirectory of /data"
I have a K8s secret (containing `htpasswd`) read-only mounted to `/data/auth`.

Because of https://github.com/pypiserver/pypiserver/pull/330 this now causes the container to fail, since https://github.com/pypiserver/pypiserver/blob/master/entrypoint.sh is trying to `chown` all of `/data`.

Should it not be sufficient to `chown /data/packages` in `entrypoint.sh`?

[2020-10-05 14:13] mplanchard commented on #341
Thanks for the report!

I didn't catch this in the PR, but I think you're right. Since we're just declaring `/data/packages` as a volume, we should just `chown` that. I'll get a new release out this evening. You can pin to v1.3.2 in the meantime if needed.

[2020-10-05 14:14] stephen-dexda commented on #341
Yep, have done ;) Thanks for the fast response!

[2020-10-05 14:25] mplanchard commented on #325
😂 @fschulze I have been redirecting folks over to devpi for years now when they want fancy features, and I will absolutely continue to do so. My goal is to continue keep pypiserver as simple as possible while keeping up with pip and PyPI.

Remote storage is a remarkably complex, and yet it remains one of our most requested features. I think getting the existing filesystem backend behind a standard

[2020-10-05 21:26] elfjes commented on #325
Is it necessary to have a persistent metadata/caching db in order to support something like PEP503? It should be able to do with the current watchdog approach and using just an in memory structure (a dictionary or in memory sqlite database that gets filled on startup, and updated when a file changes)? Other storage backends may need different cache/index invalidation strategies (a GCS backend coul

[2020-10-06 01:59] mplanchard commented on #341
This should be fixed in the current `latest` and `v1.4.1` tags in the Docker Hub, thanks to 75ec4e9. I also went ahead and released a new PyPI version just to keep things consistent, even though there are no python changes. Let me know if you run into any issues!

[2020-10-06 02:04] #335 closed

[2020-10-06 03:07] mplanchard commented on #325
We can support PEP 503 with just a local cache, yes, but it's not as easy as just letting watchdog update the cache. If someone's got watchdog enabled, we could theoretically update a local cache when a package is updated. However, if someone's using the default pypiserver install, we have no way of detecting when they've added a file to the packages directory. So, we'd have to I think keep an in-

[2020-10-06 07:04] fschulze commented on #325
I think you can just check the modification time of the folder the packages are stored in to see if there was a change. I don't know how packages are stored, but if it is one folder per project, then it might work out to be enough for cache invalidation.

[2020-10-06 09:18] fish-finger commented on #341
Its still not fixed, getting the same issues pypiserver/pypiserver:v1.3.2 is working fine for me, latest is buggered

[2020-10-06 09:18] fish-finger commented on #341
Its still not fixed, getting the same issues pypiserver/pypiserver:v1.3.2 is working fine for me, latest is buggered

[2020-10-06 10:33] stephen-dexda commented on #341
This is WFM with pypiserver/pypiserver:latest from 8 hours ago (sha256:9968ad438bee722101b0227259e1317689ee57fecca38fee09444329025ef927). @fish-finger are you sure you've pulled the most recent image and you're not using an older "latest"?

[2020-10-06 12:06] mplanchard commented on #325
At least on Linux and Mac, I think directory modification time doesn't change when an interior file is added or updated. This is often something you've got to work around in makefiles. Checking the update time of all the files in the directory could work, though!

[2020-10-06 12:23] fschulze commented on #325
The folder time only changes when a file is added or removed. I forgot that you have to track changes to metadata content as well.

[2020-10-06 13:18] mplanchard commented on #341
@stephen-dexda glad it's fixed for you! Thanks again for the report.

@fish-finger could you either try ensuring that you're actually getting `latest` as @stephen-dexda suggested, or check with the `v1.4.1` tag explicitly?

If you're still seeing issues, please provide some more information about what exactly is broken, what tag you're using, how you're invoking the container, etc.

[2020-10-06 13:20] mplanchard commented on #337
I'm going to close this for now. Feel free to reopen if you have more questions.

[2020-10-06 13:20] #337 closed

[2020-10-06 13:29] mplanchard commented on #325
Just wanted to explicitly note that I'm not trying to discourage anyone from working on any of this stuff. The problems are often more challenging than they seem on the surface, but if anyone builds and proposes a good solution, I'm more than happy to bring it in!

[2020-10-07 06:33] fish-finger commented on #341
Hi there, sorry for late reply. In the end I ended up using a custom docker wrapper to mitigate the issues and also align with my own platform architecture (standard OS, permissions configuration) for local development. I did not have the time to work out what the issues were with the default setup but I definitely had could run the earlier version and struggled with the later (v1.4.1).

[2020-10-07 12:58] mplanchard commented on #341
No worries! Sorry to hear you’re still having issues. I think this is
probably a different problem than the one first reported in this issue, but
still clearly related to the changes in the Docker container in v1.4.0. I’m
happy to help figure out if we can fix it. If you could share any errors
you’re getting and how you wound up mitigating the problem in your custom
wrapper, it would help me to fi

[2020-10-07 13:03] fish-finger commented on #341
Its grand, this was a local deployment issue (compose), in production use Helm with the base image so will wait to see if that plays up before wasting anymore of your time. Cheers for the assistance.

[2020-10-07 13:06] mplanchard commented on #341
Okay, that works. I'm going to close this issue then, but please feel free to open a new one if you run into any more problems or if you wind up having trouble with that production build!

[2020-10-07 13:07] #341 closed

[2020-10-09 14:23] alex-m-humai opened #343 "docker run with default config fails on v1.4.1"
Here is the command:

[code]

this works with v1.3.2

[2020-10-10 11:50] elfjes commented on #343
There indeed appears to be an issue with the new docker entrypoint, which sets a default package directory when no arguments are given. Currently the check results in an error. I've created a PR to address this issue

[2020-10-10 11:54] elfjes opened #345 "v1.4.x changes not merged into master"
There are currently a number of commits in the v1.4.x branch that are not merged to master. Is this intentional? Shouldn't we merge those into master? PR #344 is currently targets the v1.4.x but I'd much rather just have it all into master.

[2020-10-10 13:00] mplanchard commented on #345
We've added tings into master that are not v1.4.x compatible, b/c they break compatibility with Python <3.6, so fixes being merged into that branch are appropriate. We will need to merge those fixes back into master. I just haven't gotten around to it yet.

[2020-10-10 13:22] mplanchard commented on #345
Merged in the v1.4.x changes, including #344.

[2020-10-10 13:22] #345 closed

[2020-10-10 13:22] mplanchard commented on #343
Thanks for the report, and thanks @elfjes for the fix!

[2020-10-10 13:23] mplanchard commented on #343
The fix has been released in v1.4.2. Please let us know if you run into any more issues.

[2020-10-10 13:28] elfjes commented on #345
Cool, no worries, I didn't want to rush you or anything. Was just wondering :)

[2020-10-10 13:29] mplanchard commented on #345
Oh yeah, it's no problem, and you're completely right! I was being lazy, and if we had waited longer to merge them in, it would've been more and more of a pain. Thanks for the reminder!

[2020-10-10 13:31] mplanchard opened #346 "Improve Docker tests"
Right now we have some pretty minimal tests for the docker container in `bin/test-docker.sh`.

Recent issues (#343, #341, #340, #330) show that quite a few people are using the dockerfile to run pypiserver, so we should increase the test coverage to include authenticated cases, cases with a variety of arguments, etc.

We can continue to add cases into the bash script, or we can pull this stuff int

[2020-10-10 14:57] elfjes commented on #346
Running them in pytest sounds like a good idea to me. Ideally I guess we may want to run the same tests from `test_server.py` against a running docker container.  However, the tests in `test_server.py` already take quite a long time. Is there a way to speed up those tests?

[2020-10-27 07:52] g3n35i5 commented on #331
I know, it's a little late to ask but I didn't get a chance to try your answer before... Unfortunately, the configuration attributes are not taken over by me (and not by you either, you set port 4242 and bottle uses the default port 8080.

So for all of you who want to use this: Even in the implementation the call botte.run is done like this:
https://github.com/pypiserver/pypiserver/blob/c668b1814

[2020-10-27 10:33] ArcLightSlavik opened #352 "Pip install packages with the docker image"
I have a docker-compose of pypi which runs with the default server:

[code]

I want to user gunicorn server so I changed my `command` to:
[code]
But I get a `ModuleNotFoundError: No module named 'gunicorn'` when running it.

I've tried running pip install similar to the pypiserver Dockerfile. It does return `Successfully installed gunicorn-20.0.4` but the module error persists.

[code]

[2020-10-27 14:51] ArcLightSlavik commented on #352
Got a similar result by doing
[code]

[2020-10-27 17:07] elfjes commented on #352
So, there's something funky going on. This should work (but it doesn't, I will explain the reasons later):
[code]
[code]
But like I said, it doesn't work. It fails with a message `pypi-server: error: unrecognized arguments: -P -a . --server gunicorn /data/packages`. Apparently, in its current form, the pypi-server cli / bottle is incompatible with gunicorn. When bottle calls the gunicorn server, g

[2020-10-28 00:53] mplanchard commented on #352
Thanks for looking into this @elfjes! I was also thinking that we might want to reset `sys.argv` before we run bottle, but I agree that it feels hacky, and it is weird that bottle would run gunicorn in such a way that it tries to parse commandline arguments. I think your solution of passing the bottle wsgi app to gunicorn is probably the better and more idiomatic solution. We should probably remov

[2020-10-28 00:57] ArcLightSlavik commented on #352
Thanks for the detailed answer! I'll add some things I've noticed.

a) I actually didn't get to this error `pypi-server: error: unrecognized arguments: -P -a . --server gunicorn` since for me pip installing gunicorn worked, but running `command` still said it didn't have gunicorn installed. I assume it was looking for the package to be installed in some specific location, this is what I was confus

[2020-10-28 00:57] #352 closed

[2020-10-28 01:04] mplanchard commented on #352
Master (corresponding to the `unstable` docker image) is currently in the process of being updated for the next major version of pypiserver. The README hasn't yet been updated to match, but I would recommend against running the master branch (we very well might break it before the next release!), and instead running `latest` or a specific version tag.

[2020-11-08 21:30] elfjes opened #355 "Incompatible dependencies in CI"
The docker tests have just broken in CI under python<3.8. This is due to an upgrade of `keyring` to `21.5.0` (which is a `twine` dependency), that requires `importlib-metadata>=1;python_version<3.8` (`keyring<21.5.0` has a `importlib-metadata; python_version<3.8` requirement). The travis-ci container already has `importlib-metadata==0.18`, which is compatible with the earlier version of keyring, b

[2020-11-08 21:34] elfjes commented on #355
I've create MR #356 that should fix this

[2020-11-09 11:47] jkogler-cloudflight opened #357 "chown privileges on OpenShift"
I'm running an pypiserver instance on our OpenShift platform with a volume mounted at `/data`.
On OpenShift every container is started with a random non-privileged user (even if there is a user defined in the Dockerfile). This means that the command
https://github.com/pypiserver/pypiserver/blob/15d81147ac51b558ea5a885eac900434d387b04d/entrypoint.sh#L9
will fail, since the non-privileged user has n

[2020-11-09 14:57] davidbfrogman commented on #286
I don't see any updates here.  I would note that I was using pypiserver/pypiserver:latest ... which I think may / may not include less than stable builds.

I have changed my docker-compose to be ` image: pypiserver/pypiserver:v1.4.2`

Again I don't know for sure if this will make a difference.

[2020-11-11 08:41] zeroohub opened #358 "Logs not showing when running from docker"
I am in ubuntu 20.04.
When i start pypiserver with command
[code]
and then, try to install some packages
[code]
It doesn't show any logs from console. But if i stopped the container, it will show all accumulated logs at once.
![image](https://user-images.githubusercontent.com/3849613/98788916-7edd4480-243c-11eb-973d-9515cc1cb900.png)

Notice in the images above, before blank lines, I download one

[2020-11-15 20:11] elfjes commented on #357
Thanks for your bug report. I agree with you that the way the docker image is set up now limits the number of configurations in which it can be used. Maybe instead of chowning in the entrypoint, we can chown in the dockerfile, as layed out here: https://github.com/docker/compose/issues/3270. Something like this:
[code]
The volume would still be chowned for docker compose, but we don't have to use

[2020-11-15 20:15] elfjes commented on #358
Does the problem persists when you bind the container to the terminal? ie `docker run -t ...`

[2020-11-15 20:45] elfjes opened #359 "Improve docker image"
There are currently a number of issues with the docker image
 - Requires root permissions (which leads to #357)
 - Using the docker image for anything else than docker run (this currently also throws an error in the docker tests (when the script calls `docker run pypiserver:test --help` , but this error is ignored)
- It uses the default wsgiref server which is non-theaded and not production ready.

[2020-11-15 21:00] mplanchard commented on #357
Yeah I believe we used to do it that way (changed in #330), but this led to confusion about permissions also, due to docker's different permissions model on mac vs linux systems (see #256).

The created user has a predictable user/group ID (both are 9898), but it seems like OpenShift's approach may make it difficult to run as a user with that ID. You might could use the second option that I recomm

[2020-11-15 21:07] mplanchard commented on #359
I don't think this is true. It just needs permissions to change ownership on the `/data/packages` volume, right?

Yep this is definitely a problem.

In general people should be using the docker image like the do the application, which would mean putting it behind a more appropriate nginx or similar ingress for production workloads.

`/data` is used as the WORKDIR and the `$HOME` for the pypiserver

[2020-11-15 21:08] #355 closed

[2020-11-15 21:12] mplanchard opened #360 "Replace Travis w/GH Actions"
Travis is changing their pricing model, and OSS projects will no longer be hosted for free. See https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing for details.

GitHub actions are free, integrated into GH, and pretty easy to configure. We should replace the Travis config with a GH actions config.

I think we may be able to do it with just one concurrent job that runs the [setup-python](ht

[2020-11-15 21:21] elfjes commented on #359
Well currently it needs to run `chown` and `gosu`, but technically you're right, we could probably give the docker user the correct permissions to do that

definitely, but this doesn't solve the non-threadedness, and some lockups that some users are experiencing with the default server (probably also due to being single-threaded)

The package roots defaults to the user `$HOME`, currently `/data`.

[2020-11-15 21:28] mplanchard commented on #359
Yeah, the permissions thing is altogether a pain, particularly b/c of the differences between the way the docker daemon works on mac and linux. #256 has a good rundown.

Ah yeah that is true. We should probably run it through gunicorn or something at least then

Oh, I see. Are we sure this is happening? Our default package directory is ~/packages, and since the Docker user's home is `/data`, it se

[2020-11-15 21:40] elfjes commented on #359
I just went through #256, which does make some choices more clear. Let's keep the discussion of this issue in the other thread maybe #357?.

I think gunicorn may not be the best option though, since we'd need to invoke it directly rather than through `pypi-server run --server`, which would then make it harder to change other configuration settings or run the docker image with `pypiserver update`.

[2020-11-15 21:45] elfjes commented on #357
So I guess we can identify a number of requirements:
- works with docker compose
- works when it doesn't need to / cannot `chown` packages (ie. openshift)
- works on both linux and mac
- works with existing packages that may have different permissions? We may choose not to have this requirement I guess, since it's an operations misconfiguration imho.

anything else?

[2020-11-15 21:48] mplanchard commented on #358
Interestingly, I am not seeing this behavior on Ubuntu 20.04 when I ran pretty much the same command with `pypiserver/pypiserver:latest` or `pypiserver/pypiserver:unstable`. Do you know which docker image tag you're running?

[2020-11-15 21:56] mplanchard commented on #357
Those requirements look good to me, other than the last one, which I agree with you is largely beyond our control.

I'd also add as an explicit requirement:

* doesn't break current configs if at all possible

As I think I've mentioned before, when I first added the Dockerfile, I didn't know whether or not it would be a commonly used way of running pypiserver, but it seems to be one of the most co

[2020-11-15 22:01] elfjes commented on #358
@mplanchard I can confirm this issue on Ubuntu 20.04 with `pypiserver/pypiserver:v1.4.2`. Running with `-t` solves it though, or at least circumvents the problem. Interesting that it's not an issue for you

[2020-11-15 22:07] mplanchard commented on #358
Yeah that is really odd. Just to confirm:

Running the command:
![image](https://user-images.githubusercontent.com/6752481/99198148-54e99200-275c-11eb-8d5d-c8ad8a6a2fbe.png)

Output for an attempt to install a package:
![image](https://user-images.githubusercontent.com/6752481/99198175-6fbc0680-275c-11eb-9e6d-278010bc54c6.png)

It's also weird that @zeroohub isn't getting the config output even th

[2020-11-15 22:09] elfjes commented on #357
I've added that to the list

Another possible solution might be to just try chowning and not crash when it fails (but log a meaningful message though)

[2020-11-15 22:19] elfjes commented on #358
The issue here I believe is that the logs are not properly piped/redirected to stdout. They are being produced by pypiserver but get stuck somewhere in a buffer. This may be a host issue though. I thought it might also be shell dependent, as I run bash, but I'm experiencing the same on `sh` and `zsh`.

[2020-11-15 22:22] mplanchard commented on #358
I'm also running bash. I wonder if there's some kind of system-dependent configuration for how much data needs to be written to the log buffer before it gets flushed?

[2020-11-16 02:08] #360 closed

[2020-11-27 08:36] zeroohub commented on #358
I am running this in k8s, it also doesn't produce logs correctly. After some test, i find that if i switch server to `paste`, it works properly.

[2020-12-10 02:00] Dobatymo commented on #333
Could this be reopened as a feature requests? I would be a great feature. This way pypiserver could be used as a caching server (for example for CI).

[2020-12-10 16:13] mplanchard commented on #333
We're certainly happy to consider it as a feature request, yeah. I'd be interested to see what the community interest in it would be. If we do it, we'll need to of course balance pypiserver's philosophy of simplicity with the feature. Caching is a notoriously difficult problem, and we wouldn't want to implement a half-baked solution.

[2020-12-10 16:15] mplanchard commented on #333
Looking for community thoughts/feedback on this being a potential feature. I could see it working a few ways:

- explicit cache list, potentially allowing backends other than pypi.org
- automatically cache anything grabbed as a fallback from pypi.org
- something else?

[2021-01-12 16:11] dmvuong95 commented on #286
I had the same issue when both use `pypiserver/pypiserver:latest` docker image and install pypiserver manually :( :(

[2021-01-12 21:50] pikhovkin opened #363 "How to set read-only permissions for a specific user?"
How to set read-only permissions for a specific user?

[2021-01-13 17:25] mplanchard commented on #363
Duplicate of #223

[2021-01-13 17:25] #363 closed

[2021-01-13 17:28] mplanchard commented on #223
No, I haven't been able to get to this yet, and it probably won't make it into the initial implementation of the next major version.

Depending on how you have your infra set up, it might be possible to restrict POST requests via nginx using the same htpasswd file that you use for pypiserver: https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-http-basic-authentication/

[2021-01-19 11:02] SiqingYu opened #364 "Official Docker image support for ARM?"
Hi Pythonistas, I want to port our private PyPI server Docker container to ARM. But I found the official build on Docker Hub only supports amd64. Is there any plan for ARM support?

Reference:
https://hub.docker.com/r/pypiserver/pypiserver

[2021-01-19 17:54] mplanchard commented on #364
This isn't something I'd thought about, but we can play around with the docker build at some point to see if we can manage it.

[2021-01-23 04:29] SiqingYu commented on #364
I have succeeded in building the Docker image on an ARM machine. The Dockerfile works well because the Python Alpine image has already supported ARM.

[2021-01-26 15:32] ironpeak commented on #333
Automatically downloading and caching missing packages from pypi would help us a lot.

[2021-02-02 03:53] mplanchard opened #366 "Convert README to markdown"
We used to have to do python project READMEs as restructured text files, because that was all that was supported by PyPI. However, PyPI now supports Markdown as an option, if you set the `long_description_content_type` value in the `setup()` call to `text/markdown` (see https://stackoverflow.com/questions/26737222/how-to-make-pypi-description-markdown-work).

Markdown is more well known by more pe

[2021-02-02 03:53] mplanchard commented on #346
I believe this should be resolved by #359

[2021-02-02 03:53] #346 closed

[2021-02-02 03:56] mplanchard commented on #333
@ironpeak, @Dobatymo, any thoughts on how you might expect this feature to work? See above options for examples, and I'm happy to consider others

[2021-02-02 04:15] mplanchard commented on #364
Out of curiosity, what's the benefit here? Do you see better performance on ARM, is it cheaper to run, etc.? I don't mind providing an official ARM build, but I'd be curious to know if there's any difference you've noticed in your environment

[2021-02-02 04:22] mplanchard opened #367 "Cleanup README"
The README has accumulated over more than ten years, and it's getting a bit long and winding. I'd like to revisit it, ensuring it's focused and useful for new users, splitting some of the sections out into a `docs` directory to keep things tidy.

- [ ] TODO add this to the v2 milestone when I'm not on mobile

[2021-02-02 04:25] mplanchard opened #368 "Update contributor docs"
Contributor docs definitely could use some expansion. I'd like to add at least:

- [ ] Architecture overview
- [ ] Any standards and style guidelines we can't enforce with linting
- [ ] Expectations for tests
- [ ] Expectations for backwards compatibility
- [ ] Guidelines for issue triage
- [ ] Deploy process

----

- [ ] TODO add this to the v2 milestone when I'm not on mobile

[2021-02-02 08:07] Pratham-Dave commented on #366
Hey mplanchard, I would like to work on this issue.

[2021-02-02 15:22] dee-me-tree-or-love commented on #325
Hy all, just to freshen up this topic!

@mplanchard thanks for the good words earlier, I appreciate hearing and a glad to help out and sorry that I also not always have the time for it... But I am always eager to do so. (Feel free to poke me if you feel there's too much stuff on your plate to reply, I will try to react check it out too)

---

But a bit on this topic, I see a lot of work actually h

[2021-02-02 16:46] dee-me-tree-or-love commented on #368
I can pick it up

[2021-02-02 16:54] mplanchard commented on #368
Awesome! Feel free to pick up any part of it you feel comfortable with. Some of this stuff doesn't exist anywhere but in my head at this point, so also feel free to hit me up if you're blocked

[2021-02-02 17:09] mplanchard commented on #325
Yeah, definitely! Personally I think we should gate v2.0.0 on:

- improving the architecture to make it easier for people to write plugins or contrib code that supports alternative backends (@elfjes's open PR is a big part of this, along with the config changes and app factory changes from #349 and #350). We probably also need to do some work around supporting plugins via the `entry-point` mechani

[2021-02-03 11:08] dee-me-tree-or-love commented on #368
@mplanchard perfect, yes! I will pick up the architecture overview and maybe the deploy process as first candidates. But will take a closer look when picking it up these days :) I will poke you on Zulip if anything further.

[2021-02-03 11:52] ironpeak commented on #333
How I expect the feature to work:
Cache everything downloaded as a fallback.

Our use case:
We want our CI to work, on days that pypi is down or slow.

What we need:

- pypiserver works for our cached packages while pypi is down.
- new packages will be cached for future use instead of the current fallback behaviour.
- This is likely already the case but: pypiserver needs to work for cached package

[2021-02-03 17:28] SiqingYu commented on #364
@mplanchard Because our company deploys commercial Python software on-prem, so we need to ship it with a pypiserver container. It happens that some of our customers are migrating to ARM servers.

I guess this might be one fallout from the trade war. Now big enterprises in my country are eager to migrate to the ARM platform. You can easily guess who the ARM platform's maker is.

[2021-02-04 07:53] Dobatymo commented on #333
My expectations are pretty similar.
When a pypi package is request through pypiserver, it should download it from there, store it locally and return it to pip.
Compared to the current way of directly returning the pypi url, this has the following advantages:
- external network traffic is reduced for CI/CD pipelines
- packages deleted from pypi will stay available and don't break CI/CD
- if the pyp

[2021-02-04 22:19] mplanchard commented on #367
One of my coworkers (thanks @dakota-b) presented this talk today at a meeting, and I really liked it as a framework to help us guide our documentation efforts going forward! https://www.youtube.com/watch?v=t4vKPhjcMZg

[2021-02-05 17:27] mplanchard commented on #364
Ah, that makes sense. We can definitely get this added. I'll add it as part of the v2.0 release, but since that'll be a while, I can also backport it to the current v1.4 branch when it's done, so that it's not blocked on getting all the other v2.0 work done.

[2021-02-06 17:27] mplanchard commented on #286
So I'll be making some updates to the Docker image to our next major version that should help with this, using gunicorn (and possibly gevent) by default. The release for that is probably not going to be for a little while, so I'll also backport them to the current v1.4 track. I still don't know for sure what the cause is, but I suspect that it's a problem with the default webserver.

One way to mi

[2021-02-06 17:35] mplanchard commented on #358
I believe this should be resolved in the current master. If you've got the time, could you check and see if this is still happening for you with the `unstable` docker tag?

[2021-02-06 17:38] mplanchard commented on #357
We've just merged some updates to the docker image into the master branch that I hope will address these issues. If you've got time, could you check out the `unstable` branch at some point and let us know if it works for you?

[2021-02-06 17:39] #343 closed

[2021-02-06 17:42] mplanchard commented on #306
The docker version in the current master branch (published with the `unstable` tag) makes some updates to the way we handle permissions. We don't try to change the permissions on mounted volumes, but we are a little more flexible about access, so as long as you're mounting the `/data/auth` in such a way that the container user can read it, it should work, and if not, it should give you I think a b

[2021-02-06 17:45] mplanchard commented on #304
I think this is probably a duplicate of #286, so I'll close this issue in favor of that one. Using gunicorn as the WSGI server or running behind a reverse proxy should help

[2021-02-06 17:45] #304 closed

[2021-02-06 17:47] mplanchard commented on #267
Noting that we should include this documentation as part of the efforts in #367

[2021-02-06 22:54] mplanchard commented on #358
ah, I did some more experimenting with this while working with gunicorn, and it's not currently solved in master. However, I did figure out the root cause, which is python's default buffering of the stdout and stderr streams. Setting `PYTHONUNBUFFERED=t` in the docker file solves it. Expect that in an upcoming commit!

[2021-02-06 22:55] mplanchard commented on #358
In the meantime, if you set this in your `docker run` command, it should resolve the issue I think

[2021-02-07 04:10] mplanchard commented on #333
Thanks for your thoughts! @Dobatymo definitely hit on some of the difficulties. I don't think they're insurmountable, but they do highlight why this is a bit more complicated than it might seem (right now we just return a redirect to pypi when we fallback, so pypiserver actually never even sees the bytes of the fallback packages).

There are some interesting edge cases I can think of if we impleme

[2021-02-07 04:31] mplanchard commented on #286
Once #371 merges (hopefully tomorrow), I'd appreciate it if some of y'all could pull the `unstable` tag and check to see whether it improves things for you. Locally, I'm able to pretty consistently replicate long hangs on the current `latest` by pushing apache bench up to 100 concurrent requests or higher, while the updates in #371 allow it to handle 10k requests w/100 concurrent with no issues.

[2021-02-07 21:30] mplanchard opened #372 "Allow suppression of deprecation warnings via env var"
Allow an environment variable to suppress deprecation warnings as discussed here: https://github.com/pypiserver/pypiserver/pull/371#discussion_r571650798

We should add a deprecation warning for `$PORT` vs `$PYPISERVER_PORT` in entrypoint.sh and enable suppression there. Also enable suppression when parsing cmdline args if we encounter old-style args

[2021-02-07 21:32] mplanchard opened #373 "Update CI to push to Docker Hub directly"
In order to support multiple arch builds easily (see #364) and to isolate ourselves from the truly awful interface that is Docker Hub, I would like to see if we can update the CI to push there directly, rather than relying on webhooks and tag introspection by Docker Hub. The documentation [here](https://docs.docker.com/ci-cd/github-actions/#push-tagged-versions-to-docker-hub) certainly suggests th

[2021-02-07 23:04] #358 closed

[2021-02-08 00:18] mplanchard opened #374 "Speed up test-pypy job in GH actions"
The test-pypy job is _much_ slower than the others, largely because its `pip install` on the "Install dependencies" step takes two orders of magnitude longer due to its needing to compile wheels.

Investigate whether we can cache the built wheels for pypy to avoid needing to rebuild them every time.

[2021-02-08 00:21] mplanchard commented on #374
Edit: it actually may not be the dependencies. Seems like on some jobs GH actions registers the deps as taking a long time, and on other jobs the tests. We should look into it either way to figure out if we can speed it up

[2021-02-08 00:24] mplanchard commented on #374
It appears as though both the tests and the dependency installation are slower (tests taking ~5-6 minutes, dep installation taking ~3-4). Seems like we could potentially benefit from caching deps

[2021-02-08 02:24] #373 closed

[2021-02-11 20:55] pault28 opened #376 "AttributeError: 'Configuration' object has no attribute 'welcome_msg'"
I have just tried the docker image `pypiserver/pypiserver:v1.4.2` and it errors with:
[code]
How is this new attribute pass via the command line?

This is an attempt to take advantage of the fixes in https://github.com/pypiserver/pypiserver/pull/371.

[2021-02-13 14:38] pault28 commented on #376
Works fine on `pypiserver/pypiserver:unstable`. Maybe `pypiserver/pypiserver:v1.4.2` is not fully ready for use yet.

[2021-02-13 14:38] #376 closed

[2021-02-16 20:28] chancez commented on #268
Yeah im seeing wheels getting left behind.

[2021-02-16 20:47] chancez commented on #268
https://github.com/pypiserver/pypiserver/blob/df300de33d2ffe01f218396813433f23001dd76b/pypiserver/pkg_helpers.py#L65-L69

The wheel regex doesn't seem to match our wheels names, probably because of the newlines.

[2021-02-17 20:23] mplanchard commented on #268
good to know, thanks! Could y'all open a new issue so I don't lose track of it? Going to be a minute though. I'm in Austin, and we're having a bit of a rough week here

[2021-02-17 20:39] chancez commented on #268
Can we just re-open this one since it didn't get fixed in the original PR?

[2021-02-17 20:41] mplanchard commented on #268
Not if you want me to remember to fix it

[2021-02-17 20:47] mplanchard commented on #268
I'm also not entirely convinced that it's the regex fwiw:

[code]

but I'd welcome a PR to fix w/tests that show it's broken. Otherwise, like I said, please open a new issue specifying what files you aren't seeing removed, with as much context as you can give me to help me figure out why the current tests aren't catching your issue.

[2021-02-17 21:18] mplanchard commented on #376
Yep, I haven't backported the changes currently in master (corresponding to the `unstable`) docker tag to the 1.4 branch yet. We're having issue getting consistent internet and power in Austin this week, but I hope to backport as much as I can soon!

[2021-02-17 21:28] chancez opened #377 "remove_pkg action does not remove wheels in some cases"
pypiserver version 1.4.2. Running in docker/k8s. The service is started like so:
[code]

I have a package `rigetti-qiskit-provider` we were publishing internally.

We were unable to remove the following file using the `remove_pkg` API:
[code]

I tried multiple incantations using `curl --form ":action=remove_pkg" --form "name=$mypackage" --form "version=$myversion" $PYPIURL`. Eg:

[code]

Relates t

[2021-02-17 21:39] chancez commented on #377
Using the regex in v1.4.2:
[code]

Using the `_guess_pkgname_and_version_wheel` helper:
[code]

[2021-02-17 21:43] mplanchard commented on #377
Interesting. So this isn't an instance of it failing to remove multiple package files like in #268, but failing to remove this wheel no matter what?

I'm also confirming that the wheel regex seems to be matching the package name just fine, so it's not immediately clear to me what the cause could be. I wonder if we're possibly parsing the version string out incorrectly from the POST body when it's

[2021-02-28 15:12] arielshulman commented on #357
We've tried the `unstable` image on our openshift environment and it worked fine after one tweek.
The only weird thing was that the packages folder was mount on `/data/packages` as it was before, and no package was shown.
After searching a bit in the code, I've tried to mount it to `/packages` and it worked only the script kept searching for `/data/packages` so I've mount the folder twice for `/pa

[2021-03-01 18:25] chrisdhanson commented on #286
@davidt99

This fixes the stability issue for me beautifully, but I'm having issues with authentication using this image:
[code]
But this is allowing null/incorrect user/password combinations. I have validated my .htpasswd file but nothing seems to make any difference. Is there anything obviously wrong with my docker run command here?

[2021-03-03 16:34] fridex opened #382 "Supporting multiple simple directories using pypiserver"
Hi everyone,

I would like to ask if there is a possibility to serve multiple directories for packages - see https://tensorflow.pypi.thoth-station.ninja/index/ as an example.

In the linked index we host various builds of tensorflow that have different build configuration - e.g.:

* https://tensorflow.pypi.thoth-station.ninja/index/rhel7.5/AVX2/simple/ (a build for rhel7.5 with AVX2 instruction se

[2021-03-06 07:50] dee-me-tree-or-love commented on #368
Will be adding documentation in this branch on my fork https://github.com/dee-me-tree-or-love/pypiserver/tree/368_update-contributor-docs_first-setup :v: any suggestions are welcome

[2021-03-07 01:17] jayrod opened #384 "Tracking Download stats"
Is there a way to track package download stats?

[2021-03-08 15:14] mplanchard commented on #384
There's not currently a way to do this, and I don't know of any plugins anyone has written

[2021-03-08 16:08] jayrod commented on #384
Is there a bit more documentation on how to create plugins that I might look into creating one?

[2021-03-30 06:55] SpontaneousHotDog89 commented on #216
I'm a little late to the party but I closed my terminal and reran the pip command:
pip install git+<url.git> and it ran successfully.

Hope that help

[2021-04-08 14:23] abaouz opened #385 "certificate verify failed (_ssl.c:661)"
I have installed a private Pypiserver on cloud behind nginx.
Since i have configured https link, i have this error when i am trying to upload (twine or python):

<urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:777)>

Everything working well with http link.
I can download packages with browser.

What is the trouble ?

No log in nginx and pypiserver during the opéra

[2021-04-08 18:32] mplanchard commented on #385
pypiserver doesn't know anything about SSL, so you'll need to set up SSL termination at the nginx layer, and then forward to pypiserver as a reverse proxy.

There is an example of how to do this in the [README](https://github.com/pypiserver/pypiserver#supporting-https).

You'll need to ensure that you have valid certificates for your domain, for example by registering with LetsEncrypt, and point t

[2021-04-09 08:31] abaouz commented on #385
Yes, i have certificate provided by Gandi defined in nginx, i can reach the pypiserver with browser without problem, download the package with entering credentials for example. I have did all things according README, i think.

Is seems then "twine upload" looking for local issuer certificate according to this error
`[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local is

[2021-04-12 15:42] mplanchard commented on #385
This seems to be an issue with either twine or the nginx config. Or maybe Python isn't aware of your local certificates? There are some suggestions in [this issue](https://github.com/ContinuumIO/anaconda-issues/issues/137) and [this stack overflow question](https://stackoverflow.com/questions/42982143/python-requests-how-to-use-system-ca-certificates-debian-ubuntu) that might be useful.

[2021-04-15 09:25] abaouz commented on #385
Yes, the problem come from nginx certificates. Thank you for your support.

[2021-04-15 09:25] #385 closed

[2021-04-15 15:24] mplanchard commented on #385
Glad you got it resolved, and happy to help

[2021-04-20 11:50] DeusVermis opened #386 "Docker container permission error RHEL SeLinux"
When running the docker container with another repo location on RHEL (7 in my case) with SeLinux enabled a permission error occurs:
`# docker run -it -v /opt/Pypi/repo:/data/packages pypiserver/pypiserver:latest`
`chown: /data/packages/docutils-0.17-py2.py3-none-any.whl: Pernission denied`

Possible solutions are:
- Configure SeLinux properly.
- Disable SeLinux at all.
- Run the container with --p

[2021-04-20 13:36] rodrigo-fss opened #387 "Add Healtcheck endpoint"
It would be great if pypiserver had a health check endpoint.
something like /health, answering 200 OK
so it could be possible to serve this application using something like ECS or k8

[2021-04-21 11:54] nikoluis opened #388 "Command "pypi-server -U" crashes with error HTTPTooManyRequests"
Recently I setup pypi-server on a VM with windows 10 and i have setup all of my Raspberry PIs to have their pip download from this machine. Since i operate on a large scale organization, my only solution to have newest packages, is through a local pypi-server that connects to internet. It works fine, i installed it as a windows service. Today I wanted to download the latest versions of my packages

[2021-04-21 15:22] mplanchard commented on #388
This is an interesting one, thanks for raising it! The update command works by querying PyPI for new versions of the packages. Looks like they've got some rate-limiting going on. We don't currently have anything in place to deal with this via a backoff or anything like that. That's something I would like to add, but I don't have the time to commit to it at the moment.

In the meantime, the only th

[2021-04-21 16:03] nikoluis commented on #388
I cloned the repo, added the line you suggested and it worked! However, sleep(10) was too much:) and sleep(1) was causing the same error after a few seconds. But sleep(2) did the job. Thanks for the tip.

[2021-04-21 16:03] #388 closed

[2021-04-22 14:49] dee-me-tree-or-love commented on #387
@rodrigo-fss I think it's a great idea. I will try try pick it up in the coming days. Otherwise feel free to create a MR if you'd like to add it yourself ;)

@mplanchard I think that's something small we could easily incorporate? What do you think?

[2021-04-28 12:02] lslstudy opened #389 "pload failed (403): Forbidden"
upload customized pip package failed using following command:
`python setup.py sdist upload -r local`,
and ~/.pypirc file configuration like:
`[distutils]
index-servers =
    local

[local]
repository: http://127.0.0.1:8000
username:
password:`

[2021-04-29 02:03] #389 closed

[2021-04-29 20:09] itsayellow opened #390 "pip + pypiserver asks for username when executing `pip search`"
I'm using pypiserver on my local machine and tried `pip search` with it as instructed in the pypiserver directions.

However, it asks for a username, which I didn't configure with pypiserver (and which the pypiserver instructions don't mention for `pip search`.)  On the pypiserver log it indicates a POST is being executed when I do a `pip search`.

Is this a bug or something I'm doing wrong?

macO

[2021-05-12 10:23] demonguy opened #391 "Is it possible to serve at sub url?"
I want my index url to be xxx.xxx.com/pypi/simple, rather than xxx.xxx.com/simple.
Currently i sestup nginx to redirect xxx.xxx.com/pypi to the pypiserver, however it seems that pypiserver will always serve /simple rather than /pypi/simple, is there any solution?

[2021-05-16 18:20] mplanchard opened #392 "feature: automatic backoff to avoid too-many-requests for update command"
See #388 for context

[2021-06-09 12:55] notniknot commented on #386
Have a look at https://docs.docker.com/storage/bind-mounts/#configure-the-selinux-label
This fixed my issue when running a container on SELinux

I run it like:
`docker run -d -p 2222:8080 -v /.../pypiserver/python_packages:/data/packages:z -v /.../pypiserver/.htpasswd:/data/.htpasswd --name pypiserver pypiserver/pypiserver:latest -P .htpasswd`

[2021-06-16 11:26] GiacomoP opened #393 "Downloading pytz from pypiserver makes it hang or time out"
Hi,
At first my set up was very simple: pypiserver running on a local server of mine with `--server auto` and `--disable-fallback`. `pipenv install` would install all packages, but when it got to downloading pytz (any version) it would simply break the server. Pypiserver would be unresponsive and I had to restart the process again. The same happened when visiting https://myhost/packages/pytz-2021.

[2021-06-16 14:28] GiacomoP commented on #393
nginx errors also suggest that pypiserver is not responding to it:

`[error] 1274#0: *15 connect() failed (111: Connection refused) while connecting to upstream, client: xx.xx.xx.xx, server: _, request: "GET /packages/pytz-2021.1.tar.gz HTTP/1.1", upstream: "http://[::1]:8080/packages/pytz-2021.1.tar.gz", host: "myrepo"`

[2021-06-16 16:24] GiacomoP commented on #393
This is probably due to something else and not to pypiserver! Apologies

[2021-06-16 16:24] #393 closed

[2021-06-23 09:49] andre-lx commented on #286
Hi. In docker, this happens with the `latest` and version `1.4.2` (8 months). The `unstable` version (4 months) works very well.

[2021-07-14 05:26] azataiot opened #394 "Can't run with Podman : 'exec user process caused: exec format error'"
CMD:
[code]

[2021-08-05 17:14] Koldar commented on #389
Hi, just leaving another possibility of why it occurs. In my scenario I mistakenly set `--password` to an empty string. Setting `--password` to an empty file or to a file without the specified user will produce the same error

[2021-08-06 09:07] eriol commented on #394
@azataiot what version of podman are you using? It worked for me using podman 3.0.1.

[2021-08-10 20:28] metalsp0rk commented on #394
This error is caused by an architecture mismatch.  `exec format error` indicates that the container image you downloaded is not compiled for the architecture of the machine you are running on.

pypiserver is only built for amd64 on dockerhub as of writing.

[2021-08-10 23:07] mplanchard opened #397 "Seeking new maintainer"
I no longer have the time to be the primary maintainer on this project, and I am also no longer writing any Python nor using pypiserver at my day job. As such, maintaining this project has become unfeasible.

I'd like the project to continue, and I'm happy to help with the transition. If you're interested in taking over maintenance, please let me know at msplanchard (a) gmail. Ideally I'd like for

[2021-08-13 04:07] azataiot commented on #394
Thanks, this solved my problem. I tried to change the install script little bit and rebuild the docker image and now it worked on Raspberry Pi(arm64)

[2021-08-13 04:07] #394 closed

[2021-09-14 18:24] Prathapdhanapal commented on #237
Pixel quality

[2021-09-14 18:24] Prathapdhanapal commented on #237
Pixel quality

[2021-09-21 12:15] dee-me-tree-or-love commented on #390
Hey @itsayellow, thanks a lot for reporting this! Very sorry for responding so late. I've checked it locally and it indeed seems like an existing issue. I will dive deeper to try finding a cause/solution and will get back to you here.

[2021-10-01 11:23] mislavk opened #402 "BrokenPipeError after code 400"
I'm getting [Errno 32] Broken pipe after message Bad request type.
I'm using docker-compose for pypiserver and jenkins as a client. Jenkins uses virtual environment for pip (installed through requierments file). It mostly works perfectly, but then this error happens. It mostly happens at night and in the morning.

Below is a docker container log:
[code]
Here's another example:
[code]
Here is docke

[2021-10-01 12:38] dee-me-tree-or-love commented on #402
Hi @mislavk, thanks for raising this issue! I have also spotted some strange behaviour in the tests running in CI that seems to might be related. Could you provide any more details about what kind of behaviour / actions are taken prior to those errors (at night and morning)? Are there any specific calls and if yes, then to which endpoint?

I will try to investigate when time allows, but I can't pr

[2021-11-11 12:31] dee-me-tree-or-love commented on #397
Small update from my side: would like to apologize for the low activity in the repo in any case. We haven't pushed new changes or features, and sorry for all the long-lasting issues! Part of it all is my low availability at this point. I am combining a master's study and working, so my time for the project is sometimes (especially during the exam periods 😁) is quite limited, sorry about this.

On

[2021-11-11 13:01] dee-me-tree-or-love commented on #390
Hi @itsayellow, sorry for a long silence! It's been a while now I've been afk for this project, but I did a couple of quick tests for your problem. Although I haven't found a solution yet, I found a few interesting ques that might lead to something. Do you still experience the issue or maybe managed to get it solved? Will be happy to hear your updates!

So what I found:

1. The `list` endpoint use

[2021-11-16 15:37] dee-me-tree-or-love opened #404 "Reboot project CI/CD"
# What

Reboot the CI/CD to get the project a little bit up to speed and resume publishing new features.

## DOD

This is an approximate list of things I think would be nice to set up to be fully operational, of course not all is a must but would be great to have. All suggestions are very welcome.

- Deployments and feature releases
    - [x] ~Set up a clear and low-effort versioning & release str

[2021-11-16 15:43] dee-me-tree-or-love opened #405 "Setup a clear and low-effort versioning and release management workflow"
# What

In line with #404, I would really like to set up a clear versioning strategy and process. But am not sure which approach to go for at this point. Suggestions are very welcome!
I think that this would help a lot to make the project a bit easier to manage :).

Questions:
- can we decide which features to push immediately and when to make new major / minor / patch releases?
- what versioning

[2021-11-16 15:49] dee-me-tree-or-love commented on #402
Hey @mislavk, no worries about it, my apologies for an even later reaction here. I have not yet seen a similar behaviour here actually yet. For some reason, the issues disappeared recently without me really having a chance to properly investigate or identify the underlying problems. Maybe it was mostly network issues at that point on our end but remains interesting.

Are you experiencing those pro

[2021-11-16 15:55] dee-me-tree-or-love commented on #391
Hey @demonguy, sorry for the late response! At this point, I am not aware of a good alternative to what you do currently with the `nginx`, (actually I think that is the right approach in this case and would probably do the same myself). Afaik, `pypiserver` indeed does not support sub-url specifications, but feel free to correct me if I am wrong. I will check it out once again to be sure but I feel

[2021-11-16 19:26] dee-me-tree-or-love opened #406 "Tests failing for tox targeting Python 3.9."
As noticed in #396, the latest attempts to run `test-cpython3.9` GitHub Action fails, meanwhile no code changes could trigger the error. This seems to be related to updated dependencies of `tox` as installed during the `Install dependencies` step in `test-cpython3.9`.

[Currently passing commit on `master` branch](https://github.com/pypiserver/pypiserver/runs/3767104332?check_suite_focus=true) has

[2021-11-16 20:00] dee-me-tree-or-love commented on #391
Hey @demonguy, new update here :) I've made a quick check and as far as I see it, `pypiserver` indeed does not support specifying additional sub-routes for the repository. However, since we are using `bottle` as backend, you technically can extend the `pypiserver` using `bottle`'s API. It provides a `mount(...)` function, that allows mounting the applications on top of a parent application by spec

[2021-11-16 20:00] #391 closed

[2021-11-16 20:06] dee-me-tree-or-love commented on #406
As a temporary step to resolve the CI/CD errors and unblock the pull requests, disabling the tests for 3.9 with #407.

[2021-11-17 10:44] mislavk commented on #402
Hi @dee-me-tree-or-love since I changed to cherrypy web server I haven't seen any weird behaviour, everything works perfectly.

[2021-11-18 10:40] dee-me-tree-or-love commented on #402
Hi @mislavk, that's great to hear, thanks a lot for the update! If it looks stable now and it's okay, I will close the issue, but feel free to reopen it if anything. ✌️

[2021-11-18 10:40] #402 closed

[2021-11-18 15:45] dee-me-tree-or-love opened #408 "Unpredictable server timeouts on testing pypy (`test-pypy` step)."
# What

Noticed it already once earlier, `test-pypy` action sometime fails due to timeouts in `tests/test_server.py` when running using `tox`. Here's an example: [failing pipeline](https://github.com/pypiserver/pypiserver/runs/4230428137?check_suite_focus=true), vs [successful pipeline](https://github.com/pypiserver/pypiserver/runs/4234996187?check_suite_focus=true) with the same code.
Example fro

[2021-11-18 15:49] dee-me-tree-or-love commented on #322
Closing for now as it is not a priority and more things are identified for Milestone v2.0.0 :)

[2021-11-18 15:49] #322 closed

[2021-12-31 03:36] danerlt opened #409 "Supper Cache Package"
I set up a local private pypi source, starting with the command `pypi-server -v -p 8080 -a update --log-file /var/log/pypiserver.log -P /opt/pypi/auth/htpasswd.txt --fallback-url https://mirrors.aliyun.com/pypi/simple/ --overwrite /opt/pypi/packages`

If I specify `--fallback-url` as `https://mirrors.aliyun.com/pypi/simple/`, I want to be able to automatically download from the fallback-url to the

[2022-01-27 10:41] jtpio opened #411 "Package for conda"
Hey folks,

Just a heads up that there is on-going work to package `pypiserver` for conda: https://github.com/conda-forge/staged-recipes/pull/17743

So it can be installed with:

[code]

or with `mamba` (https://github.com/mamba-org/mamba)

[code]

Let me know if any of you would like to be added as a maintainer there. Version updates are automated when a new release is published to PyPI. So most

[2022-01-30 14:17] lidyum opened #412 "After I have upgraded pip to 22.0, pypiserver started to occur; HTML doctype missing or incorrect. Expected <!DOCTYPE html>."
After I have upgraded pip to 22.0, pypiserver started to occur the following error. (I use python 3.8)
[code]

[2022-01-30 19:34] sharmankin commented on #412
i get same issue to. As temporary solvation i comment
[code]
in 408 line of venv/lib/python3.9/site-packages/pip/_internal/index/collector.py in pip

[2022-01-30 20:47] mv1005 commented on #412
I can confirm same issue here. Reason seems to be a change in the HTML parsing code used by pip (see pypa/pip#10825).

If I correctly understand the discussion, pip now rejects HTML documents which are not valid HTML5. According to the specs (see PEP 503: https://www.python.org/dev/peps/pep-0503/#specification) this is a valid expectation.

[2022-01-30 22:29] domdfcoding commented on #412
I have just spun up a `pypiserver` instance and it appears that the generated pages omit the doctype declaration entirely. It's present on the welcome page, but not on `/simple` or the project pages. It's an easy fix, though.

[2022-01-30 23:24] mv1005 commented on #412
Thanks for that instant fix :slightly_smiling_face:.

[2022-01-31 02:49] duardos commented on #412
After a fix is released for this, does anyone have any idea of how should we update our indexes? Will it be needed to download all our packages again to regenrate it, or is there another way? I'm not too knowledgeable on how pip works.

[2022-01-31 06:16] mv1005 commented on #412
Maybe I just don't get the point... but I am not sure what exactly you are referring to.
* Updating the local indexes served by your pypiserver?
* Updating python packages on client side?
* Something different?

[2022-01-31 08:07] duardos commented on #412
First option! I mean, even after upgrading pypiserver (after a fix is provided), the old HTML documents without <!DOCTYPE html> will remain in my indexes, won't they? Or does pypiserver take care of that?

[2022-01-31 09:10] mv1005 commented on #412
The HTML files are created on the fly by your pypi server based on the package files it has stored. This happens at the time you request a package via `pip`. So, updating the server should immediately provide you with properly formatted HTML pages.

Am 31. Januar 2022 09:07:51 MEZ schrieb duardos ***@***.***>:

[2022-01-31 17:24] lidyum commented on #412
I think problem has been resolved because pip has been updated to 22.0.1 ??

[pip changelog](https://pip.pypa.io/en/stable/news/)

**change logs 22.0.1 (2022-01-30)**
Bug Fixes

- Accept lowercase <!doctype html> on index pages. (#10844)

- Properly handle links parsed by html5lib, when using `--use-deprecated=html5lib. (#10846)

[2022-01-31 20:08] mv1005 commented on #412
Pip 22.0.1 does not "fix" the breaking change introduced by version 22.0.0. It still rejects HTML which does not contain `DOCTYPE` at all. However, version 22.0.1 does also except a lower case `doctype`, which 22.0.0 did not.

In contrast to that, pip 22.0.2 reverts the original breaking change and issues just a warning instead of rejecting pages which do not comply with the HTML5 specs.

[2022-02-07 15:51] domdfcoding commented on #412
As far as I understand, the latest version of pip (22.0.3) will no longer error-out if it detects invalid HTML. Instead it will only emit a warning.

[2022-02-20 20:27] #412 closed

[2022-03-16 00:24] dee-me-tree-or-love commented on #405
First steps is currently in progress in #417

[2022-03-23 09:21] ytwanghaoyu commented on #377
Same issue, using `curl --form ":action=remove_pkg"  --form "name=<package>" --form "version=<version>" "$PYPI_URL"` won't delete `.whl` but delete `.tar.gz`.

Don't know if it's something wrong in https://github.com/pypiserver/pypiserver/blob/3950cdc4bcdbebf31997d5edd24ac7887001cd97/pypiserver/backend.py

[2022-03-23 09:30] ytwanghaoyu commented on #377
I know why, it's stupid and simple.
For package names like : `aaa_bbb`
the `.tar.gz` will be named like `aaa-bbb`
but the `.whl` will be named like `aaa_bbb`

[2022-03-24 07:04] dee-me-tree-or-love opened #419 "Preparing new `pypiserver` release"
# Purpose

Hey everyone, I wanted to make a public strategy for the upcoming release collected in this issue as, unfortunately, it is taking me longer than I have anticipated. I'm getting there but would like to apologize for the delays. I'm promising to get it up and running.

Here I would like to make a draft roadmap of things I'm working on to get it ready.
Any help and suggestions on this are

[2022-03-24 07:27] dee-me-tree-or-love opened #420 "Rename `master` branch to `main`"
To be consistent with the guidelines.
The proposal is to follow the suggestions here https://github.com/github/renaming.
Personally, I believe this would be a good step, other ideas are welcome.
Planning to do this _after_ the next release is published (#419) ✌️

[2022-03-24 09:19] dee-me-tree-or-love commented on #419
#417 is ready for review. All suggestions and comments are welcome, I aim to get it merged and create a new release candidate by the end of the week :)

[2022-03-24 11:13] KurtJiang28 opened #422 "Can I get package version when running pip install to install packages from pypiserver?"
Hi, I'm using pypiserver in a limited environment and would like to download packages from pypi.org if not found. I'm curious if I can get package version inside /simple/:prefix route when receive a pip install request. For example, if someone runs **pip install Flask==1.1.2 --extra-index-url.....**, how can I know he/she wants to download flask of version 1.1.2?

[2022-03-31 06:51] SuperSandro2000 commented on #419
The PEP 503 warning will no longer check for DOCTYPE in the next release https://github.com/pypa/pip/pull/10906

[2022-04-11 21:03] harryzcy opened #427 "Build docker images for multiple platforms"
The github action release workflow can support `arm` architecture via [docker/setup-qemu-action](https://github.com/docker/setup-qemu-action).

This is handy when running docker images on arm machines like Raspberry Pi.

[2022-04-11 21:06] harryzcy commented on #427
duplicate of #364

[2022-04-11 21:06] #427 closed

[2022-05-01 21:21] dee-me-tree-or-love commented on #419
Hi all! A new release has been finally pushed :) My huge apologies for the delay and all the bumps on the way there.

https://github.com/pypiserver/pypiserver/releases/tag/v1.5.0

It was my first release in this repo, so do not hesitate to contact/open a new issue in case you find anything strange!
Many thanks for all the patience.

[2022-05-01 21:21] #419 closed

[2022-05-11 12:43] dee-me-tree-or-love commented on #422
Hey @KurtJiang28, thanks for the question! That's a good catch, I think that this should be supported, but I will try to give it a test somewhere later this week to see if it works as expected. Sorry for my late reaction in any case, have you managed to give it a try in the meantime by any chance? 🙂  If you've found a solution, it would be very welcome here :) And if this is no longer applicable,

[2022-05-11 12:48] dee-me-tree-or-love commented on #411
Hey @jtpio, this is fantastic news, thanks a lot for picking this up! I'm a little bit low on time these days, so I'm very sorry for the late response. In any case, this sounds really exciting. I will take a look at how it all works. I am not yet sure I will be able to find extra time to join the `conda-forge` as a maintainer yet, but I will let you know once I will check it out better. please let

[2022-06-06 13:40] simonvadee commented on #279
for people stumbling across this problem, I had a large package (>1Gb) that could not be uploaded to `pypiserver` due to a `413: request entity too large` even after I edited the `client_max_body_size` setting of my (nginx) reverse proxy.

Turns out the default "bottle" webserver itself has a body size limit:
[code]

Maybe you can configure this limit, but I chose to just override the webserver us

[2022-06-15 09:21] dee-me-tree-or-love commented on #279
@simonvadee thanks a lot for sharing the inisghts! This is a great write-up and hopefully can save other people some trouble. 👍 Don't hesitate to open up a separate issue if these problems persist or seem to be not configuration related.

[2022-06-21 16:28] herter4171 opened #433 "CERTIFICATE_VERIFY_FAILED on Upload"
We have been running `pypiserver` for some time now using the Docker image, and we are on the latest version (1.5.0).  We have HTTPS enabled on port 443 with a certificate signed by GoDaddy, which as you can see below, is valid when visiting the site.

![image](https://user-images.githubusercontent.com/21989132/174850008-2ca907e3-2c20-4ecb-907f-b23f670765ea.png)

For some reason, I'm getting the f

[2022-06-21 17:44] herter4171 commented on #433
Okay, there's definitely something funny with our OpenSSL install, because when I do `openssl s_client -connect [SITE]:443` on the system installed version under `/usr/bin`, it doesn't kick back that it's self-signed.  I'll keep this open to see if anyone might have a suggestion, but feel free to close as I'm pretty sure this mess is of my own doing and unrelated to this project.

[2022-06-21 19:13] herter4171 commented on #433
Final update.  I found out Amazon Linux 2 has OpenSSL packages `openssl11*` that are compatible with Python 3.10.x.  Should anyone care, before configuring Python, you want to point it to `openssl11` via
[code]

[2022-06-21 19:13] #433 closed

[2022-07-05 20:22] LeamHall commented on #325
I would point out that dropping support for older versions of Python my actually kill the project's value proposition. Think of the person who needs pypiserver because they have a RHEL environment (runs Python 2.7) and can't connect to PyPi itself. This project is made for them. If you drop old Python versions, even 3.6 or less, you're eliminating the very customers who need the project.

[2022-07-05 22:58] LeamHall commented on #325
Ah, let me split the question. Can pypiserver *serve* Python 2 pacakges, even if it requires Python 3 to run? That is a big win.

Some of the above conversation seemed geared towards things like using FastAPI and dropping support for Python 3.6 and below. That would seem to add installation overhead, espically in isolated environments. That is my biggest concern.

Docker is possible, but adds its

[2022-07-05 23:18] mplanchard commented on #325
Yeah afik there haven't been any changes that would prevent serving python 2 packages, and I _think_ that we should still be compatible with pretty old versions of pip, the interface of which has generally been kept relatively backwards-compatible, at least for python stuff. If this is a use case enough people care about, we'd definitely appreciate PRs to test with older versions of pip and/or eas

[2022-07-05 23:25] LeamHall commented on #325
I tried installing some dependencies into a venv, but when I went to pip the application, it kept trying to reach out to pypi itself. That's what led me (_to curse Python's package tools_) here.

Let me see what I can figure out. I like Bottle, and I like the simplicity of your plan. Robust plans tend to be simple.

[2022-07-05 23:30] mplanchard commented on #325
Note in case it's useful that pip's got a pretty wide variety of options to define where it talks to. If you use the config option `index-url` (or `--index-url` on the cmdline), as opposed to `extra-index-url`, you can prevent it reaching out to real PyPI and only using the index you specify.

[2022-07-26 21:28] #387 closed

[2022-07-30 21:48] kirankotari commented on #397
Hi @dee-me-tree-or-love and @mplanchard I would like to be support to a maintainer right now, when I am fully confident and our mindset on same objective, I can take things up. I am new to the maintainer space, so I would like to get few coaching as well. Here is my project link [pyenv-win](https://github.com/pyenv-win/pyenv-win)

[2022-08-02 15:02] dee-me-tree-or-love commented on #397
Hey @kirankotari thanks a lot for your message and proposal! All the help will be certainly very welcome. It will be amazing to see you chiming in! I am currently on a holiday until around 20 August, but thereafter I'll be more active and available for a chat if you would like that. For now, don't hesitate to tune in on the issues you find interesting already. Then, maybe we can chat a little more

[2022-08-07 00:55] matteius opened #437 "Support pypi API for fetching package hashes/digests"
Greetings, I help maintain the python package manager `pipenv` and I am opening this feature request to support a subset of the API pypi provides for fetching package hashes/digests.  For example, the package `requests` can get the metadata by calling `https://pypi.org/pypi/requests/json` which is essentially `https://pypi.org/pypi/{pacakge_name}/json`

One of the questions we get from time to tim

[2022-08-20 13:57] matteius commented on #397
I help maintain `pipenv` and could consider helping out in some capacity -- we may be converting `pipenv` test runner to utilize this package instead of what we are currently using for this.

[2022-08-22 09:21] dee-me-tree-or-love commented on #397
Hey everyone, thanks for the patience, I am now at last back in front of the screen :)

Hi @matteius, this would be amazing if you'd like to join! Please feel free to join any discussions you find interesting and if you'd like, I'll be happy to add you to the team. If you have any questions, feel free to send me a private message on [Zulip](https://pypiserver.zulipchat.com/#) or via email. I'd be

[2022-08-22 09:27] dee-me-tree-or-love commented on #437
Hey, @matteius this is a very good idea. Thanks a lot for the proposal. I've just returned from a holiday time and will look deeper into this in the coming days, but I really like the thought. Please feel free to open a pull request if you have some ideas on this in the meantime and in any case I'd be happy to discuss it further if you'd like!

[2022-08-22 10:16] dee-me-tree-or-love opened #438 "Avoid duplicate CI runs on non-fork Pull Requests"
# What

For example in #435, the CI is triggered twice by `push` and `pull_request` triggers.
This should be avoided since it only adds confusion and possibly increases the total time for CI.

## Example

<img width="867" alt="image" src="https://user-images.githubusercontent.com/12134172/185897602-9a496866-9d98-4729-9a81-45a7eb2596ee.png">

## Possible solutions

- Configure the `ci.yaml` workflo

[2022-08-22 14:51] dee-me-tree-or-love opened #439 "Failing `test-docker` CI step in github actions workflow"
# What

The `test-docker` step of the `ci` workflow seems to fail on installing `gevent=21.1.2` (here are the [job logs](https://github.com/pypiserver/pypiserver/runs/7949072664?check_suite_focus=true#step:6:307)) and some other issues. This prevents the CI pipeline from completing successfully and should be resolved.

[2022-08-28 15:39] Mason-Lin opened #441 "Allow users to customize the health check endpoint"
Hope to allow users to customize the health check endpoint
For example /health, /healthz, /health/live, /api/health, /action/health

I checked whether there is a conventional health endpoint and found that /healthz is relatively common usage
, but each team may still define some different paths.

I tried adding `--health-endpoint` to RunConfig, but I found that there was no `config` when creating

[2022-09-06 16:41] #439 closed

[2022-09-07 08:33] matteius opened #446 "Allow thread/process count to be configurable"
From what I can tell, there is not currently a way to specify to the underlying server package how many threads it should run with.   The default wsgi server is single threaded and thats fine, but for example `waitress`, which we use on Windows for `pipenv` test runner since it does speed up the tests, defaults to 4 threads or processes (not sure which) and while on my computer this is great, the

[2022-09-27 13:04] warrenalphonso opened #449 "watchdog doesn’t trigger events when pypiserver is run with gunicorn"
Minimal reproducible example:

[code]

Loading the simple directory, then uploading a file, and reloading the simple directory will still sometimes show an empty index, depending on which `gunicorn` worker serves the response.

Debugging further showed that the `watchdog` event was never being fired. When I tried using the `watchdog` logic in `cache.py` separately with the same `watchdog` version,

[2022-09-29 08:18] dee-me-tree-or-love commented on #107
I would like to revive this discussion after a nice comment from @cclauss in his PR #447.

I agree with the concern here and feel that this is becoming a more interesting item with Python evolving even further.

On the one hand, this brings stopping safety support for old versions, and on the other - many nice language built-ins and packages that can make contributions easier for the new versions.

[2022-10-05 06:13] jayeff opened #452 "Discussion: Should pypiserver switch default hash algorithm to sha256?"
Current default configuration of pypiserver does no longer work with poetry >= 1.2 as pypiserver uses md5 by default for hashing. There is an open issue for this here: https://github.com/python-poetry/poetry/issues/6301 (and workaround with using `--hash-algo=sha256` here: https://github.com/python-poetry/poetry/issues/4523#issuecomment-923741164).

This may still be fixed by a future release of p

[2022-10-18 15:27] felix1m commented on #449
i have the same issue, temporary workaround for us is to disable the caching for now: `--backend simple-dir`

[2022-10-18 15:32] felix1m commented on #449
Some more background information:

we also had some issues with "/data/packages" being set as VOLUME in the dockerfile, but we mounted it via kubernetes.
Ended up with using a different path:
`        args: ["run", "-P", "/data/htpasswd.txt", "-a", "update,download,list", "--server", "gunicorn", "--backend", "simple-dir", "packages2"]
`

Maybe there is a connection..

[2022-10-19 07:20] #406 closed

[2022-10-26 19:42] rchevalier-brainchip opened #455 "Package indexing not happening unless py-server docker image is restarted"
Hi,

I am currently using v1.5.1 docker image.
Image is started with the following script:
[code]
and python packages are uploaded to `/home/brainchip/pip-packages` using scp.

Uploading new packages, they are not seen through the server web interface unless I restart the docker image (just like if there was no indexing refresh).

Could you help me letting me know if a known issue and the addition

[2022-10-27 22:47] #438 closed

[2022-10-27 22:51] dee-me-tree-or-love commented on #449
Hello @warrenalphonso and @felix1m, thanks for reporting this and providing good examples! Unfortunately, I didn't have the chance to look closer into this yet, but I will try to check this out with higher priority soon. From a quick glance, maybe https://github.com/pypiserver/pypiserver/pull/454 will be sufficient to solve this problem, but I will take a look twice. Also, https://github.com/pypis

[2022-10-28 15:54] lucsorel commented on #452
🙏 thank you @jayeff for opening this issue.

We have our own instance of pypiserver and would like to upgrade poetry from 1.1.15 to 1.2.0.

If there is a command to update the hashes (from md5 to sha256) in the pypiserver side, I am also interested.

[2022-10-28 16:23] kevinbull commented on #455
I replaced the v1.5.0 container with one running v1.5.1 and I still can't see the whl file.  The web UI lists 13 other whl and gz files from the packages directory but not the one that was placed there programmatically.  This is very strange all the file permissions are identical.

[2022-10-31 09:36] dee-me-tree-or-love commented on #452
Hello @jayeff and @lucsorel for bringing this up!

That's a very important point and I also see the importance of going towards `sha256` as a default algorithm for `pypiserver` too. However, as @jayeff correctly remarks, that would be a breaking change. So I truly hope to include it in the `2.0.0` release along with a [few other new modernisation changes](https://github.com/pypiserver/pypiserver/m

[2022-10-31 09:40] #404 closed

[2022-10-31 09:41] dee-me-tree-or-love commented on #420
Aiming to get this done by `2.0.0` release.

[2022-10-31 09:44] dee-me-tree-or-love commented on #455
Thanks a lot for reporting this @rchevalier-brainchip and @kevinbull! I think that this might be related to #449 under the hood, but I will still need to start a thorough investigation. Thank you very much for reporting the reproducible configurations where the issues are faced! 👌 I hope we will be able to resolve it rather soon.

[2022-10-31 09:47] dee-me-tree-or-love commented on #446
Hey @matteius, that's a great idea! I will need to think about it a little to see where and how this can fit, but I really like the proposal. I'll be thinking which related features/plans can facilitate making this happen with the least need for large changes. Cool stuff! 👍

[2022-10-31 09:54] lucsorel commented on #452
thank you very much @dee-me-tree-or-love for your answer. Just to make sure about your advice of restarting the server with `--hash-algo=sha256`: would that break the download of artefacts that are referred to "old" `poetry.lock` files that use md5 hashes too?

If I should update the `poetry.lock` files with sha256 hashes beforehand, then it is the chicken and egg dilemma 😃

[2022-10-31 10:54] dee-me-tree-or-love commented on #452
Hey @lucsorel, happy to hear this may be helpful! That's a good point 😅 I am not too familiar with internals of `poetry`, but afaik, there exists `poetry lock --no-update` [command](https://python-poetry.org/docs/cli/#lock) that should update the lockfile with the right metadata without reinstalling any packages. I am not 100% sure that this will do the trick, but I think that could be an option.

[2022-10-31 11:16] lucsorel commented on #452
That is a good lead to follow 👍

Yes, that may happen next week, after the holidays. And I will give some feedback here for the other interested people

[2022-10-31 15:10] rchevalier-brainchip commented on #455
Thanks @dee-me-tree-or-love, I will try the suggested w/a (https://github.com/pypiserver/pypiserver/issues/449#issuecomment-1282580110) and let you know (we added a cron job to periodically restart the server meanwhile)

[2022-10-31 15:51] dee-me-tree-or-love commented on #455
Great @rchevalier-brainchip, thanks a lot for trying this out! Indeed, if you could share any insights it would be super helpful!  Thanks for sharing the workaround for the time being and sorry for the encountered challenges 🙏

[2022-10-31 15:52] dee-me-tree-or-love commented on #452
Hey @lucsorel, this sounds great! Yes, of course, any insights will be very much appreciated! :) Thanks a good luck there ✌️

[2022-11-01 09:20] dee-me-tree-or-love commented on #368
Adding another documentation area:
- [ ] document the release management flow https://github.com/pypiserver/pypiserver/issues/405

[2022-11-01 09:20] dee-me-tree-or-love commented on #368
Also related PR on documentation #451

[2022-11-01 09:27] dee-me-tree-or-love commented on #408
Not directly related but relevant: #374

[2022-11-01 09:35] dee-me-tree-or-love commented on #384
hey @jayrod! sorry for the long silence here, a lot of things were going on lately. I am curious if you are still facing this challenge or if you have found a solution? Any insights will be very appreciated 🙌

As for the plugins, there's not much support natively in building them afaik, but it is on the list for architectural improvements for `pypiserver` in the [coming major releases](https://git

[2022-11-01 10:45] jayeff commented on #452
I validated this for our switch and this works without issues. Restart pypiserver with `--hash-algo=sha256` and it will start serve packages with sha256 hashes. Remove the option, restart pypiserver and it will serve packages again with md5 hashes.

Yes, it will.

Yes, it is 😊
We had the PR with poetry.lock change ready to merge. Restarted pypiserver with hash-also change and right afterwards merg

[2022-11-02 18:21] lucsorel commented on #452
:pray: thank you @jayeff for your detailed contribution :smiley:

[2022-11-02 21:06] rchevalier-brainchip commented on #455
Hi @dee-me-tree-or-love I have just restarted the docker image adding the following:
[code]

I will let you know if suggested w/a works as soon as a new package is uploaded by out continuous integration

[2022-11-07 10:24] rchevalier-brainchip commented on #455
I confirm that the above w/a works for us.

[2022-11-09 14:44] zhenzi0322 opened #460 "After using the local installation package under docker mapped packages, no package file is found"
After using the local installation package under docker mapped packages, no package file is found

[2022-11-10 09:30] dee-me-tree-or-love commented on #460
Hi @zhenzi0322! Thanks for reporting the issue! It's unfortunate that you're having some problems with `pypiserver`. Could you share what command are you using the start the `pypiserver` docker and how are you searching for the package? If you see any warning/error messages in the container logs, they are also very relevant. This will help a lot to identify what could be the source of the problem.

[2022-11-10 12:45] zhenzi0322 commented on #460
![image](https://user-images.githubusercontent.com/34839719/201095039-ba65c547-dc20-4d25-aee5-d307cc00306f.png)

[2022-11-11 17:48] kevinbull commented on #455
I can confirm the w/a also works with 1.5.1

[2022-11-11 18:19] kevinbull opened #461 "File Validation or Inspection Prior to Listing?"
Is there file validation or inspection before pypiserver will list the file in the `/packages` endpoint?  During testing, I noticed I could put a text file with a `.whl` extension in the packages directory and it would not show up in the endpoint listing.  However, if I put a valid python package `.whl` file then it would appear in the listing.  The behavior seems to be similar for `.gz` files.

J

[2022-11-16 14:56] dee-me-tree-or-love commented on #408
An example of this here: https://github.com/pypiserver/pypiserver/actions/runs/3369128311/jobs/5588533558

[2022-11-16 14:59] dee-me-tree-or-love commented on #460
Hi @zhenzi0322, thanks a lot for the screenshot! This shows that the server has booted well. Could you show the command you use to start this docker container though? Something like `docker run ....`, or if you are using `docker compose` could you provide a snippet where you configure `pypiserver` as a service in `docker-compose.yml` (or similar file)?

[2022-11-19 11:51] zhenzi0322 commented on #460
[code]

[2022-11-22 23:38] Rizhiy opened #462 "Allow only certain users to upload"
Hi, I'm trying to run a private pypiserver and I understand that I can restrict access with `-P` and `-a`.
The way I currently understand it is that the same permissions are set for all users.

Is it possible to have different permissions for different users?

I need two types of users:
* "standard" user, which will be able to only list & download/install packages with username & password.
* "admi

[2022-11-23 11:29] dee-me-tree-or-love commented on #460
Great, thanks for sharing, @zhenzi0322. I will try to reproduce this locally to see what can be going wrong and will come up with some suggestions. I will keep you posted!

[2022-11-24 02:09] zhenzi0322 commented on #460
Ok.

[2022-11-28 16:24] vEpiphyte commented on #462
@Rizhiy I've written a proxy application to do this, that implements a per group and per user access controls for list/download/upload. That sat in front of the simple APIs and filtered out the results as needed. Unfortunately this isn't currently a open source project.