[2011-07-29 08:22] fdev31 opened #1 "/pypi is not implemented"
`/pypi` is not implemented, that prevents programs like `pyg` to work.

[2011-11-22 20:14] hodgestar opened #2 "pip install pypiserver fails with 404"
$ pip install pypiserver --upgrade
Downloading/unpacking pypiserver
  HTTP error 404 while getting http://pypi.python.org/packages/source/p/pypiserver/pypiserver-0.4.0.zip#md5=1a1a30d75b92137e99e7bf967a98d3e9 (from http://pypi.python.org/simple/pypiserver/)
  Could not install requirement pypiserver because of error HTTP Error 404: Not Found ()
Could not install requirement pypiserver because of H

[2011-11-22 21:54] #2 closed, assigned to nobody

[2012-02-24 12:46] ThomasWaldmann opened #3 "document how to initialize the wsgi app"
I just had a quick glance over the docs, but I could not find how to use pypiserver as a wsgi app.

It looks like it is using wsgi internally, but usually one would expect there is a documented way to initialize the wsgi app and use it with ANY wsgi server one likes, not just the ones supported by bottle. Isn't that why wsgi was implemented in the first place?

For apache2 / mod_wsgi users, a pypi

[2012-02-25 17:16] ThomasWaldmann opened #4 "conflicting filenames "tip.zip" for dev versions"
For moin2, we need flatland==dev. if one downloads that with the suggested pip command, it gets stored as tip.zip into the package mirror directory.

if i add another package with ==dev, that one gets also stored as tip.zip.

This obviously can't work. Is there a way to handle this?

Aside from the conflict, it also loses information about what package that was. I suspect when looking for updates

[2012-03-22 17:32] wyuenho opened #5 "implement package upload"
Thanks for pypiserver. I must say it is the most stable and clean pypi alternative implementations out there for now tho, it's still feature incomplete.

Please do consider allowing package upload by using python setup.py upload as it is the most convenient way to to distribute a private package.

[2012-03-24 22:42] ThomasWaldmann opened #6 "issue with pytz / package / filename parsing?"
I added the pytz package to my pypiserver packages dir (as I did with all other packages needed).

On my pypiserver http://pypi.moinmo.in/simple/ it looks like this:

[code]

On http://pypi.python.org/simple/ it looks like this:

[code]

Looks like pypiserver gets confused somehow by the packagename / filename / extension?

[2012-03-26 00:23] #3 closed, assigned to nobody

[2012-03-26 22:52] #6 closed, assigned to nobody

[2012-04-24 18:42] #5 closed, assigned to nobody

[2012-07-09 14:29] brianbianco opened #11 "Pypi server randomly sends 401 error on upload"
When I try to upload my pip's to the pypiser server, it will fail with a 401 error a random amount of times, then magically be accepted.  This goes for registering the package as well.  The logging is not very helpful in figuring out what exactly has gone wrong.

Here is logging output:

[09/Jul/2012:13:46:00 +0000] "POST / HTTP/1.1" 401 729 "-" "Python-urllib/2.7"
[09/Jul/2012:13:46:01 +0000] "PO

[2012-07-25 17:50] #11 closed, assigned to nobody

[2012-07-25 17:50] #4 closed, assigned to nobody

[2012-08-07 20:54] #1 closed, assigned to nobody

[2012-08-16 04:03] nueces opened #17 "The package uploading don't work with the paste_app_factory"
When the paste_app_factory instance the app don't read the password_file option fron the configuration file.

[2012-08-17 07:04] alexandrul opened #19 "proxy support [was: pypi-server -U fails with socket.error: [Errno 10060]]"
`pypi-server -U [OPTIONS] [PACKAGES_DIRECTORY]` seems to fail due to lack of proxy support. I have tried to set `http_proxy` but it has no effect. pip is working fine with the proxy.

[2012-08-22 19:49] #17 closed, assigned to nobody

[2012-11-08 12:26] hpk42 opened #23 "Caching from upstream server"
pypiserver-1.0 supports a fallbackurl fine.  A few questions:
- if the package query which is redirect to pypi.python.org has dependencies will pip/easy_install again first ask the initial instance (pypiserver-1.0)?
- did you consider performing the query to pypi.python.org yourself and caching the result so that on the next occassion the server will know about it  (after all, releases/files can b

[2012-11-08 12:32] hpk42 opened #24 "docs say no upload is possible but 1.0 supports it"
I managed to create a htpasswd file and use register/upload with pypiserver-1.0.  The docs don't really discuss this feature and also the comparison with other pypi servers seems to be based on an earlier release (otherwise why highlight that others have upload).

[2012-11-23 16:51] woutervh opened #25 "support voor virtual hosts"
I have pypiserver running on apache/mod_wsgi, served under "/pypi"

but the some links on the homepage are incorrect
because they don not take into account request.fullpath

in
   58 @app.route('/')
   59 def root():

 "packages" point to "/packages" instead of "/pypi/packages"
 "simple" point to "/packages" instead of "/pypi/simple"

[2012-12-02 22:10] #25 closed, assigned to nobody

[2012-12-26 23:29] #24 closed, assigned to nobody

[2013-01-03 11:39] alexandrul opened #26 "'module' object has no attribute 'spawnlp'"
Windows support seems to be broken due to the usage of os.spawnlp:

http://docs.python.org/2/library/os.html#os.spawnlp:

[code]

[2013-01-03 20:45] #26 closed, assigned to nobody

[2013-01-08 17:05] sdouche opened #29 "Add base_url on the server"
When zope.kgs parse content of source files, he catch this:
/packages/js.amcharts-2.7.7.tar.gz
instead of
http://pypi.rd.securactive.lan/packages/js.amcharts/

As a consequence, he cannot use the right url. Please add a base_url option.

Thanks.

[2013-01-14 00:00] #29 closed, assigned to nobody

[2013-01-21 18:09] Jonnymcc opened #30 "Adding /simple/ to dependency_links?"
I set up a pypi server with some packages and tried adding the /simple/ URL to one of the packages setup.py script's dependency_links. When I run pip install or easy_install it fails to find the package at /simple/. When I add a package name to the path in dependency_links it does work. Can this work without having to add explicit paths for each dependency? I want to avoid having to tell users to

[2013-01-21 20:11] #30 closed, assigned to nobody

[2013-02-19 05:12] Sadashiv opened #32 "Creted the local pypiserver but not able to upload package to my local pypiserver"
http://pypi.python.org/pypi/pypiserver/#table-of-contents
Fallowed the all the stepps mentioned in above link.
But when i am going to upload package to my local pypi server.
1. python setup.py sdist upload -r internal

`When i ran above command by default it's going to pypi.python.org server '

removing 'boto-2.8.0' (and everything under it)
running upload
Submitting dist/boto-2.8.0.tar.gz to http

[2013-02-20 11:18] #32 closed, assigned to nobody

[2013-02-21 05:14] baijum opened #34 "Nested directory structure for storing packages"
Now all packages are stored in a single directory.  If the server has too many packages with numerous releases, the number of files will be very huge.  It would be good to organize the files in a directory structure based on package name.  This need not be the default behavior, it can be a configurable.

For example:

[code]

[2013-04-27 15:03] gracinet opened #38 "PyPI backend and redirections"
Hi, thanks for pypiserver, simple and useful !

Here's a tricky problem when running pypiserver with fallback to a mirror index, not sure if it should be fixed within pypiserver or not.
See also https://bitbucket.org/loewis/pep381client/issue/22

The main PyPI server does some 301 redirections (to fix some mispellings). That's not something a mirror can easily reproduce (see above cited issue on p

[2013-05-09 20:44] #23 closed, assigned to nobody

[2013-07-11 07:56] guettli opened #39 "build_ext on mirror?"
I asked on stackoverlfow, but nobody replied. Here is the question again:

http://stackoverflow.com/questions/17275323/pypiserver-build-ext-on-mirror

We have a local pypiserver and up to now we are happy with it.

But psycopg2 makes trouble. It wants pg_config to be installed. I don't see a reason why it should be installed on the mirror server. I understand that it needs to be on the client wher

[2013-07-11 09:46] #39 closed, assigned to nobody

[2013-10-19 11:45] arseni-mourzenko opened #41 "Can't list packages on Windows"
The actual documentation states that in order to start the server, one should do:

[code]

When installing pypiserver on Windows, the fourth line results in the following error:

Replacing:

[code]

by:

[code]

works.

Wouldn't it be nice to include in the documentation a note about this error on Windows and the possible way to avoid it?

[2014-01-05 00:34] #41 closed, assigned to nobody

[2014-01-17 08:15] ctoth opened #44 "Add support for Wheels"
The wheel filename is {distribution}-{version}(-{build tag})?-{python tag}-{abi tag}-{platform tag}.whl.
http://www.python.org/dev/peps/pep-0427/

[2014-01-19 21:08] ctoth opened #45 "Move hardcoded html into templates"
It appears as though the Bottle web framework you are using has support for a simple template system: http://bottlepy.org/docs/dev/tutorial.html#tutorial-templates

[2014-01-20 20:28] #45 closed, assigned to nobody

[2014-01-20 20:39] #44 closed, assigned to nobody

[2014-02-25 12:24] pete-theobald opened #47 "pypiserver accepts documentation uploads but does not save docs"
Not sure how pypiserver is meant to behave with upload_docs but it looks wrong to me.

I am building package docs using sphinx and then running the upload_docs command to upload them to my pypiserver (apache2 and wsgi). I get a 200 response saying that everything went well, but I cannot find the documentation saved on the server and not visible in the index.

Scenario 1 - pypiserver does not suppo

[2014-03-05 22:03] #47 closed, assigned to nobody

[2014-04-16 11:07] doismellburning opened #49 "Bottle missing gevent monkey patch"
Currently, attempting to run `pypiserver` with `--server gevent` fails due to lack of a monkey patch call:

[code]

[2014-04-30 21:38] murphm8 opened #51 "Pip install requires <package_name>==<version>"
My package is uploaded and I can see it when I browse http://server/simple

When running `pip install` I get the message: "Could not find a version that satisfies the requirement <package_name> (from versions: 1.0.0d5, 1.0.0d7)"

`pip install <package_name>==<version>` works, but I would like it to auto-negotiate the latest version.

Am I doing something incorrectly, or does pypiserver not support

[2014-05-01 19:29] #51 closed, assigned to nobody

[2014-05-29 22:31] dsoprea opened #52 "Refuses to use local server"
Running this, I still get results when I take the local server down:

[code]

The -v option is supposed to turn-on verbosity, but there's nothing.

[2014-05-30 19:39] #52 closed, assigned to nobody

[2014-06-03 12:11] Ivoz opened #53 "Provide hash in the link for local packages"
pip 1.5 and greater would like secure links by default, which by implementation means the link provides a hash of the package in the url. This provides some form of verification of correct file download at least.

You can see some of the [api docs at warehouse](http://warehouse.readthedocs.org/en/latest/api-reference/legacy/#get--simple--project--) how this is done.

It would be great for pypiserv

[2014-07-10 21:09] charlesjdimino opened #54 "Non-numeric version values are assumed to be part of package name"
Maybe this is the wrong way to handle this problem, but according to git flow, the develop branch of a project should not have any version number (how can you know what version you're going to release until you're in the release tagging stage?, or so the argument goes).

My version number is, therefore, "DEVELOP".  This creates packages that look like this: "foo-DEVELOP-1402948847.tar.gz".

It loo

[2014-07-11 18:39] #54 closed, assigned to nobody

[2014-10-06 19:43] schmir opened #57 "pypiserver needs a new maintainer"
I don't use python anymore and won't support pypiserver anymore. Someone else should take over.

Please take a look at devpi for a well maintained alternative.

[2014-10-31 11:09] ror6ax opened #58 "Add logging facilities"
Design those with the ability to feed themselves to logstash.

[2014-11-15 21:04] ror6ax opened #63 "Make puppet and chef modules"
Currently working on puppet module.
Chef module can be picked up by anybody who wants to.

[2014-11-18 09:44] #58 closed, assigned to nobody

[2014-11-18 10:01] #34 closed, assigned to nobody

[2014-11-21 20:56] #57 closed, assigned to nobody

[2014-12-23 15:59] kaos opened #64 "missing distribution spec [pip 1.5.6, python 2.7]"
Hi,

I run into this error when using a newer version of pip.

[code]

When using pip 1.3.x (don't recall the exact version), it works just fine.

[2015-01-02 14:27] ror6ax commented on #64
Hi Andreas,
`pip -r` is to be used with requirements file. If you need to install package via url you can simply do `pip install [url with full filename]`. Both work with current pypiserver and pip 6.0.3

[2015-01-03 22:17] ror6ax commented on #64
ping @kaos

[2015-01-08 12:54] petri opened #65 "support protected downloads and listings"
This would make pypiserver useful for serving a private (proprietary) package repository.

[2015-01-09 05:59] petri commented on #63
What's the utility, ie. purpose of such a module? What does it achieve with pypiserver?

[2015-01-09 06:15] petri commented on #65
Looks like this would be simple to add. I can make a pull request with the following command-line enhancements:
 1. add new option ```-s | --secure = download | upload | both``` that also requires giving ```-P```
 2. modify behavior of ```-P``` option slightly so that using it also requires giving  ```-s | --secure```

That ok?

[2015-01-09 10:28] petri commented on #65
Ended up implementing separate auth for listings as well, using the ```-a | --authenticate``` option, with comma-separated values as python ```getopt```does not support multiple values... Pull request coming.

[2015-01-12 20:19] ror6ax commented on #63
Installation and setup of dependant services(if such one will ever be) in a well-known fashion of a cookbook. Ease of use in dev environments.

[2015-01-14 23:22] ankostis commented on #57
@ror6ax and @dingus9 should we start planning new version 1.1.7?

[2015-01-15 10:41] ankostis commented on #53
I may have gotten this wrong, but why is a DB needed for pip's secure-links?
Isn't it enough for pypiserver to check that the requested hash matches the hosted or fail-through package's hash?

[2015-01-15 15:43] ankostis commented on #64
@kaos is this issue invalid?

[2015-01-15 15:57] ankostis commented on #19
So @schmir the only file involved with this is ``pypiserver/manage.py``, right?
Would you mind describing what problems you bumped into, in python-3?

[2015-01-16 14:34] ankostis opened #68 "Release v1.1.7"
@schmir, @ror6ax and @dingus9:
I believe it is time to make the 1st public release under the new ownership scheme.

- The PR's marked for inclusion are marked with milestone=v1.1.7.
- I'm hopping to start merging during the weekend.
- Arbitrarily set release-date on 25-January.
- @schmir i will need you to give access to my pypi-account (named also `ankostis`) for uploading released packages.
- @d

[2015-01-16 21:10] schmir commented on #68
Kostis Anagnostopoulos <notifications@github.com> writes:

@ankostis you now have owner rights on pypi

[2015-01-19 08:13] kaos commented on #64
@ror6ax @ankostis Sorry, don't know how I've been able to miss the notifications for this issue..

No, I got the args mixed up with what I use with `setup.py sdist upload -r <repo>`.. My bad, sorry.

Thanks for pointing it out to me.

[2015-01-19 08:13] #64 closed

[2015-01-21 21:25] schmir commented on #19
I don't remember any specific problem. Sorry.

[2015-02-05 18:33] ror6ax commented on #68
Hi guys, I wasn't around for a while, sorry.
I'm ok with the release. Anything hold us from doing it?

[2015-02-05 18:35] ror6ax commented on #53
Well, remaking hash every time it's requested is a bit overhead, right?
I'll finish this in nearest future.

[2015-02-05 18:39] #63 closed

[2015-02-06 12:11] ankostis commented on #53
My feeling is that current CPUs have more than enough juice for such numerical tasks.
Of course this may not apply for embedded ones.

[2015-02-06 12:12] ankostis commented on #68
Procrastination, sorry :-)

[2015-02-13 15:50] erikb85 opened #69 "Will be building a RPM package for Fedora, interested in coop?"
Hi,

it will be necessary in our company to run our own pypiserver. To improve the work for the admins we want to build rpm packages for them. Would you guys be interested in cooperating?

Currently I have a shell script which creates a virtualenv location and a package location, starts the virtualenv and installs a new pypiserver, then runs it on a configured port. Additionally I've created a sys

[2015-02-15 21:49] ankostis commented on #65
PR#66 merged.

@petri is this ready to close?

[2015-02-15 22:45] ankostis commented on #69
Have no knowledge of RPMs/Fedora, but i would be glad to help with your requests.

Would you mind explaining the whole last part of your suggestion, from where it says "..and finding a service that always builds a new package ..."?

[2015-02-16 09:21] petri commented on #65
Fine with me.

[2015-02-16 09:22] #65 closed

[2015-02-19 10:38] cpaulik opened #76 "Does not work in Windows?"
I've set up pypiserver 1.1.6 on Windows7 using python 2.7.9 and pip 6.0.8.

```http://localhost:8080/simple/``` lists my package without problems but
```pip install -i http://localhost:8080/simple pygrids``` says:

[code]

The different version of the pygrids package are:

[code]

Same setup works on Ubuntu 14.04

[2015-02-19 16:49] ankostis commented on #76
Could it be related to #38?
If yes, then the question is why it works in ubuntu...

[2015-02-19 18:49] ankostis commented on #76
@cpaulik  may you try the option `--extra-index-url` instead of `-i`?
Do you still get the same behavior?

[2015-02-20 09:27] cpaulik commented on #76
Hi,

The exact url of the package is http://localhost:8080/simple/pygrids/ there I see the tar.gz files listed.

Using the ```--extra-index-url``` leads to a slightly different error:

[code]

[2015-02-20 10:27] aspyatkin commented on #68
Hi, would the new release be available on PyPI soon?

P.S. I suppose there is a typo in issue name

[2015-02-20 10:33] ankostis commented on #76
I'm sorry to bother you again, but could you provide me with 2 more things:

1. The print-out of the command:

      pip install pygrids -v --extra-index-url=http://localhost:8080/simple/ --retries=1

2. The contents of the pypiserver's repo folder as seen with windows-explorer (i'm looking specifically for the case of the ``pygrids`` folder & filenames).

[2015-02-20 10:48] ankostis commented on #68
@aspyatkin @1.1.7-beta.0 is ready, and actually we are looking for beta-testers since this is the 1st release under the new maintainer-team.

Would you mind trying it with this command (assuming `git` is in your path):

[code]

Just make sure that you have uninstall any older installation.

[2015-02-20 10:57] cpaulik commented on #76
No problem, thanks for taking the time to look into this.

[code]

I started the server with the command:

[code]

Content of piptest folder

![image](https://cloud.githubusercontent.com/assets/380927/6284999/3738ae8c-b8f7-11e4-97d1-175f69a58f62.png)

Browser view of ```localhost:8080/simple/pygrids```

![image](https://cloud.githubusercontent.com/assets/380927/6285024/6e4a295a-b8f7-11e4-9c38-41e3

[2015-02-20 11:04] ankostis commented on #76
It is the following line that shouldn't be there:
```Starting new HTTP connection (1): proxy.ipf.tuwien.ac.at```
Is it possible to disable this proxy somehow?

Additionally, when you say that it works in Ubuntu, what exactly do you mean?
Running the `pypiserver` in it, `pip install`, or both?

[2015-02-20 11:17] aspyatkin commented on #68
Oh, that's great! I will certainly try the new version.

[2015-02-20 11:40] cpaulik commented on #76
Thank you and sorry for the confusion. It works if I disable the proxy.

Why does it not work with the proxy? Can we configure the proxy to also work with pip? Because disabling it is not a long term option.

On ubuntu the server and installing works but I guess ubuntu ignores the proxy for localhost better than windows.

[2015-02-20 11:41] ankostis commented on #68
@aspyatkin I would propose to use the repo with `--extra-index-url <url>` instead of `` --index-url <url>     ``, or set that permanently into you ``~/.pip/pip.conf``, since this repo is not a proper-replacement for the main *pypi*, (i.e. for mispelled packages, see to #38).

I'm planning to change that part in the documentation prior to release.

[2015-02-20 11:52] ankostis commented on #76
It is supposed to work fine with proxies.

The most probable explanation is that it fails because you have installed *pypiserver* it on your localhost - a proxy can only handle regular Domain-Names.  Unfortunately just from the `502` response we cannot be sure whether that is the problem.

Maybe the following may help you resolve this issue:
- http://stackoverflow.com/questions/13559377/curl-bypas

[2015-02-20 11:55] aspyatkin commented on #68
@ankostis OK, I will take it into consideration. Thank you!

[2015-02-20 12:00] ankostis commented on #76
By the way, a viable solution in your case would be to have *pypiserver* use your proxy, downstream.This will be my 1st priority after releasing 1.1.7 at the end of this week (see   #19).

[2015-02-20 12:22] cpaulik commented on #76
Thanks for the additional information. I'll try to install it on the server where it was supposed to go after successful testing and configure our proxy to work with it.

[2015-02-20 17:47] zenzic64 opened #77 "Cross Site Scripting Vulnerability"
Versions up to and including 1.1.7 contain a cross site scripting vulnerability.  I acknowledge this is not likely to ever be a problem since the normal usage of the server is from pip rather than a web browser.  I only note it because my server was flagged as vulnerable by a Nessus scan.

The vulnerability can be demonstrated by entering the following in a web browser that does **not** filter XSS

[2015-02-20 23:31] ankostis commented on #77
Thank you for this.
Since i'm not an experienced web-developer, do you think that switching to Bottle's SimpleTemplate engine would eliminate the problem?

[2015-02-20 23:52] zenzic64 commented on #77
Hi Kostis,

I'm thrilled to see someone is maintaining this package.  Thanks for
replying.

I don't know if Bottle will do what you need, but I suspect it will after
reviewing their documentation.  They say

"HTML special characters are escaped automatically to prevent XSS
<http://en.wikipedia.org/wiki/Cross-Site_Scripting> attacks."

That should be sufficient to solve this vulnerability.  The eff

[2015-02-23 15:01] ankostis commented on #38
@gracinet Do you think that a workaround would be to invoke `pip` with ``--extra-index-url <pypiserver_url>`` instead of ``--index-url <pypiserver_url>``?

[2015-02-23 16:14] gracinet commented on #38
@ankostis, nice to see some new activity around pypiserver !
About your suggestion, I'm not sure and I don't have an easy way to test it anymore : we dropped the pep381 mirror instance completely since then, the main PyPI became much more robust shortly afterwards (that's not the only problem we had with pep381)

If that helps you, I can try and reproduce again, then tell about the suggestion.

As

[2015-02-23 20:01] ankostis commented on #38
@gracinet I wouldn't want to burden you, but i would appreciate it if you remember some details to reproduce the error (even without the the pep381 mirror downstream).

In any case i plan to release the new version v1.1.7 with the new usage-recommendation and then assume this bug to be fixed.  In case it is not, please comment on it.

[2015-02-26 23:09] gracinet commented on #38
@ankostis yes, it works with pip --extra-index-url on current pip 6 and setuptools 12 !

The behaviour is otherwise mostly the same than it was with older version with just --index-url, except that pip now issues one deprecation warning.

That being said, we're calling this whole stack mostly through zc.buildout, which does not support multiple indexes (nor does easy_install, as far as I can see).

[2015-02-26 23:36] ankostis commented on #38
@gracinet When you say "behaviour is otherwise mostly the same", do you mean that you still cannot resolve misspelled dependencies?
Or doy you mean that the pypiserver fails on them, like it used to, but since it is not pip's "main" index, the pip-action completes ok?

[2015-02-26 23:58] gracinet commented on #38
@ankostis yes I mean misspelled dependencies can't be resolved with pip install --index-url PYPISERVER_URL, but they can with --other-index-url (as you suggested).

With --index-url only, the sequence is exactly the same as first described.
With --other-index-url, one can see pip calling both servers from the beginning and finding the misspelled dependency in the main PyPI.

[2015-02-27 12:11] ankostis commented on #76
Assuming it was not a bug.

[2015-02-27 12:11] #76 closed

[2015-02-27 12:15] #77 closed

[2015-02-28 00:35] ankostis commented on #38
Thanks a lot, considered resolved with the new `--extra-index-url` advice.

[2015-02-28 00:35] #38 closed

[2015-02-28 01:01] ankostis commented on #68
@schmir Just did a RC release:
- https://pypi.python.org/pypi/pypiserver/1.1.7-rc.1
- https://github.com/pypiserver/pypiserver/releases/tag/1.1.7-rc.1

Would need a `--pre` option to install it.

[2015-03-08 13:27] HenrikOssipoff commented on #68
Just wanted to pitch in with feedback; thank you for the 1.1.7 rc release. We've been running it on our internal pypi repository and all issues we've been having with pip 6.x have vanished with this release. Much appreciated -- keep up the amazing work!

[2015-03-08 21:25] ankostis commented on #68
@HenrikOssipoff  Thank you very much for your feedback.

Therefore... Released!

[2015-03-08 21:25] #68 closed

[2015-03-11 05:55] aspyatkin commented on #69
@erikb85, you should definitely try [Fedora COPR](https://copr.fedoraproject.org/). It's a free service that allows
a) building packages from source RPMs
b) hosting built packages in a custom YUM repository.

[2015-03-11 06:56] sledz commented on #69
Another way could be the [openSUSE Build Service](https://build.opensuse.org/) which can build for a lot of Linux Distributions (including Fedora) directly from the source code repo (without src.rpm) and provides package feeds too.

[2015-03-11 12:54] erikb85 commented on #69
A real, generic solution of course would be a package that installs pypiserver by itself. But than some things need to be configurable later on, e.g. ports, or the python package location. Also you need a service file (init script or systemd .service file) that starts/stops the pypiserver and loads the configuration provided by the admin. I haven't found an easy solution to do that with setuptools

[2015-03-11 17:11] ankostis commented on #69
Of course we can improve ``bdist_rpm`` but from a very quick googling i found this:
http://ziade.org/2011/03/25/bdist_rpm-is-dead-long-life-to-py2rpm/

I'm personaly inclined to the view that python distribution machinery (distutils/setutools) is not a good fit for installing deamons and services; just hardly for installing libraries (unless native-libs are involved).
So you "script" solution, @er

[2015-03-12 12:34] psaavedra opened #80 "Allow Search with Pip"
This patch hacks the code in order to allow *pip search PKG*. For example:

    pip search  --index http://pypi.intenet.com:8080/search/ MyDjango

I wonder if you are interested on this and if this patch is wellcome for your side.

<pre>
--- /root/_app.py	2015-03-12 11:16:23.000000000 +0000
+++ /usr/local/lib/python2.7/dist-packages/pypiserver/_app.py	2015-03-12 12:26:29.000000000 +0000
@@ -6,6 +6

[2015-03-12 15:30] ankostis commented on #80
Of course we are interested for new features, as long as they do not require http-requests upstream or a db.

Would mind pointing at the points of your patch that you consider "hack"-ish?

[2015-03-13 20:06] jblaine opened #81 "--log-file not working in 1.1.7"
I'm confused, or there is a bug.

I'm using --log-file with a pathname and nothing is being written there.

The server is acting as it always has and logs to stdout + stderr instead of to my specified log file.

The process, showing `--log-file /var/log/pypiserver.log` as the place to log.
[code]

And the files:

Exhibit A: The 0-length log file that I primed and chown()ed before starting the proc

[2015-03-14 06:49] psaavedra commented on #80
Yes  of course,

- search operation is a XMLRPC request in fact, I just implemented the search request ad-hoc (see XMLRPC_RESPONSE_SKELETON), there is other operations which are in use by pip that they are not implemented. Maybe the best way to do it is using the xmlrpc.server (https://docs.python.org/3/library/xmlrpc.server.html) but this force to use a additional port.

- from_obj_to_xmlrpc is a

[2015-03-14 10:15] ankostis commented on #81
Can you try to startup *pypiserver* with the `-v` option?

Python's `logging` library by default prints only ``WARNING`` and above messages.

[2015-03-14 13:53] jblaine commented on #81
With -v added, here are the 2 files. The first being my `--log-file location`. The second being the capture of stdout + stderr from `pypiserver`.

[code]

[code]

[2015-03-15 00:21] ankostis commented on #49
@doismellburning Would you mind checking if my branch fixed it?

[2015-03-15 12:11] doismellburning commented on #49
[code]

Alas no - did you experience success yourself?

[2015-03-15 12:14] ankostis commented on #49
Me neither.

[2015-03-15 12:46] ankostis commented on #49
I think i nailed it.  It was invoking app() before monkey-patch.
@doismellburning  can you please try with latest commit?

Test-case pending.

[2015-03-16 00:42] ankostis commented on #81
The bug was the position of the log-related start-up values from cmd-line options.
This 1st fix corrects the `None` logs when `-v` is used.

Still *bottle* messages are not routed through logging framework.

[2015-04-09 09:30] bartekbrak opened #82 "bottle BaseRequest.MAX_PARAMS causes HTTPError: 400 Client Error: Bad Request on packages with more than 100 requirements."
Hi.
Geez, this was a nightmare to track down ;).
Look at [BaseRequest.MAX_PARAMS](https://github.com/pypiserver/pypiserver/blob/master/pypiserver/bottle.py#L900)

We have a package with 112 requirements at the company, this caused [HTTPError: 400 Client Error: Bad Request](https://github.com/pypiserver/pypiserver/blob/master/pypiserver/_app.py#L252) as this exceeded allowed POST parameters.

You c

[2015-04-09 09:57] ankostis commented on #82
Assuming it is linked to this one bottlepy/bottle#366.

[2015-04-09 10:00] ankostis commented on #82
The MAX_PARAMS limit has been fixed to bottle >= 0.12 (`pypiserver` uses 0.11.6).
We need to update `bottle`.

[2015-06-03 07:46] holdenweb opened #84 "Copyright dates are outdated"
Harsh Gupta <gupta.harsh96@gmail.com> points out in email to webmaster@ that the page footer still shows "Copyright © 1990-2014, Python Software Foundation." The easy fix is a change to the templates, but it might be better to simply dynamically substitute the current year for the second date.

[2015-06-03 07:50] holdenweb commented on #84
Oops, wrong repo, sorry.

[2015-06-03 07:50] #84 closed

[2015-07-20 18:26] coulix opened #86 "1.1.7 and random 503"
I tried both with the default bottle webserver and gunicorn (-w4) and every now and then I get a 503 making the mirror unreliable.

I am digging into the code to find more clues.

[2015-07-20 19:39] #86 closed

[2015-07-29 09:09] ankostis commented on #49
Tested on linux (`gevent` under *Windows* is still experintal) and it seems to work.

[2015-07-29 09:18] ankostis commented on #81
That much can be done with bottle.

Maybe flask would do a better job.

[2015-08-04 00:55] arcivanov opened #88 "Incorrect package name detection with OSX version scheme"
For `package-name-0.0.1.dev0.linux-x86_64.tar.gz` the name is correctly detected as `package-name`
For `package-name-0.0.1.dev0.macosx-10.10-intel.tar.gz` the name is incorrectly detected as `package-name-0.0.1.dev0.macosx`

[2015-08-04 10:58] ankostis commented on #88
Can you give a concrete example with some published package in pypi?

[2015-08-04 13:04] arcivanov commented on #88
Published pypi package - dunno. But that is the name that is generated by `./setup.py bdist_dumb` on Mac OSX Yosemite.

[2015-08-04 13:21] arcivanov commented on #88
[code]

[2015-08-04 13:31] ankostis commented on #88
I do not have a MacOS.
Nevertheless I cannot find anything irregular in the `setup.py` of *pypiserver*.

Could it be a *setuptools/distutils* issue undex MacOS?
In any case i suggest to list here the python-version and which distribution package & version your environment has installed, for reference.

[2015-08-04 13:35] arcivanov commented on #88
Oh, I think there is a miscommunication. This is the problem within pypi-server where the uploaded hosted packages are not correctly identified by `package-name` and `version`. The problem I'm trying to fix right now is here: https://github.com/pypiserver/pypiserver/blob/master/pypiserver/core.py#L100

[2015-08-05 04:26] arcivanov opened #90 "Add caching for the fallback URL packages"
1. Add option `--fallback-cache-root` or `-c`
2. If the package is not found locally
    1. Search fallback cache root
    2. If fallback cache root doesn't have the package
        1. Retrieve the package
        2. Store it in the fallback root
        3. Send it to the requesting client
    3. If fallback cache root does have the package
        1. Check whether package is older than `--cache-c

[2015-08-05 13:55] ankostis commented on #90
Dear Arcadiy, i think this would require *pypiserver* to make http-requests, correct?

Submitting upstream requests has already been suggested in #23 and the previous maintainer had rejected such functionality, to keep this project small.
I agree with his decision, ed, check #38 for a glimpse of the complexity involved.

Have you tried the workaround suggested also in the docs of this issue #38 ?

[2015-08-05 15:42] arcivanov commented on #90
@ankostis I would like to specifically cache the packages transparently, i.e. without having to go to PyPi Central altogether if the package is cached. If this feature is not desired I can just use devpi I guess, but it was a bit too much for my needs to begin with, hence I wanted to see if I could add the functionality here. If this is not desired I might as well go with devpi.

[2015-08-06 09:02] ankostis commented on #90
Since what you are actually looking for is a *proxy* pip-server, I would suggest to seriously give *devpi* another try.  It will provide you with the resilience and performance you are looking for.

*pypiserver* has a much more limited scope, just a repository for intranet-produced packages.

[2015-08-06 09:02] #90 closed

[2015-09-06 14:38] petri opened #91 "support for setup.py register command is broken"
I have fresh pypiserver 1.1.7 running on current Debian Stable, on Python2.7.

For some reason, running "python setup.py sdist register upload" works, but just "setup.py register" does not (locally):

    Server response (500): <urlopen error [Errno 104] Connection reset by peer>

Or from a remote OSX system:

    Server response (500): <urlopen error [Errno 32] Broken pipe>

... and likewise, usi

[2015-09-08 07:52] petri commented on #11
I'm also seeing problems with "setup.py register" when invoked without on its own, ie. without "upload"; see #91

[2015-09-11 02:26] arcivanov commented on #88
@ankostis bump

[2015-09-11 07:58] #88 closed

[2015-09-11 08:26] ankostis commented on #80
Would need a test-case here.

[2015-09-11 09:43] #81 closed

[2015-09-11 16:22] ankostis commented on #91
@petri: cannot reproduce :-(

I tried it on my linux-py3.4 with the latest 1.8.1-beta.1, both with a password-file and without (the newly ``-P .`` option) and both commands with `register worked.

Here it is my `~/.pypirc`

	[distutils]
	index-servers =
	  #pypi
	  internal

	[internal]
	repository: http://localhost:8080
	username: foo
	password: bar

Server start-up commands:

     pypi-server -p

[2015-09-12 12:35] ankostis commented on #19
After searching a couple of days, I'm giving up on this :-(
[branch: ankostis/pypiserver@proxy_rpc](/ankostis/pypiserver/tree/proxy_rpc)

Pyhon's XML-RPC support across version is very unstable.  This fact, combined with PyPi-server's well-known network problems, makes the time required to ensure a stable and tested implementation disproportionately high compared to the benefits from utilizing an

[2015-09-12 12:35] #19 closed

[2015-09-14 00:04] pitchforks opened #92 "pypi page for 1.1.8b1 says "Version: 1.1.8-beta.0""
You can see it on https://pypi.python.org/pypi/pypiserver/1.1.8b1

[2015-09-14 16:56] #92 closed

[2015-09-15 15:47] ankostis commented on #49
Postponed.

Better restructure startup-sequence and  update testing fictures.  Them this will be trivial to fix.

[2015-09-15 19:33] ankostis commented on #91
@petri would you mind confirming/closing this?

[2015-09-15 19:34] ankostis commented on #86
@coulix, was it a false alarm?

[2015-09-16 23:49] #49 closed

[2015-09-18 14:51] petri commented on #91
I don't know what to say. For me, ```python setup.py register still ``` fails about eight times out of nine. I have not tried the latest beta though.

Here's how I start pypiserver:

```/opt/pypiserver/bin/python ./bin/pypi-server -a download,update -P .htpasswd -p 8765 packages```

I am running pypiserver on a fast VPS that's not far, and there's good connectivity in-between.

[2015-09-18 15:52] ankostis commented on #91
But when you invoke `register` without `-r` option it most probably registers to the central PyPi (unless otherwise instructed by your `~/.pypirc`), correct?

I cannot judge for sure, because I'm still missing your exact register-command and your `~/.pypirc` file,  but the correct command would be:

    python setup.py bdist_wheel register -r local upload -r local

In any case, to avoid all this c

[2015-09-18 17:15] petri commented on #91
Thanks for the effort - sorry, I was imprecise earlier, I was of course using the -r option... I've also tried pretty much the every variation of register with sdist/bdist/wheel/whatever + upload to see if that makes a difference. Yes, working without register command is a partial workaround, but the issue remains when using release tools that have hardcoded behavior of running register + somethin

[2015-09-19 00:22] #82 closed

[2015-10-12 07:56] fraoustin opened #93 "Add functionnality http://myserver/pypi"
I created a fork on https://github.com/fraoustin/pypiserver for add functionality a web page with url http://myserver/pypi.

![pypiserver1](https://cloud.githubusercontent.com/assets/3457495/10423476/1dadffe8-70c7-11e5-8b33-ad293e21f8f2.png)
![pypiserver2](https://cloud.githubusercontent.com/assets/3457495/10423475/1dab3b6e-70c7-11e5-9f8e-1d18f79bb02c.png)

Are you interested?

PS: For full functi

[2015-10-21 06:35] fraoustin commented on #93
add manage template in project  https://github.com/fraoustin/pypiweb

[2015-12-09 07:06] Tythos opened #96 "Undeclared dependency"
The passlib package is required and (if not present) will cause the application to crash when the password_file parameter is passed to app(). Simplest fix is probably just to add this as a dependency when building your distribution.

[2015-12-11 02:56] Tythos commented on #91
Very interesting bug. It was causing me issues, too, and I didn't want to neglect the register operation as I am hoping to capture it in an extended pypiserver application. Turns out to be a single-character fix--but it took me hours to trace through the request/response headers, and into the depths of distutils and urllib2, with a brief misdirected detour through Apache wsgi proxy-forwarding...

[2015-12-11 08:10] petri commented on #91
Hm I applied the fix to my install of pypiserver and now when doing "python setup.py register -r mypypi" I see mostly "error: [Errno 54] Connection reset by peer" and sometimes also "Server response (401): Unauthorized".

[2015-12-11 08:44] Tythos commented on #91
I can't guarantee a fix that wasn't with my version--1.1.9--but I can tell you some of the steps I took to debug the issue:

* Drop some debug prints in distutils.request and urllib2 to look at the exact headers that are being returned. Are you getting a www-authenticate response? Compare headers with those from 'upload'.
* Ask OpenSSL to look at the response you are getting from the server:

* Th

[2015-12-11 08:51] petri commented on #91
Well, to make things as simple as possible, I ran pypiserver as:

    ./bin/pypi-server -a download,update -P .htpasswd -p 8765 packages

And applied the fix you suggest. I then tried logging in using just a browser, and could not. Removing the fix allowed me to log in again.

[2015-12-11 08:56] Tythos commented on #91
That's very strange. Can you look at your bottle.py and verify in HTTPResponse the right name of the argument is 'headers'?

[2015-12-11 12:32] petri commented on #91
Taking a look at bottle.py inside latest published pypiserver 1.1.8 vs what's inside master, ie. 1.1.9, I see the HTTPResponse init has changed.

From Bottle 0.11.6:
[code]

To Bottle 0.13-dev:

[code]

[2015-12-11 13:37] petri commented on #91
Ok @Tythos I cloned master from your fork and I am happy to say I have not seen any of the issues I've described here :)

[2015-12-18 10:19] petri commented on #91
This can be closed as soon as #98 is merged.

[2015-12-19 17:20] ankostis commented on #91
I want to deeply thank you for your efforts, and apologize for not having the time to release.

Given this opportunity, please feel free anyone of you to ask for access into the dev-team of this project.

[2015-12-19 17:34] #91 closed

[2015-12-19 17:34] #96 closed

[2015-12-19 23:52] ankostis commented on #53
Note that the hashes contained on the link-fragments served by PyPI are NOT used by `pip`: https://pip.pypa.io/en/latest/reference/pip_install/#hashes-from-pypi

[2015-12-20 00:56] #53 closed

[2015-12-20 01:37] ankostis commented on #86
I'm considering it a false alarm.

[2015-12-20 01:58] ankostis commented on #80
Dear @psaavedra would you mind making a regular pull-request?

[2015-12-20 01:59] ankostis commented on #93
Dear @fraoustin would you mind making a regular pull-request?

[2015-12-21 05:54] petri commented on #86
This could also be related to #91 that has since been closed.

[2015-12-21 11:20] ankostis commented on #86
But this issue was reported before the upgrade of Bottle ``0.11.6-->0.13-dev``,
and #91 relates to `Bottle-0.13-dev`?
I really don't know for sure, I still get spurious failures in pip-task scripts on Travis.

[2015-12-25 12:24] Ivoz commented on #53
:thumb: nice work ankostis

[2016-01-05 17:35] virtuald opened #102 "Valid package names are stored incorrectly with new version of bottle"
Not sure when this was introduced, but pypiserver 1.1.2 didn't have this issue. From the [bottle API docs](http://bottlepy.org/docs/dev/api.html#bottle.FileUpload.filename):

For example, the version `0.0.0+local` is a valid package version, but bottle gets rid of the `+`. I'm sure there are other combinations that also break.

[2016-01-05 19:21] ankostis commented on #102
Any more patterns are highly appreciiated for  when constructing TCs.

[2016-01-05 19:51] virtuald commented on #102
Well, [PEP 440](https://www.python.org/dev/peps/pep-0440/) has a lot to say about versioning... seems like for the most part its alpha-numeric, -, _, and +. I haven't given it a close reading.

My workaround for the moment is just to use the raw_filename from the FileUpload object. Obviously that's not a good long term solution.

[2016-01-06 14:14] MichaelSchneeberger opened #103 "Example commands in docs mention `.htaccess`, while implying `.htpasswd`"
When starting the pypi-server I get an error message saying "malformed htpasswd file". I get the error message even if the .htpasswd file does not exist. What is causing the error?

 Here is the entire Traceback:

[code]

see: http://stackoverflow.com/questions/34635226/malformed-htpasswd-file-error-message-when-starting-pypi-server

[2016-01-06 17:37] ankostis commented on #103
The *pypiserver* does not support `.htaccess` files; this is an Apache-only feature. it just reuses the  `.htpasswd` file-format from Apache.
Additionally, the `htpasswd` file better not to be located inside the `packages` folder, so it is impossible for *pypiserver* to serve it by mistake, and reveal its contents.

Please reopen if that was not the case and/or my response is invalid.

[2016-01-06 17:47] ankostis commented on #102
The latest [`v1.1.9`](/pypiserver/pypiserver/releases/tag/v1.1.9) release has upgraded *bottle* from `1.11.6 --> 1.13-dev` and this might be the cause of your problem.

[2016-01-10 19:47] ankostis commented on #103
@MichaelSchneeberger said at stackoverflow:

Thank you indeed the docs are wrong here.

[2016-01-11 11:15] stevejefferiesIDBS opened #104 "Package name/version inconsistency with PyPI"
I have noticed an inconsistency between pypiserver and pypi.python.org with a certain package which is fairly unusual in its naming/versioning. The package in question is python-owasp-zap-v2.4.

The package can be installed from pypi.python.org using `pip install python-owasp-zap-v2.4` resulting in an installed version of 0.0.7. The same fails on a locally deployed pypiserver as the package name a

[2016-01-12 07:28] ankostis commented on #104
Yes, it seems like a bug; if you have start looking into it, please consider also #102.
Thank you in advance.

[2016-01-13 20:36] Tidbits02 opened #105 "Using pypiserver with a proxy / not honoring $http_proxy or $https_proxy"
Hello,

I am trying to use pypiserver infront of a firewall, they only way in and out of my network is via a proxy. The issue I am having is I dont think pypiserver is honoring the $http_proxy or $https_proxy variables on my system. I was looking through the bottel code and it looks as if there is nothing that allows it to work with a proxy, is this correct ?

Thank you for any assitance,
Jacob

[2016-01-13 22:39] ankostis commented on #105
`pypiserver` does not issue any requests itself; it just answers to requests made by your `pip` command.
So it is there where you should set the proxy variables.

[2016-01-17 18:38] ankostis commented on #105
Assuming that was the problem and clossing issue.
Please reopen if my guess is invalid.

[2016-01-17 18:38] #105 closed

[2016-01-19 12:48] #102 closed

[2016-01-19 12:48] #103 closed

[2016-01-19 12:48] #104 closed

[2016-01-19 21:59] ankostis commented on #93
Noting that this functionality had been rejected in #1, for its complexity.
At least this time we have to ensure it works flawlessly with TCs.

[2016-01-20 18:49] ankostis opened #107 "Stop supporting legacy Python versions"
The plan after `v1.1.x` is to limit compatibility of the following:.

[code]

One purpose is to demotivate the use of really old python releases.[1][2]
Another is to allow using newer syntax when programming it.

For older python-2 version, use version `1.1.x` series.
[Edit:] We may have to release a legacy `1.1.11` if there is a real demand.

[1] http://carreau.github.io/posts/planning-an-early-d

[2016-01-20 19:11] mplanchard commented on #107
I like this idea. Should just require updating the setup metadata and test suite to make the exclusion of older versions explicit.

[2016-01-20 20:08] mplanchard opened #108 "Support and test against Python 3.5"
This should just be a matter of adding a 3.5 environment to the test suites. I've got a pypiserver running on 3.5 locally, and it works well.

[2016-01-20 22:19] mplanchard commented on #108
Not a big enough deal to require an issue. Deleting.

[2016-01-20 22:22] ankostis commented on #108
No prob, it is perfectly fine this issue.
I had not looked at it when I wrote about skipping issues.
Lets close it when we have merged into master.

[2016-01-20 23:08] ankostis commented on #108
Duplicate of #110.

[2016-01-20 23:08] #108 closed

[2016-01-21 07:24] redbaron4 commented on #107
Python-2.6 is the default in RHEL-6 and derivatives (CentOS and SL). Though RHEL-7 has released, the transition for administrators isn't smooth and many (including me) still use RHEL-6 (which isn't that old)

[2016-01-21 11:33] ankostis commented on #107
@redbaron4 Thanks for the tip.
That is why we would also ship `1.1.x` releases.
But the general direction is [this](http://carreau.github.io/posts/planning-an-early-death-for-python-2.html).

Is that acceptable for RHEL-6 to stick to older release-train?

[2016-01-21 12:07] redbaron4 commented on #107
@ankostis Thanks for the link. I can see the motivation for wanting to move away from Python-2.6.
I was just trying to point out that a lot of servers may still be using Python-2.6 and so it should continue to remain supported if possible. As you said, `1.1.x` will probably take care of that

[2016-02-15 13:29] montefra opened #112 "pypiserver v1.1.10 and gunicorn don't work"
On version 1.1.09 and 1.1.10 calling:

    gunicorn -w4 'pypiserver:app("/home/ralf/packages")'

gives

[code]

1.1.8 and before seem to work.

Is this a bug or you forgot to update the documentation?

[2016-02-15 14:24] ankostis commented on #112
A bug.

[2016-02-15 14:47] montefra commented on #112
I'll run 1.1.8 for now then.

Thank you for the server.

[2016-02-17 18:55] blade2005 commented on #80
@ankostis i'm really interesting in this feature. I'm gonna make a branch and see about get this ready including a test case.

[2016-03-03 19:16] janssen commented on #80
I'd kind of like to see this, too.

[2016-03-03 21:39] janssen commented on #80
Why in the world does pypi drag in XML-RPC for this simple thing?  You could just send a request the same way (using forms), and send back the response as a pickled Python dict, or as a JSON dict.

[2016-03-04 08:15] psaavedra commented on #80
Pull request submitted: https://github.com/pypiserver/pypiserver/pull/115

[2016-03-04 12:05] blade2005 commented on #80
My pr #114 handles it in a cleaner fashion than the proposed code

[2016-03-04 20:05] virtuald commented on #112
This is actually a documentation bug (though, for backwards compatibility it should probably be addressed). You can run it using this:

[code]

[2016-03-04 21:16] montefra commented on #112
Ok. I'll give a try as soon as I can. Thank you for the info.

[2016-03-10 22:53] ankostis commented on #112
@montefra are you ok with @corywright 's solution?
I think keyworded-arguments fit better to cmd-line tools than positional ones.
So I vote to break backward-compatibility (well, typically, `_api` is an internal API).

[2016-03-10 23:16] montefra commented on #112
@ankostis: with me it's fine and the change make sense
However I don't think that this is really an internal API, since is in the documentation and it's the way to make the server run with gunicorn/apache/others. Wouldn't be more sensible to have a transition api for a few releases? Something along the line:

[code]

I completely forgot to test the code with ``root=``, but I guess it will work.

p

[2016-03-10 23:29] ankostis commented on #112
I agree about `_api` not being private - that decision predates me.
The whole startup procedure needs further rework.

For your suggestion, it is too exceptional code for something that a simple solution works.
Thank you for your attitude of respect to the users of this project, beyond the bug-report, of course.

[2016-03-10 23:29] #112 closed

[2016-03-11 08:27] montefra commented on #112
:+1: Thank you for the software.

[2016-03-11 09:59] delhora opened #120 "Problem uploading packages"
Hello!

I've fresh pypiserver installation just for testing proposes:

Start  server:

`pypi-server -p 8081 -P htpasswd.txt /opt/packages/ &`

Everything seems fine, but when I try to upload a package with:

`python setup.py sdist upload -r local`

I got the following error at server:

[code]

My pypirc:

[code]

Thanks in advance!

[2016-03-11 14:56] mplanchard commented on #120
Could you give us some information about what type of system you're running? My initial instinct is that your passlib.apache may be significantly out of date. The `load_if_changed` parameter was added in version 1.6, and the old `load` method was removed in version 1.8.

[2016-03-11 15:28] delhora commented on #120
Hello!

You are right sir!
[code]

and now it's working and can upload packages!

Thank you very much!

[2016-03-11 15:28] #120 closed

[2016-03-11 15:29] ankostis commented on #120
Excellent research @mplanchard, we should add these version-limits to `setup.py`.

[2016-03-15 21:02] virtuald opened #122 "--hash-algo=off doesn't work"
Fixed in 7d6c23fd00f269904ec4d1e6e3dcff37f10a771c

[2016-03-18 15:15] mplanchard commented on #107
@redbaron4 You're absolutely right that system administration tends to move slower than the general population. In fact, I am still managing several servers on RHEL 5, believe it or not, on which we had to manually install Python 2.6 (since they came with 2.4!). That being said, even pip is moving to deprecate Python 2.6 support (throwing warnings in pip 8.0.2 and above, I believe), and I think th

[2016-03-18 15:28] mplanchard commented on #69
Commenting on this, I have access to RedHat (CentOS) systems, running RHEL 5 and RHEL 6 and have built several python package RPMs. I agree that `bdist_rpm` is not the right way to go. The easiest thing, in my experience, has been to use [FPM](https://github.com/jordansissel/fpm/wiki) to package the python distribution, which allows the inclusion of post-install scripts and all sorts of other conv

[2016-03-18 23:56] michaelkuty opened #124 "AttributeError: 'dict' object has no attribute 'root'"
Hello i have worker 1.0.0 version but get this error in 1.1+

    Traceback (most recent call last):
      File "/srv/pypiserver/local/lib/python2.7/site-packages/gunicorn/arbiter.py", line 515, in spawn_worker
        worker.init_process()
      File "/srv/pypiserver/local/lib/python2.7/site-packages/gunicorn/workers/base.py", line 122, in init_process
        self.load_wsgi()
      File "/srv/py

[2016-03-19 08:39] michaelkuty opened #125 "paste.ini"
Hello i would like to ask about paste.ini config

[code]

but i cannot propagate passwords and authentificated down into pypiserver, please what i make wrong ?

[2016-03-21 14:54] mplanchard commented on #125
Hello! Could you please paste here the command that you are using to start your `pypiserver` instance? Thanks.

[2016-03-21 15:17] michaelkuty commented on #125
/srv/pypiserver/bin/gunicorn --paste /srv/pypiserver/paste.ini

[2016-03-21 17:38] ankostis commented on #124
@michaelkuty can you check the latest commit fixes the problem?
I don't have any experience with paste.

[2016-03-21 17:45] michaelkuty commented on #124
Yes, this is first what i tried before issuing

    (pypiserver)root@leonardo-multi:/srv/pypiserver# gunicorn --paste paste.ini
    [2016-03-21 18:41:00 +0000] [14252] [INFO] Starting gunicorn 19.4.5
    [2016-03-21 18:41:00 +0000] [14252] [INFO] Listening at: http://0.0.0.0:9000 (14252)
    [2016-03-21 18:41:00 +0000] [14252] [INFO] Using worker: sync
    [2016-03-21 18:41:00 +0000] [14257] [INFO

[2016-03-21 18:03] michaelkuty commented on #124
@ankostis with your no2

    Traceback (most recent call last):
      File "/srv/pypiserver/local/lib/python2.7/site-packages/gunicorn/arbiter.py", line 515, in spawn_worker
        worker.init_process()
      File "/srv/pypiserver/local/lib/python2.7/site-packages/gunicorn/workers/base.py", line 122, in init_process
        self.load_wsgi()
      File "/srv/pypiserver/local/lib/python2.7/site-pac

[2016-03-21 18:04] michaelkuty commented on #124
i have suggestion to use simple dictionaray object with dot access

    class Config(dict):

        def __getattr__(self, attr):
            return self.get(attr, None)

        __setattr__ = dict.__setitem__
        __delattr__ = dict.__delitem__

for me is this solution number one with works

[2016-03-21 18:23] ankostis commented on #124
Your suggestion works well for preserving `conf` as an class-instance.
But currently `conf` is a dict, so the code must be simpler.

Check the last one, and it would be great if you could come up with some test; any test is better than nothing, even described in words.

[2016-03-21 18:26] michaelkuty commented on #124
this is standard dictionary which allows
    conf = Config({'mykey': value})
    conf['mykey']
    conf.mykey

   also supports conf.mykey = value or conf['mykey'] = value
this is why i love this simple magic

[2016-03-21 18:27] michaelkuty commented on #124
Last one works well. Thanks a lot !

[2016-03-21 18:40] ankostis commented on #124
Your conf-suggestion is really terse - I will use it in my code, thanks (but note that it contains 2 dict instances)

[2016-03-22 00:17] mplanchard commented on #125
@michaelkuty Please try using `passwords` as the key, rather than `htpasswd` or `password_file`, and let me know the results.

[2016-03-22 08:56] #124 closed

[2016-03-22 21:09] michaelkuty commented on #125
[app:unstable]
	use = egg:pypiserver#main
	root = /srv/pypiserver/unstable
	authenticated = update,download
	passwords=/srv/pypiserver/htpasswd.txt

	127.0.0.1 - - [22/Mar/2016:22:07:49 +0100] "GET /simple/django-leonardo/ HTTP/1.1" 200 457 "-" "pip/8.0.2 {\"cpu\":\"x86_64\",\"distro\":{\"id\":\"trusty\",\"libc\":{\"lib\":\"glibc\",\"version\":\"2.4\"},\"name\":\"Ubuntu\",\"version\":\"14.04\"},\"

[2016-03-22 21:43] mplanchard commented on #125
Are you expecting to be unable to download packages without authenticating? If so, `pypiserver` does not provide that functionality, and you will need to configure `gunicorn` appropriately to require authentication prior to access.

The `htpasswd` file for pypiserver is there to allow authenticated package uploads only. Are you able to upload packages to your repository without authentication?

I

[2016-03-22 21:47] michaelkuty commented on #125
(pypiserver)root@leonardo-multi:/srv/pypiserver# cat htpasswd.txt
    majklk:test

	[leonardo-unstable]
	repository: http://10.10.10.122:9000
	username:majklk
	password:test

       python setup.py sdist upload -r leonardo-unstable
       running upload
       Submitting dist/django-leonardo-1.0.6.dev147.tar.gz to http://10.10.10.122:9000 error: <urlopen error [Errno 104] Connection reset by peer>

[2016-03-22 23:33] ankostis commented on #125
@mplanchard wrote:

But this is supposed to be working, by setting `authenticated = update,download`; if not, then it's a bug.

[2016-03-23 01:52] mplanchard commented on #125
@ankostis Looking through the code, you're right. We do a pretty poor job of documenting that in the README, though.

[2016-03-23 02:35] mplanchard commented on #125
@ankostis, you're right. I missed that, sorry. @michaelkuty, I'm not sure where the settings are getting dropped. I'll keep looking into it, and in the meantime, let me know if you find anything.

[2016-03-23 02:56] mplanchard commented on #125
@michaelkuty, just to verify, you showed the cat output of your htpasswd file to have the password 'test' unencrypted. Is that actually the case, or did you alter it for demonstration purposes?

[2016-03-23 09:09] michaelkuty commented on #125
I show htpasswd and with correct password i cannot upload package for me I
use wrong config or not works
Dne 23. 3. 2016 3:56 napsal uživatel "Matthew Planchard" <
notifications@github.com>:

[2016-03-23 15:01] mplanchard commented on #125
I have confirmed that the expected functionality does not work using a paste-deploy process. For future reference, my configuration is below:

[code]

Using twine to upload with the correct profile, I get a 403 forbidden error:

[code]

And downloads are unimpeded:

[code]

Starting the server using the same options from the command line (not using gunicorn), all functionality works as intended:

[2016-03-23 16:19] ankostis commented on #125
Is it possible to launch it with the `verbosity` flag to 3?
That way we can see the actual arguments passed into pypiserver in the log-trace.

[2016-03-31 16:06] 8u1a opened #129 "Update Packages error with Python 2.7.11"
I receive the following error when running "pypi-server -U" with python 2.7.11:

File "/home/xxxx/pyvirt_2.7.11_pypi/lib/python2.7/site-packages/pypiserver/manage.py", line 48, in make_pypi_client
    return Server(url, transport=transport)
NameError: global name 'Server' is not defined

I believe it's because "Server" is only imported when sys.version_info is 3.0 or greater (line 8 & 9), but it's

[2016-04-14 14:22] montefra opened #130 "apache, v1.1.10 and htpasswd: HTTP Error 401: Unauthorized"
Hi,

After solving the issue #112, I managed to have v1.1.10 running under an apache server.

Unfortunately, I am not able to upload packages:

    ~> python setup.py sdist upload -r local
    [...]
    Submitting dist/mypackage-0.0.0.tar.gz to https://my.server/pypi
    HTTP Error 401: Unauthorized
    error: HTTP Error 401: Unauthorized

At first I thought was a problem with the password file or

[2016-05-03 07:25] Oneplus commented on #129
hi @8u1a , I met the same problem with python 2.7.5. Do you have any solution to this? I tried python3.4 with the standalone package, `Server` error is gone but got another exception saying:

[code]

[2016-05-03 15:19] ssbarnea opened #133 "Provide an easy way to preload some packages that exist on pypi.python.org"
One of the most important advantages of having a private pypiserver is that you decouple yourself from the dependency of pypi.python.org which can go down or receive changes that may impact you.

We need a documented way to do something like:

* upload latest version of package `foobar` from pypi.python.org to our internal server
* upload foobar==1.2.3 from pypi to our internal server
* remove pac

[2016-05-03 15:38] bibby commented on #133
The [pypi-uploader](https://pypi.python.org/pypi/pypi-uploader) project works nicely for copying packages from pypi.python.org, and is developed with `pypiserver` in mind.

For internal packages, we're using CI to upload builds after the tests run.

`python setup.py bdist_wheel upload -r our_pypiserver`

[2016-05-03 15:42] ssbarnea commented on #133
@bibby I am looking at the examples but I see that you do checkout the code in order to upload it which doesn't solve my problem. I think I am missing something here.

[2016-05-03 19:56] bibby commented on #133
That's true, but it isn't always source. The distribution could be a binary dist like a wheel; but in the worst case it's still one file.

From a workstation or control machine, `pypi-uploader` first downloads a package, then uploads it to another pypiserver.

As you've stated, automatic updates can be bad; making this a manual process.

[2016-05-04 10:16] ssbarnea commented on #133
Thank you, that' was what I was looking for. Now we only need to add this to the documentation of the pypi server too as I do see it as high likely use case.

    pip install pypiupload
    pypiupload packages mock==1.0.1 requests==2.2.1 -i internal
    pypiupload requirements requirements.txt -i internal

[2016-05-04 10:28] ssbarnea commented on #133
Update, it seems that I reached an important bug in the pypi-uploaded -- see https://github.com/ignacysokolowski/pypi-uploader/issues/7

[2016-05-04 10:50] ssbarnea opened #134 "pypiserver reports 500 when it does not allow overwrite of existing package"
HTTP 5xx error codes do mean server side error and they are not appropriate to use when the server rejects upload of a resource because it already exists.

Based on https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#4xx_Client_Error I would say that one of these would be correct:
* `403 Forbidden`
* `409 Conflict`

Here are the logs
[code]

[2016-05-04 10:56] ssbarnea commented on #134
To be clear it seems that this does happen only if the file is owned by another user, which should not be a problem because we want to be sure that pypiserver does not misbehaves and overrides the files.

So, to replicate the problem, run pypiserver at a non-root user but change the ownership of one of the files to root, allowing read to anyone. The server will run and serve the files which is as

[2016-05-04 12:12] ankostis commented on #134
So you suggest for uploads on top of files with insufficient permissions to modify the following behavior :
- if allow overwrites: 409 conflict (and some message that there is nothing the pypiserver or client can do to fix this issue)
- no-overwrites flag: 403

Correct?

[2016-05-04 13:28] ssbarnea commented on #134
I don't mind too much about what you decide on this, as long it is HTTP compliant.

As a new feature it would also be nice to return a 200 if the uploaded files happens to be identical with already existing one, even if overwrite option is not enabled. This would simplify usage implementations a lot as we do care only about one thing in the end: is the correct file present on the server?

[2016-05-04 15:23] bibby commented on #134
Error `500` is the best fit for the actual issue of unsatisfied server-side file permissions. The request was ok, but the server had its own problem.

The current `409` error is also the best fit for refusal to clobber an uploaded package.

Alarm bells would raise in my organization if a `200` were given for a repeated upload. We've come to appreciate the `409`.

[2016-05-04 15:30] magicrobotmonkey commented on #134
I agree that if the server is set to allow overwrites and can't because of system permissions, `500` seems like the best option. It's an error local to the server, not something the user caused.

[2016-05-06 11:22] ssbarnea commented on #134
@magicrobotmonkey you are partially right, but try to see the problem from this point of view: why to return a 500 error when the user is not allowed to upload that file. The fact that the server is not able to open that file for write is just a detail in this case.

I think that the logic should be to check first if you are allowed to overwrite that file and not to try to open it for writing even

[2016-05-06 11:25] ssbarnea commented on #133
Here is the solution for this problem:
[code]
Which assumes that you have a `[private]` section in your `pip.conf` file.

[2016-05-06 11:30] ssbarnea opened #135 "Provide a code snippet for refreshing all exiting packages with newer versions from public pypi.python.org"
It would extremely helpful if we could have a small example (probably in bash) that could be used to refresh all the local packages with newer versions from pypi.python.org.

People could put this in a cronjob or make a Jenkins job that is run on demand, probably at the end of the sprint.

[2016-05-06 16:33] ankostis commented on #134
Checking if *write* is permitted is not [a straight-forward operation](http://stackoverflow.com/questions/3696080/check-if-i-can-write-a-file-to-a-directory-or-not-with-python) (i.e. mounted as `ro` under unix, or permissions difficult to parse and locked files under windows) - the safest check is to actually try to *write and fail*.

I agree with @bibby & @magicrobotmonkey that
- `5xx` are for "e

[2016-05-07 18:21] 8u1a commented on #129
Hi Oneplus.  I was able to run this with Python 3.5.1.  Are you able to give that a shot?

[2016-05-08 02:50] Oneplus commented on #129
Hi @8u1a,  thanks for the tips. Python2.7 support on "update" seems break because https://github.com/Oneplus/pypiserver/blob/master/pypiserver/manage.py#L14 not input rpc server.

Please see pr #136 for my fix.

[2016-05-09 08:06] ssbarnea opened #137 "provide systemd service template for pypiserver"
Any daemon is supposed to run as a service, thus pypi-server needs a `systemd` template in order to be used as a proper services on Debian distributions (including Ubuntu).

If nobody has an already made template I will create one and contribute it.

Once this is installed people should be able to contron th pypi-server using commands line
[code]
More information about systemd can be found at http

[2016-05-09 08:18] ssbarnea commented on #137
[code]

[2016-05-09 10:36] Juanlu001 commented on #107
Related: "Stop Supporting Python 2.6 (For Free)" http://www.curiousefficiency.org/posts/2015/04/stop-supporting-python26.html

[2016-05-11 17:53] bibby commented on #135
project [bandersnatch](https://pypi.python.org/pypi/bandersnatch) may be more suitable to mirror pypi packages, [according to pypi](https://pypi.python.org/mirrors).

[2016-05-11 18:43] mplanchard commented on #137
I agree. We could also use some documentation on how to manage its startup with supervisor, for example. I'll use your configuration script for systemd and include that information in the documentation.

[2016-05-11 18:46] mplanchard commented on #135
@ssbarnea we already provide output of the commands necessary for upgrading packages with the `-U` option on the pypiserver. I suppose I could write an example of how to take the output of that and pass it through xargs or something to go ahead and run all those commands.

[2016-05-11 18:49] mplanchard commented on #130
Could you paste the pypiserver logs/output from when you try to upload a package and get a failure?

If you can't get the log file directive to work, just run the server briefly in the foreground, make a request from a remote machine, and copy the stdout.

[2016-05-11 18:56] mplanchard commented on #129
I'll be looking into this over the next few days. Regarding #136, it causes test failures for all Python versions, so it won't be accepted as-is. @Oneplus, if you get to this before me, please look into the reasons for test failure & either update tests or the PR.

[2016-05-12 01:30] Oneplus commented on #129
Hi @mplanchard , thank you for taking care of this. According to the CI log output, the test process (specifically the `tests/test_server.py`) halt and wait for Password.

![image](https://cloud.githubusercontent.com/assets/745499/15201346/c3efeddc-1822-11e6-85d7-a455bc040781.png)

Same CI problem occurs on the master branch. See https://travis-ci.org/pypiserver/pypiserver. So I think this may not

[2016-05-12 10:11] ssbarnea opened #138 "package backports.shutil-get-terminal-size cannot be installed from pypiserver"
It seems that the `backports.shutil-get-terminal-size` package which happens to be a dependency of tornado cannot be hosted on `pypiserver`.

While upload works, it seems that pip is not able to find it but is able to find it on public pypi.python.org

[2016-05-13 14:21] JonasT opened #139 "Packages with dot no longer install(?)"
It appears pypiserver is affected by this issue: https://github.com/pypa/pip/issues/3666

At least I can't install my project anymore with the latest pip, and I have dots in all package names.. (pip complains about no such package/no distributions being found)

[2016-05-15 05:21] dpkp opened #142 "no-auth upload tests hang: latest setuptools release forces password prompt"
Some failing builds:
https://travis-ci.org/pypiserver/pypiserver/builds/129511699
https://travis-ci.org/pypiserver/pypiserver/builds/126811063
https://travis-ci.org/pypiserver/pypiserver/builds/128599164
https://travis-ci.org/pypiserver/pypiserver/builds/130325284

Logs show that tests hang on a "Password:" prompt, which occurs during `python setup.py upload`

setuptools changed password prompt be

[2016-05-25 15:12] montefra commented on #130
I'm not sure that our apache server saves the pypiserver logs.

I forgot about this. I'll try to remember to do this next week.

[2016-05-27 13:41] sbrandtb commented on #139
I'm running into this issue, too. I tested the version from master. It's fixed there, but painfully slow

[2016-05-27 13:47] dpkp commented on #139
We've deployed the 503 patch internally (PR 140 / master) to general success. Do you have any details on the slowdown you are seeing?

[2016-06-06 06:43] sbrandtb commented on #139
We decided to switch to devpi internally because we need pypi-caching, so no chance to check why the version from master was hanging. Probably some DSN lookup or other timeout?

Still, keep up the good work. Pypi-server served us for two years without issues :) Still, I would recommend releasing the latest master because this bug is a critical issue here and probably also in other environments.

[2016-06-06 07:30] ankostis commented on #139
Indeed we have to bake a new release the soonest.

[2016-06-07 16:51] petri opened #143 "Auth issue: always 403 Forbidden (.htpasswd)"
On latest up to date Debian, I started all of a sudden seeing that when authenticated. Like this:

Error: 403 Forbidden
Sorry, the requested URL 'http://pypi.xxx.yyy:pppp/simple/' caused an error:

Everything that requires auth from .htpasswd file results in that.

Has there been a change in Python htpasswd support or some other (perhaps OS-level) support library? I've tried multiple pypi-server v

[2016-06-07 17:03] petri commented on #143
Pfffft ignore, looks like this was some sort of weird auth caching issue.

[2016-06-07 17:03] #143 closed

[2016-06-15 18:12] blade2005 opened #144 "New release"
Hey can we release a new version. My use case requires packages not be overwritten and this was fixed in https://github.com/pypiserver/pypiserver/pull/113

[2016-06-16 13:23] blade2005 commented on #142
https://github.com/pypiserver/pypiserver/pull/141 has been merged. Let's closed this.

[2016-06-16 13:29] blade2005 commented on #130
Is the Apache server configured to pass authentication headers along to pypi?

[2016-06-17 14:26] JonasT commented on #139
This still seems to be broken for me even with latest git master cloned from today (pypiserver version reported as 1.2.0.dev1)

[code]
... with the package in question definitely being in the package dir of pypiserver:
```['daphnetf.charon-16.4.0.dev0.tar.gz', 'daphnetf.hermes-0.0.1.tar.gz', 'daphnetf.gaia-0.0.1.tar.gz']```

However, pip also removed the --allow-external in the same fateful update

[2016-06-17 15:23] dpkp commented on #139
Try adding --trusted-host <your pypiserver IP/hostname> to pip install.
This is required by pip >=8 when not using https
On Jun 17, 2016 7:26 AM, "Jonas Thiem" <notifications@github.com> wrote:

[2016-06-17 19:21] ankostis commented on #133
@ssbarnea can you add an example  and a  reference to `pypi-uploader` in the *"Uploading packages from sources, remotely"* and in the "Similar projects" sections respectively?

[2016-06-17 20:31] ankostis commented on #38
#140 implemented redirection when *un-normalized* packages requested - not *misspelled* ones, but should probably cover 99% of cases.

[2016-06-17 21:58] ankostis commented on #139
@sbrandtb can you check again if problem persists on the just-released `pypiserver-1.2.0.dev1`?
(use `--pre` to pip-install it).

[2016-06-17 22:07] ankostis commented on #138
@ssbarnea can you check the just released `pypiserver-1.2.0.dev1` if it fixes the dot-problem?

[2016-06-23 01:32] mplanchard commented on #144
@ankostis Any issues with pushing a new version up to pypi? We lost some resources at work recently, so I've been super swamped (sorry!). I have tested the current release locally and am okay with releasing.

[2016-06-23 02:28] mplanchard commented on #142
Fixed in #141

[2016-06-23 02:28] #142 closed

[2016-06-23 02:45] mplanchard commented on #137
See #146

[2016-06-23 02:45] #137 closed

[2016-06-23 02:52] mplanchard commented on #134
I believe this has been resolved. I'm going to close this issue for now.

[2016-06-23 02:52] #134 closed

[2016-06-23 03:05] mplanchard commented on #133
Docs added in #147

[2016-06-23 03:05] #133 closed

[2016-06-23 03:06] mplanchard commented on #129
This was resolved by #141 - thanks again for reporting!

[2016-06-23 03:06] #129 closed

[2016-06-23 03:07] mplanchard commented on #80
Handled by #114, which has been merged.

[2016-06-23 03:07] #80 closed

[2016-06-23 19:25] ankostis commented on #144
Indeed now we have an opportunity window; I won't find another free slot for many weeks to come.
Please check the latest `beta-0`, and try to tag/release it, and report any difficulties, to reduce the bus-factor.

PS: Judging by the time it took us this release, we need another team-member to jump aboard :-)

[2016-06-23 19:29] ankostis commented on #144
Also I suggest to include in this release @blade2005 work on *pam* integration: 58ac2bdfb480a.
And if it simplifies working with `/etc/password`, why not, add a new main-flag; that would be a real free-meal for linux users.

[2016-06-23 19:44] mplanchard commented on #144
I have verified that:

- [ ] search works
- [ ] search works with dot packages
- [ ] search requires authentication if `list` is specified in the auth list
- [ ] search does not require auth if `list` is not specified
- [ ] installing dot packages works
- [ ] installing non dot packages works
- [ ] package upload works
- [ ] uploading a package already present without specifying `overwrite` return

[2016-06-23 19:45] mplanchard commented on #144
My vote is that it's ready to go, and I totally agree about getting another maintainer.

[2016-06-24 00:05] mplanchard commented on #144
@blade2005 regarding the `pam` integration in 58ac2bd, if you want to open a PR, I am happy to include it prior to releasing the current version. Otherwise, I'll push out 1.2.0 prior to heading out on vacation this Saturday, unless @ankostis has time to get it in in the upcoming week.

[2016-06-24 00:12] mplanchard commented on #93
@fraoustin, are there any packages at this point whose interdependence with pypiserver is harmed by the absence of this endpoint, such as `pyg`, referenced in #1?

[2016-06-24 00:13] mplanchard commented on #122
Closing this issue, as the fix is merged and will be included in the imminent release.

[2016-06-24 00:13] #122 closed

[2016-06-24 01:12] blade2005 commented on #144
I'll get a pr in tonight/early tomorrow

Sent with AquaMail for Android
http://www.aqua-mail.com

On June 23, 2016 7:05:26 PM Matthew Planchard <notifications@github.com> wrote:

[2016-06-25 02:51] ankostis commented on #139
@sbrandtb Can you confirm if the freshly-released `v1.2.0` solves indeed the problem?

[2016-06-25 02:52] ankostis commented on #138
@ssbarnea can you confirm if the fresly-released `pypiserver-1.2.0` has fixed the dot-problem?

[2016-06-25 03:11] ankostis commented on #135
This probably moves to next release?

[2016-06-25 03:12] ankostis commented on #144
@mplanchard we've released!!!
- Thank you for the manual checks above - we have to make them one day into TCs.
- I've seen your b1 - but didn't see your tag - did you forget to ``push --tags``?

- Anyway, I'm writing down extra tasks for a release, because they are not easy to remember:
  - Copy CHANGES into the [Release-page](https://github.com/pypiserver/pypiserver/releases/tag/v1.2.0), kept TOD

[2016-06-25 03:12] #144 closed

[2016-06-25 04:27] mplanchard commented on #135
Agreed. I have not found the time to get to this, but I will ensure it gets done when I get back from vacation.

[2016-06-25 04:28] mplanchard commented on #144
Awesome! Thanks for the rundown. I'll save this somewhere for next time.

[2016-06-25 04:35] mplanchard commented on #144
Also, how do you feel about posting an announcement to python-announce-list? I can do the announcement, if you're interested.

[2016-06-25 09:14] ankostis commented on #144
Very good idea.

It is just that I'm having some doubts about the redirection/normalization changes do not have caused grave mistakes, so we can wait a couole of days before amnaouncingvto catch them:

- Announce when you get back from vacations?
- Right now, if your feel confident?

[2016-06-25 13:27] mplanchard commented on #144
I agree that it cannot hurt to wait, just in case. I'll announce when I get back, unless we have any major problems in the meantime. Thanks!

[2016-06-28 07:01] sbrandtb commented on #139
@ankostis Sorry, I thought I did answer: No, I cannot because we stopped using pypiserver and I cannot find spare time to test it, sorry.

[2016-06-28 07:37] roskakori opened #154 "RST is broken on PyPI"
When viewing the PyPI entry at https://pypi.python.org/pypi/pypiserver the RST does not render properly and consequently the page is difficult to read.

Probably there is an RST syntax error somewhere in the README.

[2016-06-28 09:14] ankostis commented on #154
Thanks.
It has now been fixed in PyPi - I had forgotten to update a cross-reference to a change title.

Have to add TC into TravisCI for the future.

[2016-06-28 11:02] JonasT commented on #139
@ankostis I confirm it works for me now. I used ```--trusted-host``` as required in my pip command, and now it installs just fine with the latest pypiserver github master.

[2016-06-28 11:06] ankostis commented on #139
Great, thanks!
Can close now.

[2016-06-28 11:06] #139 closed

[2016-06-28 11:10] ankostis commented on #138
I assume this also fixed like #139.
My apologizies to ssbarnea for the notification.

[2016-06-28 11:10] #138 closed

[2016-06-28 11:10] #154 closed

[2016-06-29 20:20] luismsgomes opened #155 "option to specify application base URL"
Started pypiserver on port 127.0.0.1:8001 as follows:

[code]

Then tried to reverse proxy the application through apache as follows:

[code]

I can access the welcome page at the front-facing address `/pypi/` but the URLs in that page are wrong:
`/simple` should be `/pypi/simple`

Is it possible to add an option to `pypi-server --app-root=/pypi/` so that all URLs are prefixed with the given URL?

[2016-06-30 00:47] luismsgomes commented on #125
I think I fixed the propagation problem.  Please checkout my pull request #156.

[2016-07-02 12:03] ankostis opened #157 "Provide a `main()` flag to authenticate using `/etc/passwd`"
In continuation of the ideas described in #153 by we should prepare to incorporate `/etc/passwd` auth with some main-flag.

But then the API-example in the docs has to be replaced with some uther *auther* - @blade2005 it would be great if you send some snippet for the LDAP - no hurry ofcourse.

[2016-07-02 12:14] ankostis commented on #155
Unfortunately this is not as simple as it sounds since all urls are affected (see also #100 & #123).
Maybe a better configuration is to use `mod_wsgi` as described [in the document](/pypiserver/pypiserver#apache-mod-wsgi).
That way you get also multi-threaded responses for free.

Please provide some feedback if you attemt to setup it up.

[2016-07-05 12:42] blade2005 commented on #157
I had tried to authenticate with LDAP and didn't have much luck outside of using the PAM system.

Using pam.authenticate it becomes a matter of updating your pam configuration to check with LDAP

The following is an example from common-auth from a debian box

[code]

This method would also require having a /etc/pam_ldap.conf.

I was able to test this method of authentication using both correct and

[2016-07-14 02:07] mplanchard commented on #125
Agreed that this should be fixed with #156. @michaelkuty, can you verify using @luismsgomes's branch?

[2016-07-14 02:21] mplanchard commented on #157
It might be worth checking out what `python_pam` is doing behind the scenes, as it has worked well for me in testing. Alternately, we could specify `python_pam` to be a requirement of this project. I generally don't want to have any unnecessary requirements. Hopefully I'll have time soon to dig in and try to figure out a pure-python way to accomplish this.

[2016-08-10 17:57] ankostis commented on #93
Actually the *pypi* one day(?) will migrate to ["Warehouse"](https://pypi.org/) codebase and its pages will look like this:
![image](https://cloud.githubusercontent.com/assets/501585/17564541/f8cb48aa-5f33-11e6-937b-6d95338a5acd.png)
My point is that the project-pages better be customizable.

I suggest to use *setuptools* [entry-points](https://packaging.python.org/distributing/#entry-points) is a

[2016-08-25 04:11] luke0922 opened #159 "does secure connect suppoeted?"
when using pypiserver for my personal pip server, i found i notice when i install package:
[code]

can i use http  in v1.2.0?

[2016-08-25 08:30] ankostis commented on #159
@luke0922 I'm replying to your original opening comment (copied from email):

however readme does not show "-s" argument inREADME.rst

The `-s` option in #65 PR was re-named to `-a`.

[2016-08-25 08:32] ankostis commented on #159
@luke0922 your opening-comment above is unrelated to the title of this issue.
Additionally, it is a bit difficult to make sense, maybe needs further editing, e.g. is `pypiserver` and "personal pip server " different?

[2016-08-25 08:32] luke0922 commented on #159
@ankostis i make a misunderstand for #65 , my question is that does pypiserver support https?

[2016-08-25 08:38] ankostis commented on #159
*pypiserver* does not make any http-requests itself - it only replies to httmp-requetsts.
For the later, yes, it does support https only through some front-end server i.e. apache.

To install *pypiserver* behind apache, see the respective recipe regarding [apache `mod-wsgi`](https://github.com/pypiserver/pypiserver#apache-mod-wsgi).
The instructions for setting up apache to server https is beyond

[2016-08-25 08:38] #159 closed

[2016-08-25 08:40] luke0922 commented on #159
ok， got it, maybe i should close this issue now.

[2016-08-30 15:46] ITler opened #160 "Pypi behind proxy"
Hy folks,

I would like to run my pypiserver behind a nginx proxy (reverse proxy).
Accessing pypiserver *directly* (using `pip3 install --extra-index-url http://pypiserver.example.com:12345 moduletest` on a client) works fine.

Proxied browsing through the repository using a browser (i.e. `http://myproxy.example.com/simple/moduletest`) works fine. `Nginx conf`:

    upstream pypi {
      server py

[2016-09-04 11:47] ankostis commented on #160
Hi @ITler, have no experience with *nginx*, but I want to help you fix it, as this would make [a good recipe](https://github.com/pypiserver/pypiserver/#recipes).

Can you give your try the same *pip* commands adding verbose flags, like that:

    pip3 -vvv install --extra-index-url ...

[2016-09-05 12:25] ITler commented on #160
Thanks for your response. The `-vvv` reveals a few details that pointed me to the right direction.
The header definition was not perfect. It is:

    upstream pypi {
      server              pypiserver.example.com:12345 fail_timeout=0;
    }

    server {
      server_name         myproxy.example.com;

      location / {
        proxy_set_header  Host $host:$server_port;
        proxy_set_header

[2016-09-05 12:25] #160 closed

[2016-09-05 12:36] ankostis commented on #160
@ITler would you mind sharing the *ngnix* config here, along worth some minimum instructions on how to set it up?

[2016-09-05 12:56] ITler commented on #160
I'm having trouble to get formatting correct. When pasting code to README.rst, it is quoted but not codeblocked, see [here](https://github.com/ITler/pypiserver/tree/ITler-patch-1#behind-a-reverse-proxy).
Don't know why. Even manual typing leads to same effect. What am I doing wrong? I use github to edit directly. Maybe take the text and paste it yourself... Might be faster.

[2016-09-05 13:13] ankostis commented on #160
It is not Markdown but [ReStructured Text](http://docutils.sourceforge.net/docs/user/rst/quickstart.html#preformatting-code-samples).
So you need to end the previous sentence with double `::` in addition to indentation.

If you manage it, you may place your recipe in the same level as [apache-receipe](https://github.com/pypiserver/pypiserver/blob/master/README.rst#apache-mod_wsgi), directly below

[2016-09-06 07:46] ITler commented on #160
I managed to get formatting right. However, placing this at same level like apache-receipe would be wrong because this is the level 'alternative WSGI server'. My topic is 'reverse proxy', which is totally different. BTW, you could do reverse proxying with apache, too (don't know how). My text is placed at correct level and configuration is quite basic. You could merge.

[2016-09-06 07:48] ITler commented on #160
I managed to get formatting right. However, placing this at same level like apache-receipe would be wrong because this is the level 'alternative WSGI server'. My topic is 'reverse proxy', which is totally different. BTW, you could do reverse proxying with apache, too (don't know how). My text is placed at correct level and configuration is quite basic. You could merge.

[2016-09-06 17:28] ankostis commented on #160
Reverse-proxying with *Apache* meshes up with the paths(#155), so it should be avoided; wsgi is safer choice.
I expect *ngnix* to have the same problem; if you bump into it, please report it.

[2016-09-07 07:02] ITler commented on #160
Yeah, I would expect that, too. However in "my" setup, I don't use custom paths, but I'll keep my eyes open. I presume, that filtering the Request URI before proxying by removing the custom location part, could help to avoid this issue, but I'm not that experienced with that topic.

[2016-09-24 17:09] ankostis opened #163 "Provide and extension mechanism based on setuptools entry_points"
We are at the point where various PRs propose useful modifications that will begate the minimality of this project. (e.g   #162 for *auther*, #99 for site pages imitating *pypi*).
The typical way to satisfy all requirements is to allow them to grow separately from the project, based on a pluygin-extension mechanism.  That is exactly the role of [*setuptools* `entry_points`](https://setuptools.read

[2016-11-23 01:35] johnpneumann opened #164 "Upload Size is too small for larger repositories"
Due to the size restrictions within the `MEMFILE_MAX` setting within bottle, larger packages like [numpy](https://pypi.python.org/pypi/numpy/1.12.0b1) and [pandas](https://pypi.python.org/pypi/pandas/0.19.1) (or even Django) aren't able to be included as package dependencies when using pypiserver. Is there any chance that either A) This behaviour can change; or B) That you would accept a pull requ

[2016-11-30 15:30] ankostis commented on #164
Thank you for bringing this up.

Have you tried something fixing it with a more [straight forward monkey-patching](http://stackoverflow.com/a/16866126/548792)?
But the real issue is that it **shouldn't fail**, even if `len(package) > MEMFILE_MAX`.

Would it be possible to send the traceback of the error?
Greatly appreciated if you can provide a failing test-case.

By the way, that was a very kind

[2016-12-06 15:01] johnpneumann commented on #164
I had not tried the monkey-patching route, but will do that and see if there are any notable differences. And yes, I will get a use case together and get the full traceback for you shortly.

[2016-12-12 09:01] alexykot opened #165 "HTTP 405 should be HTTP 501"
On the endpoints that are not implemented (basically everything apart from `upload` and `install`) server currently returns HTTP 405. It should return HTTP 501 as that would be correct way to handle valid API requests that are not yet supported by server.

[2017-01-20 18:21] johnpneumann commented on #164
So after running this through the ringer and attempting to repro this, it appears that this isn't an issue. My guess is that the issue was with the Nginx configuration and not the `MEMFILE_MAX` setting. If for some reason, I missed a step in trying to repro the issue, I'll reopen with the full details on how to repro the issue. Apologies for the noise. :)

[2017-01-20 18:21] #164 closed

[2017-01-30 23:16] josephtate opened #167 "Multiple Directory Support Broken"
Somewhere between 1.1.6 and 1.2.0, the multiple directory support broke. I have this config:

[code]

Which works fine for 1.1.6-1.1.8, but under 1.2.0, each of the configured package directories show the same list of packages. I didn't narrow down WHICH directory is being served, but it's either the devel or unstable one (first or last in C ordering).

I could not run 1.1.9 and 1.1.10 successfull

[2017-02-10 17:14] blade2005 commented on #157
@mplanchard i eventually did another project and found out why i got back no such object. it's due to the configuration of the ldap_username, not matching what the ldap server wanted. so it's a local issue. If someone can test this code against a different server and validate the code that would be great.

[2017-02-14 02:30] mplanchard commented on #165
Thanks for pointing this out. I definitely agree that 405 ("method not allowed") is not the proper status code. However, I'm also not sure that 501 is the correct code. The official 501 definition is (via w3.org):

I'd say it's more accurately a 404:

And in fact, most web frameworks (e.g. Flask, Django) will return a 404 if an endpoint is requested that has not been configured. What are your feel

[2017-02-14 02:32] mplanchard commented on #157
Thanks for following up @blade2005 - as may be apparent by my lack of activity here, I've been swamped doing an infrastructure revamp & site rewrite at work. I'll do my best to get this tested on a local box, but would definitely appreciate anybody else with the time to test it out.

[2017-02-14 03:25] mplanchard commented on #167
Thanks for the bug report @josephtate. We'll be looking into this. In the meantime, any extra information you could provide would be helpful including:

* operating system
* log output
* which of the directories is being served

Thanks!

[2017-02-15 19:39] josephtate commented on #167
The OS is Precise (Ubuntu 12.04) running python 2.7.3
The log output didn't have anything telling in it.
I think it's serving the first directory it finds (devel).

I don't have the setup anymore unfortunately, and it was running in production, so I can't take it down again to run more tests. I've locked it to version 1.1.8 in the meantime.

[2017-02-20 21:10] dougthor42 opened #168 "Installing a pypiserver-hosted package from within a requirements.txt file fails, but doing so from the command line works."
First I'd like to say that I haven't been able to verify that this is *not* an issue with `pip` itself, so I'm sorry if it's on their end and not yours.

## Summary
Installing a `pypiserver`-hosted package from within a `requirements.txt` file fails, but doing so from the command line works.

## Versions
+ Python 3.5.2, 64-bit
+ Pip 9.0.1
+ pypiserver 1.2.0
+ OS: Windows 10 AU (running WinPython 3

[2017-02-20 22:51] dougthor42 commented on #168
It looks like I was just not using the `requirements.txt` file correctly...

Instead of putting the `-index-url` inline with the package, I should have it on its own line.

[code]

Now I feel foolish. :sweat:

Sorry for the noise!

[2017-02-20 22:51] #168 closed

[2017-02-21 01:04] mplanchard commented on #168
No worries! Thank you for the report, and I'm glad it turned out to be nothing.

[2017-02-28 19:07] ajd394 commented on #165
I agree with @alexykot. The server should only respond with 400s when a client had issued a request that is incorrect. Returning 501 will make it clear to users that this server doesn't support the requested pypi functionality.

[2017-02-28 20:07] mplanchard commented on #165
So how about  mapping out the end points on Pypi and returning 501 for
those, and 404 for others? I would prefer not to return NotImplemented for
every possible nonexistent endpoint, but am fine with doing so for a
limited set that people might expect.

@alexyko or @ajd394, would either of you be able to provide a listing of
endpoints for which we should return a 501 rather than a 404?

On Tue, Fe

[2017-02-28 21:08] ajd394 commented on #165
@mplanchard I agree that it should only return 501 for non implemented pypi endpoints. I have been poking around the PEP to find a document that specifies all of the pypi endpoints but i haven't found it yet.

[2017-02-28 21:25] mplanchard commented on #165
Let us know if you find something definite. If not, we can start by compiling a list of all the endpoints of which we're aware and adjust going forward from there.

[2017-03-18 18:49] mforkel opened #170 "pip search handled?"
I tried to run pypiserver as described in the README. But the POST request issued by `pip search`, which is used as an example in section "Quickstart: Installation and Usage", does not seem to be handled by pypiserver: I got an HTTP error 405. Accordings to section "Known Limitations", only `pip install` is handled. If the search command should be handled, what might have gone wrong in my test ins

[2017-03-18 19:17] mplanchard commented on #170
Which version of `pypiserver` are you running?

Support for `pip search` was added in #114, which I believe went out with `1.2.0`. If it's not working we need to look into it. We should also remove that section from the "Known Limitations".

[2017-03-18 19:31] mforkel commented on #170
The version I'm running is `1.2.0`. I downloaded `pypiserver-1.2.0.zip` from PyPi and I just checked the value of `__version__` in `__init__.py`.

[2017-03-18 19:54] mforkel opened #171 "Spurious blanks in _app.log_request"
There are some spurious blanks in `_app.log_request`:
[code]

[Edit] That kind of whitespace seems to be syntactically ok. I didn't find a direct reference to it in [PEP8](https://www.python.org/dev/peps/pep-0008/#whitespace-in-expressions-and-statements). But it sure looks strange to me...

[2017-03-19 18:33] mforkel commented on #170
After looking at #114, I found that one can use
[code]
instead of
[code]
as the README suggests, or
[code]

[2017-03-19 20:11] mplanchard commented on #170
I've opened a PR up to fix the issues you brought up. Thanks for bringing them to our attention!

[2017-03-19 20:13] mplanchard commented on #171
Looks like you've already got a diff for the fix. Want to open a PR?

[2017-03-19 20:25] #170 closed

[2017-03-20 08:18] mforkel commented on #171
Sorry, I don't have a GitHub repository for this. Could you use the above patch?

[2017-03-20 11:48] mplanchard commented on #171
Happy to! I'll get that in sometime today.

On Mon, Mar 20, 2017 at 3:18 AM mforkel <notifications@github.com> wrote:

[2017-03-20 13:27] blade2005 commented on #171
@mplanchard From the looks of it @ankostis made that change probably a year ago in https://github.com/pypiserver/pypiserver/commit/8a8d9e4f16ed621eb359c660d32f661faecf4460

Could just be a case of search and replace screw up, but testing and/or asking @ankostis about that change would be a good idea. (or both i like both)

[2017-03-20 13:55] mforkel commented on #171
@mplanchard Thanks!

[2017-03-31 09:11] bertjwregeer commented on #167
https://github.com/pypiserver/pypiserver/blob/v1.2.0/pypiserver/__init__.py#L131

and

https://github.com/pypiserver/pypiserver/blob/1.1.8/pypiserver/__init__.py#L42

Are vastly different.

The newer code imports `app` from `_app`, and returns it, however previously it would remove it from `sys.modules`, and re-import it, thereby creating a new `app`.

[2017-03-31 16:30] mforkel opened #174 "Upload results in server error"
I'm running pypiserver 1.2.0 on Raspbian Jessie without authentication:
[code]
Trying to upload as described in the README at "[Upload with setuptools](https://github.com/pypiserver/pypiserver#upload-with-setuptools)" results in a server error
[code]
while the server's log says
[code]

[2017-03-31 17:56] mforkel commented on #174
Sorry, my fault. `www-data` didn't have write permission for the server's directory.

[2017-04-03 08:37] josephtate commented on #167
The pull request fixes the issue! Thanks @bertjwregeer

[2017-04-06 12:50] JonasT opened #175 "pypiserver with recent pip suddenly results in credentials prompt"
We have a project which uses an automatically installed pypiserver and pip which we use for many months already. It just serves packages from a folder directly, with no authentication or special setup over plain HTTP to which we connect with pip using `--trusted-host` and `--extra-index` to install the packages on another machine in the local network.

However, with recent pypiserver & pip this no

[2017-04-21 12:49] JonasT commented on #175
I just noticed we accidentally used git master because of an incompatibility with pip we had a long while ago. So this is only broken on git master, with the latest regular pypi release there is no such problem!

[2017-06-08 09:07] sideffect0 opened #176 "Updating to new bottle version"
Why `bottle.py` old version is used ?

[2017-08-10 09:39] montefra commented on #130
Hi, I finally had the time to test this again.
I have tried version 1.2.0 but I still get the same error when uploading a package.

``git bisect`` tells me the the first offending commit is 011c79b8bff821bc4cc62617c3d7cc6d49c48fc8.

[2017-09-19 12:04] redbaron4 commented on #125
Any update on this? I have just run into this issue. I can confirm that some of the options like `redirect_to_fallback = False` work but `password_file` and `authenticate` do not.

Apparently the fix has landed in the code but a new version has not been released. Is it in the pipeline?

My PyPIServer is supposed to work on a sub-path /pypi so I am using a PasteDeploy#prefix filter. Is there a way

[2017-09-19 13:56] #167 closed

[2017-09-19 13:58] mplanchard commented on #125
@redbaron4 could you check out the current master and verify that it works as expected? We believe that #156 fixed the issue, but have yet to receive verification from anyone who was affected by it. Also, @michaelkuty, could you verify that this issue does not occur with the current master branch?

[2017-09-19 14:04] mplanchard commented on #176
Hi @sideffect0. Thanks for your question!

Pypiserver uses an integrated version of bottle to ensure compatibility and to avoid any issues with dependencies. We do update it from time to time, but generally only when the base package functionality requires such an update or for security reasons. If you would like to use another web server (including another version of bottle), please see [our docu

[2017-09-19 14:06] mplanchard commented on #175
Hi @JonasT, sorry for the lack of movement on this. I think myself and ankostis have both been fairly busy with job stuff. Is this still occurring with the current master and current versions of pip?

[2017-09-19 14:07] mplanchard commented on #174
Thanks for the update! I'm going to close this for now. Please feel free to comment if something changes.

[2017-09-19 14:07] #174 closed

[2017-09-19 14:10] mplanchard commented on #130
@montefra, were you able to get the pypiserver logs when a failure occurs? It might help us track this down

[2017-09-19 14:47] mplanchard commented on #130
Roger. I'll look through the logic sometime this week/weekend to see if I can see where it might be going awry. Feel free to ping me if I forget about this again!

[2017-09-19 14:49] montefra commented on #130
@mplanchard: thank you for it.
I just reinstalled 011c79b and I confirm that it seems that the ``log_file`` options is ignored as the log file stays empty.

[2017-09-20 04:49] redbaron4 commented on #125
@mplanchard Well the server where I have hosted this does not have internet access but I did copy the entire `__init__.py` file from that PR to overwrite the existing 1.2.0's `__init__.py` file (I know bad practice but the fastest way to verify for me) and the PR worked correctly for the `password_file` and `redirect_to_fallback`. However, `authenticate` settings were not parsed and had no effect.

[2017-09-28 08:14] AdamSharon opened #177 "fallback does not work for different package versions ?"
Hi,
This seems like a weird behaviour - the fallback does not work if I ask for a package the repo has but in a different version.
If I want to pip-install the package "paramiko==1.15.2" and my pypiserver repo have paramiko-2.1.2, I would expect that the fallback be triggered and i'll get the package. instead, I get "Could not find a version that satisfies the requirement".
the fallback works fine

[2017-09-28 11:55] mplanchard commented on #177
You mean the fallback to PyPI? Or are you saying you would expect it to
install paramiko 2.1.2 from the pypiserver?

On Thu, Sep 28, 2017 at 3:14 AM AdamSharon <notifications@github.com> wrote:

[2017-09-28 12:02] AdamSharon commented on #177
Yes, the fallback to PyPI. I would expect to get  "paramiko==1.15.2" from PyPI, just like if I try to pip-install "requests", and my pypiserver does not contain any version of requests.

[2017-09-28 12:27] mplanchard commented on #177
Could you paste the verbose output of your pip install command here?
They've been making a lot of changes to the API at the PyPA, so it could be
related to that.

On Thu, Sep 28, 2017 at 7:02 AM AdamSharon <notifications@github.com> wrote:

[2017-09-28 13:05] AdamSharon commented on #177
sure.

------
C:\venv2\Scripts>pip install paramiko==1.15.2 -i http://localhost:8036/ --verbose --no-cache-dir
Config variable 'Py_DEBUG' is unset, Python ABI tag may be incorrect
Config variable 'WITH_PYMALLOC' is unset, Python ABI tag may be incorrect
Config variable 'Py_UNICODE_SIZE' is unset, Python ABI tag may be incorrect
Collecting paramiko==1.15.2
  1 location(s) to search for versions of

[2017-09-28 13:08] mplanchard commented on #177
Looks like pip isn't even trying to search PyPI. Generally it should say
there are two locations to search. Do you have a pip config file in any of
the locations listed here?
https://pip.pypa.io/en/stable/user_guide/#config-file

If so, could you paste the contents of the file, minus any passwords or
other sensitive information?

On Thu, Sep 28, 2017 at 8:05 AM AdamSharon <notifications@github.com

[2017-09-28 13:32] AdamSharon commented on #177
there is no pip config file on my system.
There is just one location, the localhost (this is the pypiserver). this is my main and only index in the pip command, but this does not matter when there are no versions of a package on the pypiserver. see attached example, there is just 1 location but the links still come from pypi.
when I pip-install a package (simplejson) my pypiserver does not have -

[2017-09-28 14:34] mplanchard commented on #177
Okay, I see what you're saying. This is caused by the logic that determines what packages we do or don't have, and when to fall back.

`find_packages` filters packages by their name (not their version):

[code]

and the fallback is determined by whether or not `find_packages()` returns anything:

[code]

I'm not sure that this isn't intentional, because if you're specifying the pypiserver as the o

[2017-09-28 15:32] AdamSharon commented on #177
Ok, the documentation will probably be a lot better.
I see your point about the version problem. you're saying clients would like to pin a specific version using pypiserver. I guess it's dependent on the use case, I think that "fallback" should mean "pypiserver can't get your package, here it is from somewhere else" and if you don't want that just cancel the fallback.

The workarounds that you sug

[2017-09-29 14:08] mplanchard commented on #177
So you're not able to upload the specific versions that you need, remove the higher versioned package, or adjust the clients to request a version range?

[2017-10-01 06:46] doppleware commented on #177
Hi,
To complement what @AdamSharon is saying, we're using pypiserver as a private server with a fallback to global PyPi. We don't have control over what the client (users) requests.
For our use case, not finding a package at all in pypiserver or not finding the package in the requested range both fall under the same category of '**what you asked for isn't there**' and for both options we need pypi

[2017-10-02 14:20] mplanchard commented on #177
Thanks for the feedback!

I'm going add a global "fallback in any situation" option, but I am certain we have users relying on the current behavior to, for example, ensure that clients can only receive the desired version of a package. I don't want to break their workflow, so this will wind up being an additional option.

I don't think it'll be too complicated, so hopefully I'll have time this wee

[2017-10-03 06:48] AdamSharon commented on #177
That's awesome, thank you very much. looking forward to the fix.

[2017-10-03 12:05] doppleware commented on #177
Wow really great to hear. Thanks!!

[2017-10-05 01:00] mplanchard commented on #177
@AdamSharon and @doppleware - I got some time to work on this tonight. It wound up being a bit more complicated than I envisioned, because of the way `pip` works. To make a long story short, pip doesn't give us an opportunity between getting a list of server packages and saying "nope, that version isn't available" to make a fallback request. So, I wound up getting the list of packages directly fro

[2017-10-05 01:09] mplanchard opened #178 "Invesitgate standalone test failures"
For some reason it seems like all recent Travis builds have failed the standalone test. We'll have to take some time to dig in and try to figure out why.

[2017-10-05 01:09] mplanchard commented on #176
Given the lack of response, I'm going to close this for now. Please feel free to respond if you don't feel like your question was answered.

[2017-10-05 01:09] #176 closed

[2017-10-05 12:38] MikeSchneeberger opened #179 "Update default fallback URL to https, since PyPI has begun returning 403 for http connections"
With the following PIP configuration ...

pip.ini:
[code]

... I get the following output on the command prompt, when trying to install a package that is not on the pypi server.

Command Prompt (Windows):
[code]

I would expect that it downloads the package from the pypi.python.com server, if it doesn't find it on the pypi server. But unfortunately I get a timeout error message. How can I make it

[2017-10-05 12:54] MikeSchneeberger opened #180 "Update 404 return to match PyPI"
When disabling the fallback ...

`pypi-server --disable-fallback -p 8080 -P C:\Data\htpasswd C:\Data\packages`

... I get the following exception, when trying to install a package that doesn't exists on the pypi server.

[code]

I notices that doing the same on pypi.python.com in the browser (https://pypi.python.org/simple/paramiko2/), I get ...

`Not Found (paramiko2 does not exist)`

... the sam

[2017-10-05 14:23] mplanchard commented on #179
Looks like pypiserver is behaving properly here. It's returning a redirect to `pypi.python.org`, but that's timing out. Can you verify that you can access `http://pypi.python.org/simple/paramiko` via curl or `requests` from the computer making this request?

You might consider updating your version of pip if possible. Looks like those debug messages about the Python ABI were addressed [here](https

[2017-10-05 14:31] mplanchard commented on #180
This is expected. If you do not have the package and fallback is disabled, we return a 404 (Not Found). It is interesting that PyPI is apparently returning something a little different for the 404, which is why `pip` is able to give you a nice `does not exist` message rather than a 404 error.

Is this difference problematic for you?

[2017-10-05 14:34] mplanchard commented on #180
Looked into this briefly, and here's the difference between the two returns:

## PyPI

[code]

## PyPIServer

[code]

Seems like pip is just returning whatever the URL returns. It would be pretty easy to adjust ours to match.

[2017-10-05 14:38] MikeSchneeberger commented on #179
The curl command gives me the following outputs:

[code]

The "https" connection works, whereas the "http" doesn't.

I have pip version 9.0.1, which is the current version.

[code]

[2017-10-05 14:45] mplanchard commented on #179
Hm. I'm able to hit the `http` endpoint (it redirects to the `https` endpoint). Seems like your system isn't following the 301 redirect?

[code]

I'm not sure how to help you troubleshoot this, as I'm not very familiar with Windows. However, if you can't fix your system failing to follow the redirect, you could specify the fallback URL as `--fallback-url "https://pypi.pyhton.org/simple/"`

[2017-10-05 15:10] MikeSchneeberger commented on #179
Yes, you are right. The following code solves the problem.

`pypi-server --fallback-url https://pypi.python.org/simple/ -p 8080 -P C:\Data\htpasswd C:\Data\packages`

Why is "http://pypi.python.org/simple/" selected as the standard fallback url, and not "https://pypi.python.org/simple/"?

[2017-10-05 15:21] mplanchard commented on #179
PyPI didn't always perform the automatic redirect to the SSL-enabled site, and prior to Python 2.7.9 and 3.4, SSL connections were much flakier in Python. It's probably not a bad idea to update our default fallback URL, given that PyPI is now permanently redirecting.

[2017-10-08 22:27] mplanchard commented on #177
@AdamSharon & @doppleware - I believe I was able to get my branch fully functional this afternoon. SSL seems to be working just fine, and I also resolved the issue of potential duplicate versions between the pypiserver index and the fallback URL (by deferring to the local index), as well as preventing the server from bombing on most foreseeable connection errors.

If you're able to validate that t

[2017-10-10 14:22] doppleware commented on #177
@mplanchard  that's really awesome thanks!
Sorry for the slow responses - we're located in Israel and most of us are on vacation due to the Jewish holidays.. :)  We will definitely check this change early next week.

Thanks again!

[2017-10-11 16:34] jkpubsrc opened #181 "pypiserver does not get along with pip search"
Description:

I tried to configure pip to search a local server. Therefore I added "index" and "index-url" parameters to the global section of /etc/pip.conf . Unfortunately if I do that pip3 seems to fail as the pypiserver does not deliver data as pip would expect it:

[code]

In contrast the correct response by pip if I disable the local repository:

[code]

Operating system used: Ubuntu 16.04
La

[2017-10-11 16:44] ankostis commented on #181
*Pypiserver*, by design, does not perform any requests downstream, And this is required for search to work for missing packages, when you specify `index` and `index-url` in your `pip.conf`.

That is why the [client-side-configurations](https://github.com/pypiserver/pypiserver#client-side-) we recommend to use the `extra-index-url` option.  That way, any missing packages are delegated by *your `pip

[2017-10-11 19:44] jkpubsrc commented on #181
I'm very sorry, but I don't understand. Pypiserver hosts a variety of packages. That's what it is designed for. I assume if pip tries to perform a a search it downloads the package index from a pypiserver instance and then filters the list. After that - I assume - it will provide the results to the user. That does not seem to work. Please correct me if I'm wrong but exactly I don't understand wher

[2017-10-11 21:20] ankostis commented on #181
Don't get me wrong, there was no pun intended about other projects; at all.

Additionally, I misunderstood you report in the first place, so had already edited my previous answer, writting that indeed a bug might lurk somewehere.

If that is exactly what you want, then it fits your needs perfectly :-)

Btw, have you checked #170?

[2017-10-26 15:31] alexntt commented on #179
This is now a bigger issue, as we are seeing:

[code]

and similar, pypi seems to be rejecting http requests, not redirecting

[2017-10-26 16:07] mplanchard commented on #179
Well, that's frustrating. They're still redirecting for the root `http://pypi.python.org`. It's been busy at my day job, but I will try to push this up the priority queue. In the meantime, please specify `https://pypi.python.org` for the `--fallback-url` when starting/configuring pypiserver.

[2017-10-26 16:34] alexntt commented on #179
Much appreciated- we've been able to hack that, at this point it's not urgent for us- it's just nice to have (and still, it needs to trickle down to https://github.com/codekoala/docker-pypi/pull/6 ), but your promptness is much appreciated

[2017-10-26 18:11] natefoo commented on #179
[Here's the announcement about it](https://mail.python.org/pipermail/distutils-sig/2017-October/031712.html) including the rationale for the change.

[2017-10-30 12:29] lgenasi opened #183 "Default --fallback-url causing 403 error after change to restrict non HTTPS access to PyPI"
After the changes made to PyPI which restrict access to only HTTPS (https://mail.python.org/pipermail/distutils-sig/2017-October/031712.html), the default fallback url used by pypiserver does not work anymore as it uses HTTP.

`  --fallback-url FALLBACK_URL
    for packages not found in the local index, this URL will be used to
    redirect to (default: http://pypi.python.org/simple)`

The default

[2017-10-30 13:52] dpgeekzero commented on #183
Thanks for the heads up, I've been wondering why my local pypi server stopped working.

[2017-10-30 14:38] jkpubsrc commented on #183
Sorry, I don't understand. What has this to do with PyPiServer? If PyPi now uses https and pip connects to pypi.python.org using https, and if a local server is running on http, what exactly do I need the fallback URL for? Please explain as I ran into some trouble regarding http/https with pip yesterday and found this quite strange. Maybe this hat to do with this issue, though it was a different m

[2017-10-30 14:51] mplanchard commented on #183
This is a duplicate of #179. Please see the discussion there. We will be updating the default ASAP, but as @lgenasi says, the workaround in the meantime is to manually specify the fallback URL.

[2017-10-30 14:51] #183 closed

[2017-10-30 14:59] jkpubsrc commented on #179
I used `extra-index-url` in `/etc/pip.conf` in order to specify my own server. If I do that now downloads of regular packages fail because then - and only then - pip uses `http` instead of `https` to connect to `pypi.python.org`. Has this behaviour something to do with this issue?

[2017-10-30 17:39] mplanchard commented on #179
@jkpubsrc just to clarify, is that behavior occurring with the `--falback-url` to `https://pypi.python.org/simple/` on your pypiserver?

[2017-10-30 19:57] jkpubsrc commented on #179
No. I was researching about this problem I was talking about and considered it as a bug in pip. I just learned about this issue here in pypiserver now and now I try to understand if this bug is related to that. I have a clear understanding of how I'd implement pip or even pypiserver but I have the feeling that pip and the package management system behind it might be quite different than I thought.

[2017-10-31 11:01] hodgestar commented on #179
Bumping this as fairly urgent. :)

[2017-10-31 11:01] hodgestar commented on #179
Should be a two character PR (one to add an 's' to the code and another to add an 's' to the tests).

[2017-10-31 12:41] mplanchard commented on #179
@hodgestar I appreciate the urgency, but there is a workaround in the meantime. There have also been failures in our automated test suite that need to be resolved prior to pushing a new version (there is an open issue to investigate these). As I am sure you can appreciate, no one pays me or @ankostis to work on this, so unfortunately it has to wait for when time allows. I promise it is at the top

[2017-10-31 12:46] mplanchard commented on #179
That being said, I will try to at least get a fix into master today! 😁

[2017-10-31 14:33] hodgestar commented on #179
Yay! Thank you! :D

[2017-10-31 18:05] #179 closed

[2017-10-31 18:06] mplanchard commented on #178
Resolved by #182

[2017-10-31 18:06] #178 closed

[2017-10-31 18:06] hodgestar commented on #179
:cake: :cake: :cake: :smile_cat:

[2017-10-31 18:09] mplanchard commented on #179
This is now in master. Please feel free to install directly from there if you need to while we prepare a release.

[2017-11-01 20:15] jameshiebert opened #186 "Dual-mode authenticate appears broken"
We have a deployment of pypiserver where we want to password protect updates, but want to leave download and list operations public. The docs (e.g. ``$ pypi-server --help``) say:

I conclude from that statement that we should use "-P foo/htpasswd.txt  -a update". Is this correct? With this config, I would expect to be able to browse to https://localhost:[port]/simple with no authentication but nee

[2017-11-10 21:05] mplanchard commented on #186
Thanks for the report and the test case! I will look into integrating the test case into the test suite and determining why the expected functionality isn't working

[2017-11-10 22:11] jameshiebert commented on #186
Cool, thanks!

[2017-11-14 08:17] alexntt commented on #175
Hi:

I was testing the `--pre` version which includes the new fallback URL, and I think I'm getting this.

[code]

If I run in other terminal:

[code]

and on the pypiserver console log:

[code]

I tried using `-a update`, but it doesn't seem to do anything (which I think is logical- it's the default).

I'm reverting to the non-pre version, but I can do more testing if required.

[2017-11-14 11:23] ankostis commented on #179
@mplanchard would it make sense to release `1.2.0.post0` (hat's a final release, so no `pip --pre` needed) with just this blocker, fixed?
And have more time to fix more stuff in 1.2.1?

[2017-11-14 11:25] alexntt commented on #179
I'm not sure, I think I've hit https://github.com/pypiserver/pypiserver/issues/175 , so the `--pre` version seems to have issues. If those are widespread problems on `--pre`, I think you're better off specifying the fallback URL via the CLI rather than using the `--pre` version.

[2017-11-14 13:50] ankostis commented on #179
But does #175 affect also the old `v1.2.0`?

[2017-11-14 14:17] alexntt commented on #179
I don't think so- we were running it and never had an issue, I think.

[2017-11-14 14:27] mplanchard commented on #179
I think #175 and #186 may be the same thing, both of which stem from #132. I'm definitely willing to release a patch just for the fallback URL. We could also back out #132 and make it 1.2.1dev1, which will give us more time to resolve the issues with it.

[2017-11-14 14:29] mplanchard commented on #175
This seems like it may be the same bug as #186 and the subject of ongoing conversation in #179

[2017-11-14 14:48] mplanchard commented on #186
Indeed, reverting #132 brings these tests from failing to passing. I have performed the reversion on https://github.com/mplanchard/pypiserver/tree/revert-matrix-auth and am adapting these tests into that branch to ensure that we do not revert to the failure case.

[2017-11-14 14:54] ankostis commented on #186
Just to state that my gut feeling about #132: it seems to be very case-specific and constrained.
A better alternative would be, as @bibby [suggested](https://github.com/pypiserver/pypiserver/pull/132#issuecomment-215977004), to become a separate project providing an `auther`  - we have the API, we need to make it into a setuptools entry-point.

So i vote not to hurry to release with it.

[2017-11-14 14:55] mplanchard commented on #186
Agreed. I am cleaning up @jameshiebert's tests and getting a PR ready to revert #132 for the moment.

[2017-11-14 16:09] bibby commented on #186
Reacquainting myself with the issue, I still like the idea of a pluggable auther module. That way, users can select the authentication that's right for them (and the deps they bring): htpasswd, LDAP, OAuth2 [Github, Gitlab], or a custom solution.

Writing modules for uncommon auth strategies is a good way for users to contribute.

[2017-11-14 19:00] mplanchard commented on #186
@jameshiebert please try the current `1.2.1rc0` release and see if this issue is resolved. Thanks!

[2017-11-14 19:01] mplanchard commented on #175
@alexntt @JonasT if possible, could you verify that the latest pre-release, `1.2.1rc0` has resolved these issues?

[2017-11-14 19:13] mplanchard commented on #181
Thanks for the report! If this is indeed a bug,  the following would help us in trying to pin down the cause:

* pip config, with any sensitive information redacted
* output from `pip --version`
* output from `pypi-server --version`
* command-line invocation of pypiserver used to reproduce the problem
* Any `stdout` or `stderr` that shows up when the pypiserver is run in the foreground and the req

[2017-11-14 19:35] jameshiebert commented on #186
@mplanchard Yeah, that seems to work for me. Thanks for the fast action!

[2017-11-14 19:35] #186 closed

[2017-11-15 08:17] alexntt commented on #175
I updated to that version and it doesn't seem to be prompting for authentication any more. We will leave it running and report back if there are other issues.

[2017-11-15 14:50] mplanchard commented on #175
I'm going to go ahead and close this for now. Feel free to respond and re-open if the issue recurs.

[2017-11-15 14:50] #175 closed

[2017-11-30 01:06] mplanchard opened #192 "End Explicit Support for Python 3.3"
Python 3.3 has been EoL'ed since September, and more and more major packages are dropping support, making maintenance more difficult. Pytest, for example, [dropped support in version 3.3.0](https://github.com/pytest-dev/pytest/blob/master/CHANGELOG.rst#pytest-330-2017-11-23).

I think that unless there is a really good reason, we should stop explicitly supporting Python 3.3 going forward.

[2017-11-30 02:08] mplanchard commented on #125
@redbaron4 I believe #196 resolves the issue you pointed out with string parsing.

[2017-11-30 09:48] ankostis commented on #192
+1

[2017-12-02 12:33] petri commented on #163
+1 for defining interfaces using ABCs and matching (by name) entry points.

[2017-12-03 09:26] #155 closed

[2017-12-03 22:19] #171 closed

[2017-12-03 22:22] #180 closed

[2017-12-03 22:22] #125 closed

[2017-12-03 23:31] mplanchard commented on #135
I know it's been a while on this one, but I don't feel like this is anything that needs to be addressed.

See this particular line from the docs:

to update a one package. Either copy and paste that or run
``pypi-server -Ux`` in order to really execute those commands.

@ssbarnea I believe that is exactly what you need. I'm going to close this now. Please feel free to reply if that functionality is

[2017-12-03 23:31] #135 closed

[2017-12-03 23:45] mplanchard commented on #165
@alexykot @ajd394 [these](https://github.com/pypa/warehouse/blob/master/warehouse/routes.py) are the endpoints implemented by `Warehouse`, which is the "new" PyPI server. It's harder to find something for "legacy-pypi." Any feelings about that list of endpoints as being one for which we should handle with 501's if we don't implement them?

[2017-12-04 05:33] redbaron4 commented on #125
Thanks @mplanchard

I tried the new v1.2.1 and it fixed the issue.

[2017-12-05 12:20] hugovk commented on #192
+1

Here's the pip installs for pypiserver from PyPI for the last month (via `pypinfo --percent --pip pypiserver pyversion`), showing no Python 3.3.

| python_version | percent | download_count |
| -------------- | ------: | -------------: |
| 2.7            |   91.4% |         11,191 |
| 3.6            |    3.3% |            408 |
| 2.6            |    2.8% |            343 |
| 3.5            |

[2017-12-05 14:01] mplanchard commented on #192
That's really interesting, thank you! I'm not surprised the 2.7 percentage is higher than the 3 percentage, but I am surprised it's as high as it is. Hopefully the 3 percentage increases in the next couple of years before the EoL of Python 2.7.

[2017-12-18 12:21] hugovk commented on #192
Please see PR #198.

[2018-01-09 07:38] hscspring opened #199 "ConnectionResetError: [Errno 104] Connection reset by peer"
I use TencentCloud for my server, and i use docker, when i finished the construction, i got a log like below ( the server is ok), is anyone met the same issue?

[code]

The dockerfile is:

[code]

[2018-01-09 15:29] gokuatkai opened #200 "Problem synchronizing index and package while removed"
Hello,
We are serving thousands of packages using pypiserver since last past years. But we were suffering from very slow response and intensive CPU usage while serving our requests due to the index being rebuilt often on requests (using --upgrade etc..).
Then we decided to use what the documentation says: installing `pypiserver[cache]`, using nginx cache and even disabling the hash algo checks, an

[2018-01-11 15:46] oz123 opened #201 "pypiserver passes args to gunicorn"
When trying to launch pypiserver in the following way:
[code]

I got the following error:
[code]

Which comes from gunicorn.

This means pypiserver does not clean argv after parsing them. At least it should pop keys which are relevant to it.

[2018-01-11 15:49] oz123 commented on #201
This could be as simple as `sys.argv.remove(k)` after
[code]

[2018-01-29 14:51] fjgauthier opened #202 "Symbolic links"
Hello,
I am wondering if there is a reason to forcefully prevent scanning through soft links: https://github.com/pypiserver/pypiserver/blob/master/pypiserver/core.py#L231

For ancestral reasons, I need my pypiserver to be able to browse through soft-link directories. The following patch is terrible
[code]

But I could see a point for a configuration-enabled choice:
[code]

[2018-01-30 16:33] gokuatkai commented on #200
We have been playing around since, and made a lot of debug, it seems that the events are not dispatched from watchdog like the queue is not consumed. Or that it cannot retrieve the tuple from it.
this caching with caching does not at all for us

[2018-01-30 23:31] mplanchard commented on #202
Hi there! I'm not sure whether the decision to not follow links was a conscious one or not, to be honest, and that bit of the code predates me. I can't think of any immediate reason why a config value for following links would be a bad idea, so I'm open to including it.

That being said, I'm not sure that I'll have time to implement it in the near future. We can leave it as an open issue and I'll

[2018-01-30 23:41] mplanchard commented on #200
Glad to know that pypyiserver is (mostly) working for you guys!

So one of the things that makes this complicated to debug is the potential multiple layers of caching. There's a lot of fine tuning that can be done at each layer to best suit your use case.

You mentioned you're using nginx. Do you have it set up as a reverse proxy? Could you paste your nginx config here, minus any sensitive informa

[2018-01-30 23:50] mplanchard commented on #201
Hm, it does seem like that option is not working as intended. Have you tried starting pypiserver via gunicorn in the way described in the docs [here](https://github.com/pypiserver/pypiserver#gunicorn)?

[2018-01-30 23:51] mplanchard commented on #201
P.S. Sorry for the late response! I started a new job this month and have been a bit whelmed.

[2018-01-31 00:05] mplanchard commented on #201
Looking into a bit further, it seems like this is a bug with bottle. We're calling `bottle.run(app=app, host=c.host, port=c.port, server=c.server)`. There seems to be an _old_ bug in gunicorn referenced at bottlepy/bottle#756, found at benoitc/gunicorn#91. Apparently gunicorn creates an ArgumentParser and pulls in the arguments with which the calling script was called.

I'm not sure what we can do

[2018-01-31 05:24] oz123 commented on #201
I applied the patch I suggested above, and it seems to work.

As a side note, in the mean while I removed gunicorn in favor of of uwsgi, which is faster and consumes less memory.

[2018-01-31 09:44] gokuatkai commented on #200
Hello @mplanchard thanks for your reply here is the proxy config, nothing fancy:
`
upstream backend-dev {
    server localhost:9083 max_fails=0 fail_timeout=0;
}

server {
    server_name cheeseshop-dev.myserver.com;
    listen      80; # Yes we dont use https yet

    access_log  /var/log/nginx/cheeseshop-dev.myserver.com-access.log;
    error_log   /var/log/nginx/cheeseshop-dev.myserver.com-erro

[2018-01-31 12:29] mplanchard commented on #201
Yes, it would work, because both we and the called process are pulling arts
from argv. That being said, I’m not generally for including new code
explicitly to work around a bug in a dependency, when we do have another
way of working around it, although I can see the case that there’s no harm
in dropping everything we consume out of argv. I will definitely update the
docs to point to that bug, rega

[2018-01-31 12:30] gokuatkai commented on #200
Actually we solved the problem. We used uWSGI to thread the app, and adding `--lazy-app` let the app manage the queue thread properly. Thanks tho!

[2018-01-31 12:30] #200 closed

[2018-02-01 14:42] fjgauthier commented on #202
Tried out my ugly patch, and it works. Partly. When pypiserver starts, it properly reads through the soft links. Great.

The bad is if I add a file inside a soft-linked directory, it is not picked up. Further investigation points to the watchdog module, which has the same issue forcing os.walk to non-links directories.

In a way, this make a PR here that much simpler (I will happily submit one); b

[2018-02-09 20:39] blade2005 commented on #202
@fjgauthier it looks like there is already a PR in with the watchdog project https://github.com/gorakhargosh/watchdog/pull/394

It looks like it failed travis. I'd see if you can't update that one to try to get it passing travis. Or just use the fork if you can. It looks like watchdog hasn't seen a commit since 2016.

Unfortunately without upstream being patched this project won't patch it.

[2018-03-04 12:47] brainwane opened #203 "Test upcoming Twine release (1.10.0rc1)?"
https://test.pypi.org/project/twine/1.10.0rc1/  is a release candidate for Twine 1.10.0 which I'm planning to release early this week. Please see the [changelog](https://twine.readthedocs.io/en/latest/changelog.html) for detailed notes under "Next feature release".

I believe this is how you test it out on its own:  `pip install --upgrade --pre --index-url https://test.pypi.org/simple/ --extra-ind

[2018-03-05 14:37] mplanchard commented on #203
Thanks so much for reaching out!! I'm really glad to be able to collaborate to make sure that our users aren't adversely affected by updates.

I just moved on Friday, so things are a bit hectic around the house, but I will make it my top priority this week to find some time both to contribute to pypa/twine#314 and to run our full test suite against the RC.

And thanks for the heads up about pypa/w

[2018-03-05 17:58] ankostis commented on #203
@mplanchard you may remove both our names and put yours as maintainer.

[2018-03-07 02:22] #203 closed

[2018-03-07 02:24] mplanchard commented on #203
@brainwane our existing test suite performs a twine upload, so I just added a tox environment in #204 that can be manually run to test with the current pre-release of twine against all supported Python runtimes with `tox -e pre_twine`. All of the tests passed with no problems on my local machine against the current twine RC, so seems like we're good to go!

[2018-03-07 21:03] brainwane commented on #203
Thank you very much for the advice and the testing! https://pypi.org/project/twine/1.10.0/ is now out!

[2018-03-07 22:37] brainwane commented on #203
And @mplanchard I hope you'll be at [the PyCon sprints](https://us.pycon.org/2018/community/sprints/) in May to collaborate with other packaging/distribution folks!

[2018-04-18 07:41] LHolst opened #205 "pypi.python.org shutting down"
https://pythoninsider.blogspot.de/2018/04/new-pypi-launched-legacy-pypi-shutting.html

`fallback-url` should use _https://pypi.org/simple after_ April

[2018-04-19 13:10] blade2005 commented on #205
I think this a great step forward and allows for more sane practices as we can drop support of XML-RPC in the future.

[2018-04-24 00:36] mplanchard commented on #205
Agreed! Please feel free to open a PR if you have the time before I get to this.

[2018-05-08 20:03] brainwane commented on #205
I hope https://warehouse.readthedocs.io/api-reference/integration-guide/#migrating-to-the-new-pypi helps!

[2018-05-08 20:04] brainwane opened #206 "Potential package index upload API specification"
I just posted to distutils-sig about the potential for a minimal specification for Python package index upload (I'm thinking of writing a PEP). I'd appreciate getting your thoughts.

Discussion should probably happen there:

https://mail.python.org/mm3/archives/list/distutils-sig@python.org/thread/WEPTF7Q7475UA7VVULDLIG3A445WOCLI/

Thanks!

[2018-05-08 20:05] mplanchard commented on #205
Definitely! The changes are easy enough to make. I just got married last week and am leaving for my honeymoon on Friday, though, so I've been even more pressed than usual. I might have some time Thursday night to get this in.

If I don't get it in before Friday, there's no chance it's getting done before the end of the month.

[2018-05-08 20:06] mplanchard commented on #206
Thanks for letting us know! I'll read through it today

[2018-05-09 08:23] rhuab opened #207 "Import error on starting pypiserver"
I execute the command "pypi-server -p 9090 modules" but get the following error:
[code]
I tried to install pypiserver on both python3.6 and python2.7 but doesn't work.

[2018-05-09 11:38] mplanchard commented on #207
Hi there, and thanks for reporting this.

I think you’ve got the wrong package installed. Your traceback shows that the installed package is called `pypi_server` but this project is called `pypiserver` (although the executable is `pypi-server` and maybe this shows that it should be changed).

Try `pip uninstall pypi-server && pip install pypiserver` and then see if things work as expected.

[2018-05-09 11:57] rhuab commented on #207
It works, thx for help!

[2018-05-09 11:58] mplanchard commented on #207
You’re welcome! Glad it was something easy to fix 😁

I’m going to mark this as resolved, but feel free to open a new issue if you run into any more problems.

[2018-05-09 11:58] #207 closed

[2018-06-04 20:56] ankostis commented on #163
This simple guide on plugins from builtin python docs had missed me: https://packaging.python.org/guides/creating-and-discovering-plugins/

[2018-06-12 01:42] #205 closed

[2018-06-13 23:32] #192 closed

[2018-07-10 16:13] renich opened #211 "pypiserver docker file is missing manifest"
I get hte following error while pulling:

[code]

[2018-07-10 17:32] renich commented on #211
Very kind of you to answer. Thanks!

[2018-07-11 13:26] ossentoo opened #212 "403 client forbidden when trying to upload package"
HI,

I'm struggling to get a custom pypiserver installation working correctly so that I can use the server for authenticated package uploads.  I'm running pypiserver on Ubuntu server with supervisor.  The service start up correctly and I can see the web page.

However, when I attempt to upload a package, I receive the following message:

piadmin@pypiserver:~$ twine upload --repository-url https://

[2018-07-12 11:52] mplanchard commented on #212
Hi there! Sorry you’re having issues getting set up. Do you have a ~/.pypirc file defined with your username and password on your local machine? See [here](https://github.com/pypiserver/pypiserver/blob/master/README.rst#upload-with-setuptools) for an example. If you set it up that way, you should just be able to use the -r flag in twine to select the repo.

If that works, let me know, because it _

[2018-07-12 11:57] mplanchard commented on #212
Also, could you verify that your username and password are set up correctly in the htpasswd file? [Here](https://stackoverflow.com/questions/24147067/verify-user-and-password-against-a-file-created-by-htpasswd/40131483#40131483) is a description of how to check it using the `htpasswd` tool

[2018-07-12 14:34] ossentoo commented on #212
hi mplanchard,

Yes I do have a ~/.pypirc file.  My builds are running in Windows, but I've checked that file works as I get a different error message if I remove the file than if I have it in place.

Also, I'm able to use twine to confirm connectivity without the ~/.pypirc file, so I don't think that's the problem.

I've double checked the username and password by making them very simple.  I have

[2018-07-12 15:02] mplanchard commented on #212
If you throw a `-vvv` onto the startup command, do you get any more useful information in the logs?

[2018-07-28 00:04] mplanchard opened #213 "Question: anyone using standalone?"
Hello!

I'm working on an architectural reorganization of pypiserver that will allow us to support a variety of plugins to extend the basic functionality of pypiserver, starting with authentication plugins. Work is going well (the current state is on a branch called `_config_updates`, soon to be renamed to something more appropriate).

The only thing is that the approach used for the standalone gi

[2018-08-01 12:39] elboerto opened #214 "pypi-server -Ux command executes pip install -d which is not supported anymore"
Error:
[code]

pip Version: 18
pypi-server Version: 1.2.2

Workaround: Installing pip Version 9

[2018-08-01 22:52] pinkynrg opened #216 "receiving weird error when install package"
[code]

[2018-08-01 23:48] mplanchard commented on #216
Sorry to hear you're having issues!

I'm not sure if you've copied the `pip` command exactly, but if you're running it as written you might run into problems because `pip` is actually trying to download that URL as a package, rather than using at as an index. Could you ensure that you're running it like this?

`pip3 install --index-url http://pypi.[mydomain].net:8080 package-name`

If that works,

[2018-08-02 03:12] pinkynrg commented on #216
I have the logs going to stdout i think. I just tried to execute

`/usr/local/bin/pypi-server -vvv -p 8080 -P /root/pypi-htpasswd /opt/pypi`

and for each of my requests the server always writes in stdout the following:

[code]

It happened something funny though: I execute it once on a machine though vpn inside my local network and it worked the first time. I 'control-C'ed the operation and tried

[2018-08-02 11:26] mplanchard commented on #216
Did you try setting `--index-url` in your pip command? It looks like pip is trying to grab the root of the server. Generally, it should be accessing packages from the `/simple` index, rather than the root, when pip is properly pointing to the index

[2018-08-03 00:39] renich commented on #211
Any progress on this?

[2018-08-03 01:54] mplanchard commented on #211
The new version's a big update, so it's taking a fair bit of time 😅

If having a Docker image in the repo tagged with `latest` is something you'd find valuable, though, I can make a "featureless" release just to get the automated system kicked off to create an image for the current version. Would that be helpful?

[2018-08-04 19:50] mplanchard commented on #211
I went ahead and released [`v1.2.3`](https://github.com/pypiserver/pypiserver/releases/tag/v1.2.3) to ensure we've got some official tags in the Docker [repo](https://hub.docker.com/r/pypiserver/pypiserver/tags/). Unfortunately, the automated builds seem to be currently [broken](https://github.com/docker/hub-feedback/issues/1592), but I was able to get them built manually.

I can confirm that I ca

[2018-08-04 19:50] #211 closed

[2018-08-05 07:14] renich commented on #211
Dude, you rock! Thanks a lot. I'll try and see if I can put this into kubernetes through helm.

Thanks again!

[2018-08-05 12:32] mplanchard commented on #211
No problem! If all works out well with Kubernetes, please feel free to open a PR or an issue with the manifest settings that worked for you, and we’ll get them added to the docs.

[2018-08-06 22:13] #214 closed

[2018-08-10 01:36] renich opened #218 "A docker compose example that works"
Guys, I'm in the process of creating a k8s deployment of pypiserver. I just wanted to fix the docker-compose.yml so it's updated to the v3.3 format.

[code]

You just need to create "data" and put a `.htaccess` file there with: `htpasswd -c data/.htaccess <username>`.

[2018-08-10 02:04] #218 closed

[2018-09-19 08:25] elboerto opened #221 "Socket error while installing packages"
I'm getting this errors in my pypiserver logs:

[code]
On the client side I get:

[code]

Can someone help me to track down this error?
Thanks! :)

[2018-09-20 22:35] mplanchard commented on #221
Hmm, this is an interesting one. Could you include some information about the server environment (OS, python version, pypiserver version, command-line args, etc.)?

Setting pypiserver to debug (passing `-vvv` on the commandline) and getting the server output might also be helpful

[2018-09-21 10:33] elboerto commented on #221
I could solve this error by changing the WSGI Server from default to paste by
`pypiserver --server paste`
so this might be a bug in the wsgiref implementation.

It was very hard to replicate this error because it occured infrequently and only under load situations (downloading 20 packages from 2 clients). I don't know if I have time to replicate it with the -vvv argument in the next weeks.

Python

[2018-09-25 21:21] #221 closed, assigned to nobody

[2018-09-27 18:32] degaglani opened #222 "Old package gets installed from private pypi server even if I copy new package"
I have created private pypi server.  I am creating installable tar.gz file and scp it in pypi server machine.  I see package in URL.  I am able to install this library as well.

But when I create updated library (with same version) and scp it in pypi server machine (under packages folder), on installing, I still get older package installed.

[2018-09-27 22:10] derekbrokeit commented on #212
I have this problem as well. I can confirm that most of my systems are working fine because I can run `python setup.py bdist_wheel upload -r internal` from a personal computer on the network with a `.pypirc` file. However, I am using `twine` from a `CI` shell in order to pass username and password as command-line arguments, which I do not think is possible using `python setup.py upload ...`

[2018-09-27 22:33] derekbrokeit commented on #212
I ran the server using `-vvv` and the following is the only set of logs expored to the console during the failed upload:

[code]

[2018-09-27 22:44] derekbrokeit commented on #212
I believe I solved the problem on my side. The password was passed to the shell without escaping some special characters. Because of this, twine had the wrong authentication. Correcting this behavior solved the issue.

[2018-09-28 14:47] mplanchard commented on #222
Hi there!

Could you help me to understand better what your situation is?

* What `pip` command are you running to try downloading the newer package?
* How are you running `pypiserver`?
* Are there any errors in the `pypiserver` logs?
* What version of `pypiserver` are you using?
* What operating system are you using?
* What is the output of `ls <package_directory>` on your server?

[2018-09-28 19:52] mplanchard commented on #222
You need to add `-U` or `--upgrade` to the install command to get `pip` to upgrade an already installed package. Were you including that flag?

It also looks like there's only one package in your package directory. Are you sure both versions are in that directory?

[2018-09-28 20:10] degaglani commented on #222
I am deploying same version of library.
Even when I go to http://ipaddress:8080/packages and download tar from this URL, still I get older package. NOTE: There is no change in version, I am just overwriting same package with same version.

[2018-09-28 20:47] mplanchard commented on #222
If you stop and restart the server, do you get the updated package?

[2018-09-28 21:04] degaglani commented on #222
Nope.. Tried restarting server

[2018-09-28 21:05] mplanchard commented on #222
Are you totally certain that the file is being overwritten? Unless you’re
serving the old file, this doesn’t really seem possible.

On Fri, Sep 28, 2018 at 5:04 PM degaglani <notifications@github.com> wrote:

[2018-09-28 21:55] degaglani commented on #222
When I login inside my pypi server, I see updated tar file.

[2018-10-06 22:02] mplanchard commented on #222
Did telling pip to ignore the cache help?

[2018-10-09 14:21] 80kk opened #223 "ReadOnly permissions"
Is it possible to have PyPi server with Apache based authentication with two users, one with full access and other one with RO access?

[2018-10-10 21:21] mplanchard commented on #223
At the moment, differential permissions based on users are not possible. However, we are working towards a more flexible architecture that should allow us to implement these kinds of features much more easily in the future

[2018-11-09 14:22] Diftraku opened #224 "Docker image missing bcrypt"
When running pypiserver with the official Docker image, uploading new packages fails due to missing bcrypt backend:

[code]

The container was created with the following options:
[code]

[2018-11-09 22:15] mplanchard commented on #224
Good catch! I'll have an update out shortly

[2018-11-09 23:01] mplanchard opened #226 "Tests break with twine 1.12 and above"
Twine's API has changed in 1.12.0, which breaks our test suite.

This has happened before, and I think the solution is to shell out to a subprocess calling twine's CLI interface, which has a stabler interface contract than the internal API.

Discovered while testing #225, in which PR I also pinned twine below 1.12 for tests. When resolved, the pin should be removed.

[2018-11-09 23:03] mplanchard opened #227 "Test against python 3.7"
We should add python 3.7 to our test suite. This is in progress on #225.

[2018-11-09 23:16] mplanchard commented on #227
Hm, I guess travis [doesn't support this yet](https://github.com/travis-ci/travis-ci/issues/9815) - closing this issue for now, but keeping `py37` in the `tox.ini` so it will at least run locally

[2018-11-09 23:16] #227 closed

[2018-11-09 23:32] #224 closed

[2018-11-09 23:34] mplanchard commented on #224
@Diftraku could you please try again using `pypiserver/pypiserver:unstable`?

[2018-11-10 00:12] Diftraku commented on #224
Uploading works without a hitch again, although I had to exec into the container to take ownership of the `packages` directory before pypiserver was able to write the new package to disk.

This may have something to do with how the mounts are setup and using unstable release but is most likely unrelated to this issue.

[2018-11-10 00:13] mplanchard commented on #224
Awesome! I was able to upload locally without changing the ownership, but I'll poke around for a bit to make sure that's not a general problem.

[2018-11-10 01:05] #226 closed

[2018-11-11 18:08] mplanchard commented on #224
Updated docker image should now be available at `pypiserver/pypiserver:latest` and `pypiserver/pypiserver:v1.2.5`. I included a minor fix to the pypiserver group in #228 in that image as well, so hopefully everything will now be working as expected.

[2018-11-12 10:23] Diftraku commented on #224
Tested this just now and everything works. I restored the files on disk to be owned by root and uploads work as expected.

[2018-11-12 15:55] TalLoss opened #231 "pip search to fallback url"
Hello!
Ive started to look around your pypiserver, and one of my tests was to check pip search to the fallback url, which apparently didn't really work for me.
I'm pretty sure it's because the function 'handle_rpc()' in _app.py, which isn't configured correctly, it only searches on the local packages a and not redirecting to the fallback url like the pip install (which pip sends a new GET request

[2018-11-14 07:21] mouse83843 commented on #222
I have same issue, the local pypi server does not show updated packages or new packages until I restart the server. I do not think it is pip issue, I tried pip with --no-cache-dir, it does not help.

[2018-11-14 07:29] mouse83843 commented on #222
The reason I think it is server is issue is because the links in welcome page of the server does not show update version of the packages or new packages dropped to package directory.

[2018-11-14 07:35] mouse83843 commented on #222
Just be clear, in my case, restarting the server resolved the issue, but I do not want to restart the server every time I update the packages or add new packages. Please advise.

[2018-11-20 15:40] RiceKab opened #232 "Remove outdated nginx docs, add instructions for proxy_cache"
### Context Summary

As mentioned in [the documentation](https://pypi.org/project/pypiserver/#serving-thousands-of-packages ) one option to increase performance is to serve packages from behind a static webserver.

The problem is that this requires the directory structure to have the structure conforming to [PEP 503](https://www.python.org/dev/peps/pep-0503/) which is not the default behaviour for

[2018-11-20 20:44] Beachnad opened #233 "Docker restart always"
Not sure if this is a docker issue or an issue with the package, but it would be very useful if `restart: always ` worked.

[code]

The restart feature is working on other docker containers I am running and I just can not figure out why it will not work here. Again, I do not know enough whether this is docker's fault or the package's fault or even possibly my fault.

[2018-11-27 02:52] mplanchard commented on #233
Is the behavior that you're seeing that the whole container stops and doesn't restart? Or is the container running, but the pypiserver service is not?

[2018-11-27 03:32] mplanchard commented on #232
Thanks for the detailed report! Sorry for the delayed response. I didn't get on the computer much over the holiday.

The problem you're running into is that the directory structure doesn't need to (and doesn't) map to the URL structure. PEP 503 says

We store all of the package files in a single directory. This helps to save a fair bit of complexity on the server side. But, we do serve packages vi

[2018-11-27 03:37] mplanchard commented on #231
Thanks for bringing this up!

Currently, fallback does not work with search. See [this comment](https://github.com/pypiserver/pypiserver/issues/181#issuecomment-335872710) for details as to why.

I did a little bit of work exploring the idea of making downstream requests for fallbacks, which was tracked [here](https://github.com/pypiserver/pypiserver/issues/177) but never got fully tested or merge

[2018-11-27 03:38] mplanchard commented on #231
Also, apologies for the late response. I wasn't on the computer much over the holidays 😅

[2018-11-27 03:44] mplanchard commented on #222
Is there any other possible caching going on? Are you running behind a reverse proxy or similar?

[2018-11-27 03:48] mplanchard commented on #222
P.S. does this happen only with `scp`, or do you see the same issue when uploading a package with `setup.py` or `twine`?

[2018-11-27 14:55] Beachnad commented on #233
The whole container fails to restart. I should mention that I have other containers running flask applications that do restart, but the pypi container fails to do so.

Let me add some more context:

**Dockerfile:**
[code]

**docker version**
[code]

**docker info**
[code]

[2018-11-27 15:03] Beachnad commented on #233
The entire container fails to restart. I should mention that I have other containers that are restarting successfully, it is just this container running the pypi server that is having troubles restarting.

Here is some more context:

**Dockerfile**
[code]

**docker info**
[code]

**docker version**
[code]

[2018-11-27 23:40] mplanchard commented on #233
Hmmm. I'm not sure what might be going on here. Are you running with docker compose or docker swarm? How long does it take for the container stop once you start it? Do you have any way of triggering the failure case so that I could try to replicate the issue here?

[2018-11-30 22:47] Beachnad commented on #233
I am using docker compose. It starts and stops immediately. You should be able to reproduce it by simply copying my Dockerfile and docker-compose file into a directory and running:

[code]

Then restart docker or reboot windows (I get the same result either way)

[2018-12-04 10:34] RiceKab commented on #232
I'll try and get around to doing some testing for it this weekend.

[2018-12-05 11:35] GreatBahram opened #234 "mirror with bandersnatch and run pypiserver on that"
HI there,
I want to mirror some packages from pypi with bandersnatch' whitelist plugin and serves that as a private pypi server with pypiserver? is that possible? is there any problem? and users also be able to publish their private packages on that server? is that OK?

Thanks

[2018-12-16 02:39] kellycampbell commented on #224
I'm still seeing this issue. I looked for the bcrypt files in /usr/lib/python3.6/site-packages, but that didn't exist. I also looked under /usr/local/lib/python3.6/site-packages.

When I tried building my own docker image, it looks like apk isn't adding any files, so I researched and tried `apk add py3-bcrypt`. This instlled, but pulled in the default apk for python3.

Then I added the /usr/lib lo

[2019-01-12 17:58] shaneberry opened #236 "Copied packages not showing up in Index of packages"
Hi,

I am trying out pypiserver and have copied a package into the packages folder, but the package does not show up in Index of packages.  I am wondering if there is any format the package needs to be in.  I copied the folder which has the __init__.py file and all of the python files in it.  The folder structure looks like this:

~/packages/requests/
         __init__.py
         api.py
        e

[2019-01-13 15:39] mplanchard commented on #236
Not quite! You’ll need to have your package built as either a wheel or a source distribution before uploading it to your pypiserver. This link should get you started: https://packaging.python.org/tutorials/packaging-projects/

Let me know if you run into any problems!

[2019-01-16 05:58] mwschall commented on #212
I spent half a day trying upload to the _index_ URL `http(s)://redact.ed/simple` when the response quite clearly stated `HTTPError: 405 Client Error: Method Not Allowed for url`. I refused to listen though, and had to look at [code](https://github.com/pypiserver/pypiserver/blob/cd7707379a35fb4f1e1c2081697a5a02b4a36e0b/pypiserver/_app.py#L173) twice before it dawned on me to try chopping off 'simpl

[2019-01-24 17:43] samwcyo opened #237 "CRLF injection via new line characters in URI"
**Summary**
pypiserver doesn't escape new line characters when redirecting users. I'm not too sure if this is only in the default installation, or that if users used a redirect functionality it would additionally be vulnerable.

**Steps to Reproduce**
1. Download pypiserver and host a default installation
2. Open http://pypiserver/%0d%0aSet-Cookie:malicious=1;
3. Observe cookie being set

**Impact

[2019-01-24 20:07] mplanchard commented on #237
Thanks for the report! I'll look into this and try to get it fixed ASAP.

[2019-01-24 23:56] mplanchard commented on #237
#238 I think should resolve this. At least it fixes it when running locally for me, on python 2 and 3. Could you take a look and see what you think, if you've got time?

[2019-01-25 05:38] #237 closed

[2019-01-30 22:22] larsrinn opened #240 "docker-compose.yml with nginx and let's encrypt"
Hey,

I think the provided `docker-compose.yml` could be extended a bit to make more use of the power of docker. I used the provided file as a starting point and added `nginx` and SSL encryption via let's encrypt. This might be useful for others: https://github.com/node-energy/pypiserver-nginx

If you agree, I'll be happy to contribute it back. I must confess, I'm not an expert in all of this, tho

[2019-01-31 02:14] mplanchard commented on #240
I like it! I think it's a solid example of setting up a fully functional pypiserver with `docker-compose`, and I especially like the integration with `letsencrypt`.

Seems to me like we might want to add an `/examples` directory to the main repository, containing these sorts of fully fleshed out, usable use-cases, along with some references to them in the main README and of course READMEs in each

[2019-01-31 02:15] mplanchard commented on #236
Closing this for now. Please feel free to reopen if you have more questions

[2019-01-31 02:15] #236 closed

[2019-01-31 02:16] mplanchard commented on #234
Hey, sorry for the slow response here. I was busy over the holidays and then got _rather_ distracted with normal workaday stuff.

Were you able to do this? I honestly have never tried to mirror pypiserver with bandersnatch, and I don't know enough about bandersnatch to say for certain whether it should work or not.

[2019-02-01 00:40] mplanchard commented on #234
Good to know. Thanks for the update!

[2019-02-01 00:40] #234 closed

[2019-02-01 00:48] mplanchard commented on #224
This should be resolved by #239, which has just been merged into master. The `unstable` image has already built, and I'll be cutting a `v1.2.7` release here in the next few minutes. Please feel free to re-open this issue if the problem is not resolved!

[2019-02-01 01:44] #223 closed

[2019-02-01 01:44] #231 closed

[2019-02-01 06:55] GreatBahram commented on #234
You're welcome!

[2019-02-05 16:10] willrogers opened #241 "pypi-uploader project seems to be dead"
The documentation describes using `pypiupload` to upload packages. However, when I tried to do this I got the following error:

[code]

When I looked up the project, I found that its Github page has disappeared: https://github.com/ignacysokolowski/pypi-uploader

[2019-02-05 16:35] mplanchard commented on #241
Oh dear! I'll remove that bit from the docs. I'd recommend using `twine` instead.

[2019-02-14 11:28] predicador37 opened #243 "docker image gives error No such file or directory: '/home/pypiserver/packages'"
Hi:
I'm trying to run pypiserver from the image uploaded to the Dockerhub, but it always shows this error:

` Error: while trying to list root(/home/pypiserver/packages): [Errno 2] No such file or directory: '/home/pypiserver/packages'`

The docker command I'm using is:

`sudo docker run --name pypiserver -p 8080:8080 pypiserver/pypiserver:latest -d pypiserver`

Any ideas? Thanks in advance.

[2019-02-14 15:12] bizlevel opened #244 "Not work at 80 port"
I have Fresh Debian 9 stretch and run next:
[code]

After that i run:
`pypi-server -p 8080 -a update,download --log-file /var/log/pypiserver.log -P /opt/htpasswd.txt /opt/packages`

And all is fine.
But if i run:
`pypi-server -p 80 -a update,download --log-file /var/log/pypiserver.log -P /opt/htpasswd.txt /opt/packages`

I got:
[code]

But no any service on 80 port are listener, i rechecked it by

[2019-02-14 15:39] bizlevel opened #245 "--log-file not use file to write logs, use console stout."
on fresh debian 9 host i run pipy as systemctl service with string:

`ExecStart=/usr/local/bin/pypi-server -p 8080 -a update,download --log-file /var/log/pypiserver.log -P /etc/nginx/.htpasswd /var/www/pypi`

Before i create **/var/log/pypiserver.log** Because i got error for this file.
But when i run this:
[code]
and start service, i not get output to that file - i got all echo to /var/syslog !
S

[2019-02-14 15:49] bizlevel commented on #244
We found solutions.
Need root right to run app on 80 port, or guid < 1000

[2019-02-14 15:49] #244 closed

[2019-02-14 23:00] mplanchard commented on #243
heyo!

The Dockerfile creates a persistent volume at `/data/packages`, and by default tries to serve packages from there:

[code]

Passing `pypiserver` as the final argument to `docker run` is replacing the `CMD` for your container instance:

[code]

and so is passing that argument to the `ENTRYPOINT`.

That being said, I get a different error from you when I do the same:

[code]

Could you verify

[2019-02-14 23:08] mplanchard commented on #245
I believe that those are bottle's logs, which we're just updating with `pypi-server` to make the source clear. If you set your verbosity higher with `-vvv`, do you see output in the logfile?

[2019-02-15 09:42] bizlevel commented on #245
Yes, if i use "**-v**" or "**-vvv**" - all is fine, all is correct. But withouth "**-v**" no logs, even if we use "**--log-file**"
And one question - what is minimal verbosity? If i will use "**-v**" it is not mininmal?
Thanks.

[2019-02-15 11:19] predicador37 commented on #243
Gosh... my fault! You're completely right. I have it running now, vesrion 1.2.7.

Thanks a lot and sorry for bothering you!

[2019-02-15 11:19] #243 closed

[2019-02-15 12:30] mplanchard commented on #243
No worries! I always prefer these kinds of issues to ones that mean I have to fix something 😊

[2019-02-15 14:05] predicador37 commented on #243
Nevertheless, I've had problems with directory permissions inside the container. the /data/packages directory was owned by root, not by pypiserver user as the Dockerfile shows. Then I cloned the repo and used docker-compose with the local Dockerfile and everything was OK. I checked that the pulled image from Dockerhub was the last one (1.2.7, uploaded 14 days ago). Maybe it is not really the most

[2019-02-15 14:40] mplanchard commented on #243
Hmmm. It's possible that the volume was created by the old image and maintained through to the new one, including its permissions.

If you've got the time, could you verify that everything behaves properly if you first remove all containers, images, and volumes, and then pull fresh? Something like the following commands:

[code]

[2019-02-16 00:06] mplanchard commented on #245
1, 2 and 3 `-v`s correspond to the `WARNING`, `INFO`, and `DEBUG` logging levels in Python, respectively. There are only three places in `pypiserver`'s code that emit log messages at the `WARNING` level. The situations that trigger warning logs are currently:

* someone tries to upload a file that already exists, without the overwrite option specified
* an `update` request is submitted with an uns

[2019-03-06 16:58] gadh opened #246 "server error when serving a lot of packages"
i use packages dir on a  with 150K packages, the server seems to load fine but every connection to it is broken - even to its homepage

[2019-03-11 21:31] #241 closed

[2019-03-11 21:34] mplanchard commented on #246
Sorry you’re having this issue!

Have you verified that your server works when you have fewer packages?

I suspect we may be running into available memory issues.

[2019-04-10 18:24] jopollack opened #247 "What is the easiest way to setup HTTPS with pypi server?"
I've encountered issues with my personal install of pypiserver not supporting https, and the --trusted-host flag being unsatisfactory as a workaround, so I'm curious what the lowest bar to entry method of enabling HTTPS with pypiserver is, as I see no instructions of any kind in the documentation about how to go about this.

Should a different WSGI server be utilized? If so, how is certificate inf

[2019-04-13 22:05] mplanchard commented on #247
The easiest, safest, and fastest way is probably to stick it behind nginx with a certificate from LetsEncrypt.

[Here](https://www.nginx.com/blog/using-free-ssltls-certificates-from-lets-encrypt-with-nginx/) is a blog post on setting up nginx to use LetsEncrypt.

We currently have no plans to implement native SSL support in pypiserver. We would prefer to leave that to the professionals.

The CLI f

[2019-04-19 00:17] henniss opened #249 "How are people avoiding name conflicts?"
My company uses a local instance running pypiserver to host our private projects. This has generally worked great... except this week someone registered a package with the same name as one of ours on PyPi, and their version number is higher, so pip defaults to installing it.

That's not their fault, of course, but it means we need to implement a better solution. Surely we're not the only ones who

[2019-04-20 20:38] mplanchard commented on #249
Glad to hear that things have been working out (mostly) well for you!

I'm not sure what other people are doing, but we used pypiserver for internal packages at a previous company, and we settled on an approach that was a bit of a hybrid of your suggestions:

* name projects with the organization name
* run pip with `--index-url=$OUR_REPO`

Because by default, pypiserver falls back to pypi.org **i

[2019-04-25 16:34] henniss commented on #249
Oh! That's exciting!

It looks like we're currently running an older version of Pypi server, 1.2.0, which tries to fall back on the old pypi domain. Because of that, I never noticed that it supported this fallback behavior. We just need to update our server and our pip.conf files and everything will just work.

Thanks for your help. I thought we'd need to go through and split up all our requiremen

[2019-04-25 16:34] #249 closed

[2019-04-25 20:45] mplanchard commented on #249
Awesome! Please don't hesitate to raise another issue if you run into any problems :)

[2019-04-30 14:33] jetheurer commented on #243
Should *tar.gz files be placed in the data/packages directory?

[2019-05-05 20:12] mplanchard commented on #243
@jetheurer by default pypiserver serves packages from the persistent `/data/packages` directory inside the container, so if you run the container, and then upload a package, you should see it reflected in the running container with `docker-compose exec pypiserver ls /data/packages`.

You wouldn't see them using `docker-compose run` because that starts up a new container instance, which will have i

[2019-05-05 20:28] mplanchard commented on #243
Actually, the comment in the compose file is dead wrong!

Sorry about the confusion. Working on an update now

[2019-05-05 21:47] #232 closed

[2019-05-05 22:24] mplanchard opened #251 "Switch CI to another provider"
I've not been super happy with Travis' performance recently, having to restart a bunch of builds b/c they timed out, etc. There's also the news from a few months ago that they are [laying off their senior engineering staff](https://news.ycombinator.com/item?id=19218036) after their recent acquisition.

Seems like a good time to consider switching to another provider. GitLab offers [good integratio

[2019-05-06 12:32] ILTShade opened #252 "Why is it useless after setting a password?"
I run this for a passed-procteced
[code]

but when I try to download some package using
[code]

I get this
[code]

why does this happen?

[2019-05-06 13:11] mplanchard commented on #252
You specified `--extra-index-url`, which means pip should look in your local index _as well as_ the normal PyPI index. And if you read your error output, you can see that you are in fact downloading `sh` from `https://files.pythonhosted.org/packages`, which is not your local server.

If you want to only download from your local server, you'll need to specify `--index` instead.

[2019-05-06 13:11] #252 closed

[2019-05-10 17:20] reallyquickturtle opened #253 "Alternative Storage Backends"
Allow to store packages in cloud storage services such as AWS S3.

This can be particularly useful when deploying on cloud infrastructure that has no persistent filesystem available (ECS, Heroku, etc.)

[2019-05-23 13:50] grahamskim opened #255 "401 Unauthorized when run with libapache2-mod-wsgi-py3"
I have the following app.wsgi file

    import pypiserver

    application = pypiserver.app(
                          root='/var/www/packages',
                          redirect_to_fallback=True,
                          password_file='/var/www/htpasswd'
                          )

    if __name__ == '__main__':
        application.run(host='0.0.0.0', port=8080)

This works correctly and allow

[2019-05-24 00:56] mplanchard commented on #255
Hey there! Do you get anything interesting if you start the app with `verbosity=3`?

[2019-05-29 07:13] a-recknagel opened #256 "Permission issues when using existing packages folder with Docker setup"
### How to reproduce
[code]
### Server logs
[code]
### Workaround

[code]
Doing this seems like a hack, and is not documented in [the section on docker deployments](https://pypi.org/project/pypiserver/#using-the-docker-image). Am I doing something wrong?

[2019-05-29 11:11] gaborbernat opened #257 "python3.7 warnings"
[code]

[2019-05-29 16:17] grahamskim commented on #255
Thank you for your reply @mplanchard !

Under Python the verbosity and log_file arguments work as expected, under WSGI sadly no dice.
When I get a spare moment I will ptrace it to figure out what the code is doing.

A work-around for people who find this issue on Google: Turning off PyPiServer authentication and authenticating with Apache worked, actually slightly better than the inbuilt because y

[2019-06-01 20:31] mplanchard commented on #255
I'm glad you found a workaround, and I apologize it's not clear what the issue is. Let me know if you find anything else, and I'll also try to find some time to spin up with apache and test for myself

[2019-06-10 22:59] mplanchard commented on #257
Hmm. Looks like these are all coming from our vendored version of `bottle`, and it looks like all of these issues are still present in their master branch. Would you mind opening an issue over there and linking back here?

If they can't get it fixed in a reasonable amount of time, I'm fine with updating our vendored version, but I'd prefer to stick with the upstream as much as possible :)

[2019-06-10 23:02] mplanchard commented on #256
Hm. I'm sorry you're getting this error!

I didn't have to do this locally when I was testing out the docker deployments. Could you give me a bit more information about the system you're running on?

Once we get the root cause figured out, I'll either update the docs to make things clearer or update the docker config to make it easier.

Totally agree with your use-case, and that was indeed our int

[2019-06-13 07:57] a-recknagel commented on #256
Hi @mplanchard, thanks for checking in this.

It seems I trashed that environment, so it took me a while to rebuild a good test case.
My system:
[code]

What I ran:
[code]

This will result in the error that I described, which will be visible in the docker logs.

[2019-06-18 16:58] jsolbrig opened #259 "readthedocs page outdated"
The documents hosted on [readthedocs.io](https://pypiserver.readthedocs.io/en/latest/) should either be updated or taken down.  They are from 2015 and still pop up as the top google result when searching for pypiserver.

[2019-06-26 21:03] fwkz commented on #256
Same issue here. 👋

[2019-06-26 23:13] smekkley opened #260 "Is it a expected behaviour that it requires restart of wsgi server after adding a package locally?"
I'm using uwsgi, but every time I add a package, I need to restart the server in order for a client to install or find the new package. Reload doesn't work as well.

[2019-06-27 18:14] smekkley commented on #260
I've set cache_control=1, then the issue was solved. Sorry for making the unnecessary issue.

[2019-06-27 18:14] #260 closed

[2019-07-06 20:44] wittlesouth opened #261 "Documentation for -P is incorrect"
The -P option appears to require no spaces after the P for it to work correctly. I encountered this in my dev Kubernetes instance where I wanted no authentication, and I could not get the server to start with the following CMD:

`CMD ["pypi-server", "-p 8080", "-P .", "-a .", "/root/packages"]`

However, the following CMD (no space between P and .) worked as expected:

`CMD ["pypi-server", "-p 808

[2019-07-08 22:44] mplanchard commented on #261
Have you tried separating out your parameters like this?

`CMD ["pypi-server", "-p" "8080", "-P" ".", "-a" ".", "/root/packages"]`

That is generally the way I have seen it done, with each argument as an item in the array. There's an issue over in moby/moby#2201 describing why this is.

[2019-07-08 22:47] mplanchard commented on #259
I agree with you! I didn't even know we had them, to be honest, and I don't have access to take them down.

@ankostis do you have access to the readthedocs build?

[2019-07-09 07:01] ankostis commented on #259
No, i don't see *pypiserver* under my projects :-(

[2019-07-09 07:07] ankostis commented on #259
I can see that it belongs to @ror6ax ([rtd-user](https://readthedocs.org/profiles/ror6ax/)).

[2019-07-10 22:31] wittlesouth commented on #261
I have not tried that, but I'm confused why there is no space required in front of -a, and there is in front of -P. I can try it, do you want to update the docs if it works?

[2019-08-04 19:31] mplanchard commented on #261
I also am not sure why the space between `-a` and its argument worked in the first form. I'm happy to accept a docs PR that makes this clearer for people!

[2019-08-04 19:32] mplanchard commented on #260
No worries! Glad to see you resolved it :)

[2019-08-09 08:09] smekkley commented on #222
Probably this issue. #260
After setting it short, running pip search command a few times against that package will update the index.

[2019-08-19 20:56] dan-stromberg opened #262 "Binary wheels on Linux?"
Pypi does not accept the upload of binary wheels for Linux.

Does pypi-server allow Linux binary wheels?  I'm hoping it does.

[2019-08-20 00:49] mplanchard commented on #262
I don't see why we wouldn't, unless either a) pip won't download them or b) setuptools/twine won't upload them, we conform to the [simple repository interface fro PEP-503](https://www.python.org/dev/peps/pep-0503/).

If you try it and it doesn't work, please let me know!

[2019-08-22 10:32] ayiis opened #263 "Docker blocks request on MacOS"
Hi, thanks for your work.

I use the latest docker version by

[code]

It works fine on Centos, but it's easily got blocked when processing requests on MacOS.
At:

[code]

However, it seems something to do with `simple_server` and related to an issue of Python itself at https://bugs.python.org/issue21878.

I guess most people don't use this project on MacOS, I'd like to post more info if you need.

[2019-08-27 17:37] mkolb-navican opened #264 "Docker Image 1.3.0 Dockerfile minor configuration change"
The apk py2-pip package installation should be with the base container otherwise the command "pypi-server -U /data/packages" will error:

pypi-server -U /data/packages
Traceback (most recent call last):
  File "/usr/bin/pypi-server", line 11, in <module>
    load_entry_point('pypiserver==1.3.0', 'console_scripts', 'pypi-server')()
  File "build/bdist.linux-x86_64/egg/pypiserver/__main__.py", line

[2019-09-02 15:07] ArneBachmann opened #265 "Problem with different hash algos"
I uploaded my first package to a self-hosted pypiserver.
Then I tried to install it via pip install, and it failed with
[code]
which makes no sense, as I don't use requirements files.

I debugged pip for an hour and finally found out where the expected hash is coming from:

It stems from the webserver-output in `_app.py` that renders the `pypserver/simple/mypackage` list of files.

I then looked i

[2019-09-02 15:39] mplanchard commented on #265
Thanks for the report! I’ll look into this.

It seems odd to me that pip only wants the first 32 chars of the hash. The
simple repository interface PEP (503) makes no reference to truncating the
hashes:
https://www.python.org/dev/peps/pep-0503/

Could you provide some more detail when you have a moment regarding how
you’re generating and uploading the package, as well as which version of
pip you’r

[2019-09-02 15:41] mplanchard commented on #265
Also out of curiosity, have you tried this no-cache solution?
https://stackoverflow.com/questions/40183108/python-packages-hash-not-matching-whilst-installing-using-pip

On Mon, Sep 2, 2019 at 10:07 AM Arne Bachmann <notifications@github.com>
wrote:

[2019-09-02 16:37] ArneBachmann commented on #265
Yes, my first thought was something off with my pip installation.
But it turns out the problem is in pypiserver as detailed above. I can send a pull request tomorrow, if you like.

[2019-09-02 18:03] mplanchard commented on #265
Yep, you're absolutely right. I was able to reproduce this all the way back to pip 8.0, and I looked back in the git history, and it appears to have been broken for at least four years! Great find.

I've got a breaking test here locally, so I'll just clean that up and get things updated.

[2019-09-02 19:21] ArneBachmann commented on #265
I was questioning my sanity this afternoon, but good to hear my findings were not completely off.
FYI we are using `pypiserver` in a Vagrant VM, if you're interested in that.

[2019-09-02 19:32] mplanchard commented on #265
Sorry about that! I was skeptical because the related code hadn't changed in so long, but I guess it's been broken for a while. I just merged the fix into master. Would you mind giving it a shot and verifying it fixes your issue?

[2019-09-04 16:30] esciara opened #267 "Add documentation for supported actions (remove_pkg, ...)"
Hi,

I tried to find how to remove a package from `pypiserver`, but found it very hard to find clues. What saved me was #200, which just about mentioned a `remove_pkg` action. Then I found that this action was introduced in #31 .

I could not find any doc listing the available actions, whether in `pypiserver`'s doc or elsewhere. Even less about how to use them with a `curl` for install.

Could any

[2019-09-04 19:02] esciara commented on #267
As a note, the `curl` to remove a package is:
[code]

[2019-09-04 20:04] esciara opened #268 "remove_pkg action does not remove all instances the package"
If a package at a certain version has been uploaded in several formats, only one is removed when performing the `remove_pkg` action. Hence when trying to upload the package again for instance, the upload will fail.

For instance, packages could be uploaded in `*.tar.gz` and in `.whl` formats, as in my case:
[code]
The code causing the issue is:
https://github.com/pypiserver/pypiserver/blob/91a5ebd

[2019-09-05 23:01] mplanchard commented on #268
Yep, that makes sense. Thanks for the report! I'll try to get to this this week[end].

[2019-09-05 23:10] mplanchard commented on #267
Yeah, you're right. We don't currently document the functionality that's not exposed through twine/pip and the standard simple repository interface. I'll dive in and throw something into the readme at some point!

[2019-09-06 11:34] esciara commented on #267
Thanks!

[2019-09-11 01:41] mplanchard commented on #265
Closing, as this was resolved by #266 and released this evening. Please feel free to open a new issue if you find any problems, and thanks again for the detailed report!

[2019-09-11 01:41] #265 closed

[2019-09-18 01:44] #251 closed

[2019-09-18 02:23] mplanchard commented on #264
Thanks for the report. I will try to dig into this soon.

Regarding logging, the default I believe goes to stdout with the level of `WARNING`. If you run without specifying a log file but upping the verbosity some number of `-v` arguments, do you get better output?

[2019-09-18 02:25] mplanchard commented on #263
Thanks for the report! I have run this on MacOS, but not "officially," like to serve packages externally. Luckily, that means I can dig in!

Could you explain to me the best way of replicating the error? Does this happen on every request?

[2019-09-25 08:11] ayiis commented on #263
Yes, I'm glad to. It rarely happens. It's working good and quick behind the `curl` or `wget` command all the time.

Here's how I replicate the issue:

[code]

It has a 50% chance to block the request, and it often happens after I reload the page in the Chrome. If it's not, stop the container and try it again with the above step.

[2019-09-27 13:38] Hedgehogues commented on #212
I came across the same problem and spent 2 nights on it. Initially, I started the server using docker-compose. If you look at docker-compose, which is in the repository, you will notice that there are 3 containers there and by default the one that runs on port 8080 is not configured with the .htpasswd file. Another container on port 8081 is configured with the `.htpasswd` file. It is this port tha

[2019-09-29 14:18] Hedgehogues opened #274 "Authorisation"
Hey. I really liked pypi-server. It is awesome enough to just run and easy to use. Thank you for your work.

But I still have a question, can I just as easily configure the roles on the pypi-server to access specific resources. It seems that I can do this with reverse-proxy, but I'm not sure if pip can just interact with it. Tell me, is there any easy way to do this? Is it possible to do this with

[2019-09-30 02:24] mplanchard commented on #274
Glad it's mostly working for you!

Do you mean for specific packages?

Having passlib installed allows you to specify that certain actions (download, upload, etc.) be restricted unless someone has the username/password (supplied via HTTP basic auth). This works well with pip and twine. The passlib dependency is just to read a "passlib" file, which just a way of storing hashed passwords (https://pa

[2019-09-30 09:24] lukasz-madon commented on #223
@mplanchard ant update on this? Seems like a very common use case. I want only my CI/CD server and admin to write. The rest can only download libraries.

[2019-10-01 21:39] #274 closed

[2019-10-02 00:29] mplanchard commented on #223
I'm still working on a "version 2" in my spare time, but it's got to compete with lots of other priorities, i.e. work that pays the bills and family.

@lukasz-madon would allowing unauthenticated downloads and restricting other operations work for your use-case? Or is it essential that the download permission be scoped to a particular user?

If this is something that people have more of an interes

[2019-10-02 13:53] lukasz-madon commented on #223
Not really. Basically, I'd like to block Data Scientist push something to pypi by accident and breaking other people code.

As we all do :) Thanks for your effort.

[2019-10-08 22:09] dms-cat opened #275 "pipenv doesn't find any versions"
I'm running `pypi-server  --port 8080 --authenticate . --passwords . /var/www/pypiserver` on a server we'll just call "hostname". `pip3 install --trusted-host hostname --index http://hostname:8080/simple/ django` works:

[code]

(Strangely, though, the foreground `pypi-server` process doesn't log anything and there's nothing in /var/www/pypiserver after running this command.)

But after setting

[

[2019-10-08 22:35] dms-cat commented on #275
Looks like `verify_ssl` applies even if the URL is not HTTPS, so I need `verify_ssl = false` for non-*TLS* connections to work. I'm still confused why the proxy doesn't seem to be storing anything in /var/www/pypiserver though.

[2019-10-09 00:01] #275 closed

[2019-10-12 19:26] mplanchard commented on #275
I'm glad you got everything figured out! Don't hesitate to ask here if you've got any more questions

[2019-10-28 17:36] pinkynrg opened #279 "How to increase max package size when using docker"
Currently I get:

[code]

[2019-10-28 18:24] pinkynrg commented on #279
Sorry it was my reverse proxy the problem.

[2019-10-28 18:24] #279 closed

[2019-10-28 18:25] pinkynrg opened #280 "permission denied using docker"
when running pypi with docker I get:

[code]

[2019-10-31 18:28] etene opened #281 "Use Python 3 in Docker container"
Hello,

I've noticed the Python version used to run pypiserver in its official Docker container is still 2.7.
Since it reaches EOL soon, would you object to upgrading to Python 3 ?

I'd like to work on this and submit a PR if you're interested. I might base the image on an official Python alpine image like `3.6-alpine`, if you're OK with that.

[2019-11-05 12:36] tehiladaboush commented on #212
For me it happened because didn't use  **-P .htaccess** when starting the server. when I added it , all worked :)

[2019-11-06 13:03] HenrryVargas opened #282 "ValueError: malformed htpasswd file when use helm to install pypiserver"
I am using pypiserver chart to install it in kubernetes.

**I have in the values.yaml:**

[code]

**I have  in the deployment.yaml:**

[code]

**message from pod:**

[code]

[2019-11-10 22:30] mplanchard commented on #282
It looks like this error is being raised directly from the `passlib` library. I'd recommend using the [htapasswd](https://httpd.apache.org/docs/current/programs/htpasswd.html) command directly to verify your `htpasswd` file. If you're configuring your server to use an `htpasswd` file, and `passlib` cannot parse it, there's not much we can do other than raise the error.

[2019-11-10 22:34] mplanchard commented on #212
Thanks so much for posting updated `docker-compose` configs. I've tried to provide an example config file that shows a lot of different ways that things can be configured. It's not really meant to be used directly, but instead to illustrate how you might want to set things up. I hate to think that this is causing confusion, and am definitely open to suggestions about how it could be made clearer!

[2019-11-10 22:43] mplanchard commented on #281
Glad you noticed! I would love to accept help on this, and I'm definitely for upgrading the image to use Python 3. Our next major version will probably drop official python 2 support, since it's EoL.

Seems like basing it on the official python alpine image would be totally fine. In general, everything should "just work," since we try to stay well tested and up to date with Python 3.

Don't hesita

[2019-11-10 22:48] mplanchard commented on #280
Closing as a duplicate of #256

[2019-11-10 22:48] #280 closed

[2019-11-10 23:34] mplanchard commented on #256
Thanks for the reproduction and reports! Sorry it's taken so long to get to this.

So the reason this is happening is because the `pypiserver` Dockerfile manually specifies a UID and GID for the `pypiserver` user and group, respectively. The reason for this is for security. There is no reason for the `pypi-server` instance within the container to run as `root`. See [here](https://docs.docker.com/v

[2019-11-10 23:48] mplanchard commented on #223
I think one of the major things I'd like to add in the next version is proper RBAC, so you can e.g. have a DataScientist role that you assign to users, granting them permissions to do x, y, and z authenticated actions. Please let me know if you have any particular wants for such a system so I can get them into the design!

[2019-11-10 23:57] mplanchard commented on #263
Sorry it's taken me a while to get back to you on this! I'm having trouble reproducing locally.

I ran the pypiserver container, opened up the website in Chrome and Firefox, and then started a loop of `while true; do curl localhost:8080/simple/; sleep 0.5; done`. I then went back to the browsers and started pressing cmd+r over and over to refresh the page.

I was only able to get 200 responses the

[2019-11-11 00:01] mplanchard commented on #262
Closing for now. Please feel free to re-open if needed

[2019-11-11 00:01] #262 closed

[2019-11-11 00:13] #264 closed

[2019-11-11 00:14] mplanchard commented on #264
I believe that e074cd7 fixes the docker issue! It should be out on the `unstable` channel here shortly for testing, or you can build it yourself.

Regarding your question I missed when I originally read this issue:

I believe you should be fine. The only system libraries we install are python ones, and there's no reason that updating those should affect the application that I know of.

[2019-11-12 10:40] etene commented on #281
The official Python Alpine image is bigger than the base Alpine one, I think I can get the image size a bit under 100M by using a multi stage build, but not much smaller. Is that a problem ?

I think that it's cleaner to use the official image, and that the image size trade-off is worth it, but if you see a problem with that I'll switch back.

[2019-11-13 20:42] smekkley commented on #181
For me, pip search works across many python/pip version, even with the latest pip version.
The only difference I noticed is that it's pretty strict. Like uppercase packages cannot be found by lower case search. I think it's also strict on underscore/dash. I'm not sure if it's worth creating a new issue.

We also want to watch out for this issue. Maybe xmlrpc will be gone in the future.
https://git

[2019-11-16 08:40] ayiis commented on #263
That's great it works fine on yours.

I just pulled the latest `pypi` image and tried again, and the exactly same thing happened, it still blocks my request for some reason. However, since I am the only one issue this situation, I suppose there may be something wrong within my MacOS.

I closed this issue, if I dug deeper I'll be back with an update.

Thanks for your time. Have a nice day.

[2019-11-16 08:40] #263 closed

[2019-11-16 17:53] mplanchard commented on #263
No worries! Please feel free to re-open if needed, and I'm happy to dig in further if you get more info.

[2019-11-17 03:20] tomsaunders-code commented on #253
@mplanchard or @ankostis is this something you would be interested in supporting? I think may be able to help contribute to here.

The NPM community has a really nice private package server called Verdaccio that features this kind of plugin based storage backend.

https://github.com/verdaccio/verdaccio
https://github.com/Remitly/verdaccio-s3-storage

[2019-11-21 21:30] asottile commented on #257
looks like the `collections` imports at least were fixed -- https://github.com/bottlepy/bottle/blob/0dd195111621b4db5e9b7d5e5852fab3c6270098/bottle.py#L132

this is blocking testing of python3.9 in `virtualenv`: https://github.com/pypa/virtualenv/pull/1450

[2019-12-04 13:15] Spriithy opened #285 "Hosting PyPi packages on custom pypiserver"
Hi,

I was not sure where to ask this, so excuse me if it is the wrong place.
I need to provide a custom PyPi server hosting specific packages on an intranet.

So far I have managed to run the PyPi server, but have not found a way to add packages (not custom ones...) to the server. Let me explain...

I need to host some versions numpy, pandas and many other packages on my server. I have tried to c

[2019-12-04 14:48] Spriithy commented on #285
Found my way with python-pypi-mirror. Thanks

[2019-12-04 14:48] #285 closed

[2019-12-06 17:08] ruifpedro commented on #268
Heya @mplanchard, do you have any idea of when this fix will be available in docker images (excluding unstable)?

[2019-12-12 14:27] allanmachado1 opened #286 "Server randomly hangs"
I'm running pypiserver using the Docker image version 1.3.1 with minimal change. My current Dockerfile is the following:

    FROM pypiserver/pypiserver:v1.3.1
    ADD htpasswd /htpasswd
    CMD ["--disable-fallback", "-P", "/htpasswd", "-a", "update,download,list", "packages"]

Sometimes the server just hangs.
It can happen when I'm installing something from the index using pip or pushing a new p

[2019-12-15 15:12] Helveg commented on #247
Another easy way is to use a `VirtualHost` directive in Apache with `mod_wsgi`. You can configure your vhost to use SSL like you normally would in Apache, a process for which extensive documentation and tools are freely available.

## Minimal addition to your VirtualHost directive

[code]

The `WSGIScriptAlias` allows you to specify a "mount" location for you pypiserver, here the `/` root of the V

[2019-12-15 15:13] Helveg opened #287 "Can I disable `twine register` requests?"
Is it possible to disable the registration through `twine`? I'd like users to register through my website instead.

Follow-up: Can I display a custom message to people who do try to `twine register`?

Do you foresee any problems with this approach?

Edit: I think this question boils down to the possibility to provide a **read-only** passwords file. I could submit a PR for this if pointed in the ri

[2019-12-17 13:13] Helveg commented on #287
Sorry, misleaded myself with a faulty test setup

[2019-12-17 13:13] #287 closed

[2019-12-24 05:36] #281 closed

[2019-12-24 05:39] mplanchard commented on #247
@Helveg we don't have a lot in the docs for running w/apache, so if you'd be willing to toss this into the README somewhere, I'd gladly take a docs contribution!

[2019-12-24 05:42] mplanchard commented on #268
@ruifpedro sorry for the delay. Q4 is a terrible time for OSS commitments for me. I'll be pushing to try to get a new release out sometime either before the new year or shortly thereafter

[2019-12-24 05:49] mplanchard commented on #286
Thanks for the report! Are you running `pypiserver` directly or are you reverse proxying with a proper webserver like nginx or similar?

[2019-12-24 18:17] ruifpedro commented on #268
No worries. Totally fine with that time scale, thanks for your commitment.
I hope you'll have a very good Christmas and a Happy New year!

[2019-12-29 01:36] jayvdb commented on #202
watchdog is active again, and that travis failure is quite minor. I pinged the PR.

I want symlink support so I can include the real pre-existing pip wheel cache dir, as a possible alternative to `landinggear`. C.f. https://github.com/jerith/landinggear/pull/3

[2019-12-29 01:39] jayvdb commented on #253
I would be interested in a local backend that re-uses the real pip cache. c.f. https://github.com/jerith/landinggear/pull/2

[2020-01-04 13:23] Helveg opened #288 "Auther function unreachable without WSGIPassAuthorization"
If you're running the pypiserver under `mod_wsgi` for Apache2 the `auther` keyword is ignored unless `WSGIPassAuthorization On` is provided in the Apache2 configuration. The documentation states that this is "optional" and is intented to "use also Apache's authentication". Both of these are misleading in this case.

I think it has something to do with the following lines of code:
https://github.co

[2020-01-05 09:47] Helveg commented on #247
I checked the README and it all seems to be there, it just doesn't mention HTTPS.

[2020-01-05 12:01] Helveg commented on #247
I gave it a go here https://github.com/pypiserver/pypiserver/pull/289 but I couldn't really find a good place for mentioning these things.

[2020-01-06 13:38] deemetree-at-satelligence commented on #253
If anyone would be willing to collaborate and kick it off I would be happy to join up as well, looking in particular for options to conveniently use it with Google Cloud Storage in App Engine. (Possibly I have misread or not found a solution that already exists)

[2020-01-09 02:50] ryan4yin commented on #267
@mplanchard does pypiserver provide any way to delete some releases of a package?
in order to save storage space, we are looking for ways to clean up historical data.

[2020-01-09 15:49] mplanchard commented on #267
@ryan4yin yes, the curl command above should do it. There's a bug in the currently released version that will only result in one old package being removed, but that is fixed in master and will be included in the next release (see #273).

This ticket is high on my TODOs (and of course I'd accept PRs), which is to document that functionality, which is currently undocumented.

[2020-01-11 00:36] mplanchard commented on #253
This is definitely something we'd like to support! It's one of the major things I'd like to get into pypiserver this year.

[2020-01-11 22:57] mplanchard commented on #288
What were you passing in as the `auther` in this case? I'm glad this seems to be failing closed (better to return an unexpected 401 than an unexpected success), but I'd like to understand the use case and figure out if we should be doing something differently here.

[2020-01-11 22:59] mplanchard commented on #247
We've had some really great discussion and contributions here. Thanks everybody! I'm going to close this for now just for organizational purposes. Feel free to reopen if there's more discussion to be had.

[2020-01-11 22:59] #247 closed

[2020-01-11 23:47] mplanchard commented on #268
This fix is now available in v1.3.2, both in PyPI and as a Docker image 🎉

[2020-01-11 23:47] #268 closed

[2020-01-11 23:48] #282 closed

[2020-01-11 23:49] mplanchard commented on #286
The current Docker image (`latest` or `v1.3.2`) includes some significant changes, including running in Python 3 rather than Python 2. Could you check to see if this is still happening?